<div class="box user-guide-box">
	<section>
		<h4>Grow your network</h4>
		<p>
			<a href="{{href-to 'invites'}}">Invite</a> friends, co-workers and business associates to follow you on Brydge.

		</p>
	</section>
</div>
