<div class="box user-guide-box">
	<section>
		<h4>INVITE TO BRYDGE</h4>
		<p>
			Grow your network. <a href="{{href-to 'invites'}}">Invite</a> friends, co-workers and business associates to follow you on Brydge.

		</p>
	</section>
</div>
