<div class="box user-guide-box">
	<section>
		<h4>Grow your network</h4>
		<p>
			Invite friends, co-workers and business associates to follow you on Brydge.
		</p>
		<a href="{{href-to 'invites'}}" class="button success expanded">Invite to Brydge</a>
	</section>
</div>
