<div class="row">
  <div class="12-medium column">
    <ul>
      {{#each newsfeed as |post|}}
          {{newsfeed-item post=post}}
        {{else}}
          <p>(No records found)</p>
      {{/each}}
    </ul>
  </div>
</div>

{{yield}}
