<div class="row">
  <div class="12-medium column">
    <form {{action 'post' on='submit'}}>
      <label>
        Share something
        {{textarea value=postContent placeholder='What can I share now?'}}
      </label>
      <a href="#" {{action 'cancel'}}>Cancel</a>
      <button class="button small">Post</button>
    </form>
  </div>
</div>

{{yield}}
