<ul class="no-bullet sidebox box-list">
{{#each model.experiences as |work|}}
  <li>
    <div class="name">{{work.title}}</div>
    <div class="text-light-gray">{{work.company}}</div>
    <span class="dim-text">May 2013 - Present (2 Years and 6 Months)</span>

    {{#zf-accordion-menu}}
      <li>
        <ul class="no-bullet vertical nested">
          <li><p>{{work.content}}</p></li>
        </ul>
        <a class="more no-arrow"><span class="content-more">Show More</span><span class="content-less">Show Less</span></a>
      </li>
    {{/zf-accordion-menu}}           
    
  </li>

  
{{/each}}
<!--     <li>
      <div class="position">Head of Digital Marketing, Asia Pacific</div>
      <div class="name">Pepsico</div>
      <span class="dim-text">May 2013 - Present (2 Years and 6 Months)</span>
      {{#zf-accordion-menu}}
        <li>
          <ul class="no-bullet vertical nested">
            <li><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li>
          </ul>
          <a class="more no-arrow"><span class="content-more">Show More</span><span class="content-less">Show Less</span></a>
        </li>
      {{/zf-accordion-menu}}           
    </li>
    <li>
      <div class="position">Senior Director, Digital Marketing </div>
      <div class="name">Pepsico</div>
      <span class="dim-text">May 2013 - Present (2 Years and 6 Months)</span>
      {{#zf-accordion-menu}}
        <li>
          <ul class="no-bullet vertical nested">
            <li><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li>
          </ul>
          <a class="more no-arrow"><span class="content-more">Show More</span><span class="content-less">Show Less</span></a>
        </li>
      {{/zf-accordion-menu}}           
      
    </li>
    <li>
      <div class="position">Head, Social & Digital Marketing</div>
      <div class="name">Leo Burnett</div>
      <span class="dim-text">May 2013 - Present (2 Years and 6 Months)</span>
      {{#zf-accordion-menu}}
        <li>
          <ul class="no-bullet vertical nested">
            <li><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li>
          </ul>
          <a class="more no-arrow"><span class="content-more">Show More</span><span class="content-less">Show Less</span></a>
        </li>
      {{/zf-accordion-menu}}           
      
    </li>
 -->
</ul>