<ul class="no-bullet sidebox box-list">
{{#each model.experiences as |work|}}
  <li>
    <div class="position">{{work.title}}</div>
    <div class="name">{{work.company}}</div>
    <span class="dim-text">May 2013 - Present (2 Years and 6 Months)</span>

    <a href="" class="more">Show More</a>
    
  </li>
  
{{/each}}
</ul>