<div class="avatar" style={{htmlSafeImage user.profile.avatarUrl }}>
  <img src= {{user.profile.avatarUrl}} class="hide">
</div>
<div class="user-info">
  <a class="name">{{ user.profile.fullName }}</a>
  <div class="position">{{user.profile.career}}</div>
</div>
