{{input value=value key-up="query" focus-in="open" placeholder=placeholder autocomplete="off"}}
<div class="wrapper {{if isOpen 'is-open'}}">
	<ul class="no-bullet">
	{{#each items as |item|}}
		<li {{action "onSelect" item}}> <a>{{location-join item}}</a> </li>
	{{/each}}
	</ul>
</div>
