{{input value=value key-up="query" focus-in="open" placeholder=placeholder autocomplete="off"}}
<div class="wrapper {{if isOpen 'is-open'}} shadowed">
	<ul class="no-bullet">
	{{#each items as |item|}}
		<li {{action "onSelect" item}}>{{location-join item}}</li>
	{{/each}}
	</ul>
	{{#if isOpen}}
	<a class="button success expanded" data-open="locationModal">Can't find your city?</a>
	{{/if}}
</div>