.accordion-form{
	label.title{
		margin-bottom: 10px;
	}
	label{
		input{
			margin-bottom: 0;
		}
		input[type="radio"]{
			// display: none;
		}
	}
	section.header{
		select, label{
			margin-bottom: 0;
		}
	}
	.button.clear{
		text-decoration: underline;
		color: $text-gray;
	}
	.name{
		color: $body-text-color;
	}
	.accordion-item{
		.accordion-header{
			display: block;
			padding: 1rem;
		}
		.col{
			display: inline-block;
			vertical-align: middle;
			padding: 1rem;
			width: 29%;
		}
		.col:first-child{
			width: 70%;
		}
	}
	.accordion-item.is-active{
		.content:not(.form-new){
			&:after{
				@extend .arrow;
			  top: -19px;
			  left: 48%;
			  border-color: transparent transparent $brydge-gray transparent;
			  border-width: 11px;
			}
			&:before{
				@extend .arrow;
			  top: -21px;
			  left: 48%;
			  border-color: transparent transparent $border-color transparent;
			  border-width: 11px;
			}

		}

	}
	.accordion-content{
		position: relative;
	}
	.content{
		background-color: $brydge-gray;
		border-top: 1px solid $border-color;
		padding: 1rem 3rem;
		textarea{
			font-size: 12px;
			margin-bottom: 1rem;
		}

	}

}

.accordion-picker{
	.box{
		margin-bottom: 0;
	}
	.accordion-title{
		color: $button-blue;
		background-color: $brydge-gray;
		padding: 1rem;
		font-weight: bold;
		border: none;
	}
	.accordion-sub-title{
		border-bottom: 1px solid $border-color;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}
	.accordion-title:before{
		background-image: url(icons/caret.png);
		content: '';
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    opacity: .5;
	}
	font-size: 12px;
	section{
		padding: 1rem 2rem;
	}
	label{
		font-size: 11px;
	}
	form:not(:last-child){
		border-bottom: 1px solid $border-color;
	}
	.content-pad{
		padding-top: .75rem;
		padding-bottom: .75rem;
	}
	.columns:last-child{
		border-left: 1px solid $border-color;
		min-height: 122px;
	}
	.sub-title{
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		color: $body-text-color;
	}
	.accordion-content{
		border-bottom: none !important;
	}
	.accordion-footer{
		background-color: $brydge-gray;
	}
}

#channelPicker, #locationPicker{
	.columns:first-child{
		border-right: 1px solid $border-color;
	}
	.columns:last-child{
		border-left: none;
	}
}
