.wrapper, .button-wrapper{
	position: relative;
	&.button.large{
		padding: 0;
		a{
			display: block;
			padding: 13px;
		}
	}	
}

.button{
	background-color: #FFF;
	&.success{
		color: #FFF;
		&:hover, &:focus{
			color: #FFF;
			background-color: $dark-blue;
		}
	}
	&.secondary{
		color: #666;
		&:hover{
			color: inherit;
		}
	}
	&.large{
		font-size: 21px;		
		padding: 13px;
	}
	&.clear{
		background: transparent;
		color: #000;
	}
	&.text-blue:hover{
		color: $brydge-blue;
	}
	&:hover{
		background-color: #FFF;
	}
}

// .button-group .button{
// 	border: 1px solid $border-color;
// }
// .button-group .button:not(:last-child){
// 	border-right: none;
// }


.dropdown-button{
	position: relative;
	padding: 8px;
	padding-right: 30px;
	font-family: 'Arial';
	font-size: 12px;
	.icons{
		opacity: .5;
	}
	.fa-caret-down{
		font-size: 16px;
		line-height: 1.6em;
	}
	.icons, .fa-caret-down{
		position: absolute;
		right: 10px;
		top: 2px;
		width: 10px;
	}

}



.profile-actions a.button[data-toggle=dd-public-options]{
	padding: 12px 13px 11px;
	.icons{
		opacity: .2;
	}
}