
.button{
	&.default{
		background-color: #FFF;
	}
	&.success{
		color: #FFF;
		&:hover{
			color: #FFF;
			background-color: $dark-blue;
		}
	}
	&.secondary{
		color: #666;
	}
	&.large{
		font-size: 24px;		
		padding: 13px;
	}
	&.clear{
		background: transparent;
		color: #000;
	}
}

.button-group .button{
	border: 1px solid $border-color;
}
.button-group .button:not(:last-child){
	border-right: none;
}


.dropdown-button{
	position: relative;
	padding: 8px;
	padding-right: 35px;
	font-family: 'Arial';
	font-size: 12px;
	.fa-caret-down{
		font-size: 18px;
		position: absolute;
		right: 10px;
		top: 5px;
	}
}