
.wrapper, .button-wrapper{
	position: relative;
	&.button.large{
		padding: 0;
		a{
			display: block;
			padding: 13px;
		}
	}
}

.button{
	background-color: #FFF;
	min-width: 6rem;
	padding: 8px 12px;
	border-radius: 2px;
	&.button-border{
		border: 1px solid $button-blue;
	}
	&.rounded{
		border-radius: 2px;
	}
	&.success{
		font-weight: bold;
		color: #FFF;
		&:hover, &:focus{
			color: #FFF;
			// background-color: $dark-blue;
		}
	}
	&.circle{
		min-width: auto;
		border-radius: 100px;
		background-color: $button-blue;
		padding: 6px 7px;
		&:hover, &:focus{
			background-color: $button-blue;
		}
	}

	&.secondary{
		color: #666;
		&:hover{
			color: inherit;
		}
	}
	&.large{
		@extend .rounded;
		padding: 10px;
	}
	&:hover, &:focus{
		background-color: #FFF;
	}
}
.btn{
	@extend .rounded;
}

.button-ellipsis{
	background-image: url(icons/ellipsis.png);
	background-size: 50%;
	background-position: center right;
	background-repeat: no-repeat;
	width: 38px;
	// height: 25px;
	min-width: auto;
}

.button.clear{
	background: transparent;
	padding-left: 0;
	min-width: auto;
	// color: #000;
}
.button.clear:hover{
	background-color: transparent;
}

// .button-group .button{
// 	border: 1px solid $border-color;
// }
// .button-group .button:not(:last-child){
// 	border-right: none;
// }


.dropdown-button{
	color: $button-blue;
	position: relative;
	font-weight: bold;
	padding-right: 30px;
	font-size: 12px;
	&.middle{
		margin-top: .25rem;
	}
	.icons{
		opacity: .5;
	}
	.fa-caret-down{
		font-size: 16px;
		line-height: 1.6em;
	}
	.icons, .fa-caret-down{
		position: absolute;
		right: 10px;
		top: 2px;
		width: 10px;
	}

}



.profile-actions a.button[data-toggle=dd-public-options]{
	padding: 12px 13px 11px;
	.icons{
		opacity: .2;
	}
}

.dropdown-button[data-toggle='industry-dropdown']{
	margin-bottom: 4px;
	font-size: 15px;
	text-transform: uppercase;

}

.footer-button{
	// border-top: 1px solid $border-color;
	background-color: $brydge-gray;
	// color: $button-blue;
	// text-transform: uppercase;
	// padding: 5px;
	// font-weight: bold;
	// font-size: 11px;
	// &:hover, &:focus{
	// 	background-color: #FFF;
	// 	color: $button-blue;
	// }
}
