.position, .timestamp{
	color: $text-gray;
	font-size: 11px;
}

.has-tip{
	border-bottom: none;
	cursor: pointer;
	font-weight: inherit;
}
.page-title{
	margin: 25px;
	text-align: center;
}
/*
.box{
	@extend .clearfix;
	background-color: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	margin-bottom: 10px;
	>.column, >.columns{
		padding: 1rem;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.box-header{
		font-size: 11px;
		margin-bottom: 0;
		font-weight: bold;
		text-transform: uppercase;
		padding: $global-padding;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #F1F1F1;
		border-bottom: 1px solid $border-color;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.box-footer{
		@extend .padded;
		border-top: 1px solid $border-color;
		line-height: 2em;
	}
	.button.small.expanded{
		margin-bottom: 0;
	}
}
*/
.box{
	@extend .clearfix;
	background-color: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	margin-bottom: 10px;
	>.column, >.columns{
		padding: 1rem;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.box-header{
		font-size: 11px;
		margin-bottom: 0;
		font-weight: bold;
		text-transform: uppercase;
		padding: $global-padding;
		padding-top: 10px;
		padding-bottom: 10px;
		// background: #F1F1F1;
		background: $brydge-blue;
		color: #FFF;
		border-bottom: 1px solid $border-color;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.box-footer{
		@extend .padded;
		border-top: 1px solid $border-color;
		line-height: 2em;
	}
	.button.small.expanded{
		margin-bottom: 0;
	}
}

.rounded{
	border-radius: 3px;	
}

.jumbotron{
	width: 500px;
  text-align: center;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 50px;
  background-color: #FFF;
	margin: 150px auto;
	h2{
		// font-size: 35px;
		font-weight: bold;
	}

}

ul.footer-menu{
	display: table;
	margin: 20px auto;
	li:first-child{
		list-style: none;
	}
	li:last-child{
		margin-right: 0;
	}
	li{
		float: left;
		margin-right: 25px;
	}
}
ul.menu-dotted{
	li{
		padding-right: 5px;
	}
	li>a{
		line-height: inherit;	
		padding: 0;
		display: inline-block;
	}
	li:before{
		content:'\00B7';
		padding-right:5px;
		font-weight: bold;
	}
	li:first-child:before{
		content: '';
		padding-right: 0;
	}
}


ul.list-lined{
	>li:not(:last-child){
		border-bottom: 1px solid $border-color;		
	}

}



.ask-form{
	padding-bottom: 5px;
	span.name{
		margin-right: 15px;
		font-size: 14px;
	}
	button{
		font-size: 14px;
		padding: 10px 15px;
	}
}

.curated-box{
	margin-bottom: 10px;
	position: relative;
	label{
		width: 20%;		
		float: left;
	}
	input[type=radio]{
		opacity: 0;
		position: absolute;
	}
	span{
		border: 1px solid $border-color;
		border-top: 0;
		border-bottom-width: 4px;
		padding: 8px 10px;
		color: #999;
		width: 100%;
		line-height: 1em;
		display: block;
		text-align: center;
		font-size: 12px;
	}
	input:checked+span{
		background-color: #FFF;
		border-bottom-color: $brydge-blue;
	}
	.search-box{
		width: 60%;
		float: left;
		.input-group-button{
			position: absolute;
			width: 30px;
			height: 30px;
			display: table;
			color: #999;
			i{
				display: table-cell;
				vertical-align: middle;
			}
		}
		input{
			font-size: 12px;
			padding: 7px;
			padding-left: 35px;
			height: auto;
			border-color: $border-color;
			border-style: solid;
			border-bottom-width: 4px;
			border-right-width: 1px;
		}
		input:focus{
			border: none;
			border-bottom: 4px solid $border-color;
		}
	}
	.search-box.active{
		input{
			border-bottom-color: $brydge-blue;
		}
	}
}


.thumbnail.flat img{
	border: none;
}

.flash-notification{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 180px;
    z-index: 99999;
    .alert-box{
    	@extend .shadowed;
    	padding: 5px 10px;;
			background-color: #FFF;
	    border: 1px solid $border-color;
    }
    .alert-box:not(:last-child){
    	margin-bottom: 2px; 
    	border-bottom: 1px solid $border-color;
    }
}

.loader-container{
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.question-box{
	position: relative;
	h2{
		font-family: 'Din Alternate', helvetica;
		font-size: 26px;
		font-weight: bold;
		color: #717171;
		margin: 10px 0 20px;
		line-height: 1.2em;
	}
	.question-title{
		color: $text-color2;
		font-size: 14px;
		line-height: 1.3em;
		margin-bottom: 10px;
		a{
			font-weight: bold;
		}
	}
	ul.menu-dotted {
		a{
			font-weight: normal;
		}
	}
	.floated{
		position: absolute;
		left: 0;
		width: 100%;
		background: #FFF;
		bottom: 0;
		padding: 5px 10px;		
	}
	ul>li:not(:last-child){
		.question-box-footer{
			border-bottom: 1px solid $border-color;
		}
	}
	.question-box-footer{
		@extend .clearfix;
		@extend .padded;
		overflow: hidden;
		border-top: 1px solid $border-color;
		padding: 3px 1rem;		
	}
	.no-footer{
		.question-box-footer{
			border-top: none;
		}
	}
	.pending-list{
		.wrapper{
			padding-top: 7px;
			padding-bottom: 7px;
		}
	}
}

.top-banner{
	text-align: center;
	h1{
		margin: 2rem;
	}
	.switch{
		margin: 0;
	}
}
.people-search-filter{
	border-left: 1px solid $border-color;
}
.people-search-filter-column{
	@extend .padding;
	.dropdown-select{
		display: inline-block;
		width: 85%;
		margin-bottom: 0;
		input{
			width: 100%;
		}
	}
	
	input{
		@extend .rounded;
		width: 85%;
		font-size: 14px;
		height: auto;
		border: 1px solid $brydge-blue;
		margin-bottom: 0;
		padding: 6px 10px;
		display: inline-block;
	}
	.fa-plus-circle{
		color: $brydge-blue;
		font-size: 30px;
		float: right;
	}
}




.footer-button{
	border-top: 1px solid $border-color;
	background-color: #FFF;
	color: $brydge-blue;
	text-transform: uppercase;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	&:hover, &:focus{
		background-color: #FFF;
		color: $brydge-blue;
	}
}


.dropdown-select{
	position: relative;
	margin-bottom: 1.33rem;
	input{ margin: 0 !important; }

	.wrapper{
		display: none;
	}
	.wrapper.is-open{
		display: block;
	}
	ul{
		border-bottom: 1px solid $border-color;
		position: absolute;
		width: 100%;
		background-color: #FFF;
	}
	li{
		padding: 5px;
		border: 1px solid $border-color;
		border-bottom: none;
	}
	li:hover{
		background-color: #CCC;
	}
}

.profile-actions{
	display: table;
	width: 100%;
	position: relative;
	// .table-cell:first-child{
	// 	display: none;
	// }

	&.connected{
		.cell-connected{
			display: none;
		}
		.table-cell{
			width: 50%;
		}
		.table-cell:last-child{
			display: table-cell;
			padding-left: 2px;
		}
	}
	.button{
		display: table-cell;
		border: 1px solid;
		border-color: $box-border-color;
		color: $brydge-blue;
		text-transform: uppercase;
	}
	.button{
		width: 33%;
	}
	.button.connect{
		// background-color: $brydge-blue;
		border-color: #cfefff #96dcfe #96dcfe;
		// color: #FFF;
		&:hover{
			background-color: $dark-blue;
			color: #FFF;
		}
	}				

	.table-cell{
		vertical-align: top;
		display: table-cell;
		padding-left: 2px;
		width: 33%;
	}
	.table-cell:last-child{
		width: 80px;
		display: none;
		padding-left: 0;
	}
}

.switch{
	label:first-child{
		float: left;
		margin-top: 3px;
		margin-right: 10px;
	}
	input:checked ~ .switch-paddle{
		background-color: #4CD864;
		border-radius: 100px;
	}
	.switch-paddle{
		border-radius: 100px;
		width: 5rem;
		height: 3rem;
	}
	.switch-paddle::after{
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 100px;
	}
}

.label-item{
	background-color: $panel-color;
	position: relative;
	padding-left: 25px;
	font-size: 12px;
	margin-bottom: 5px;
	margin-right: 5px;
	.fa-close{
		background-color: $brydge-blue;
		color: #FFF;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 16px;
		padding: 2px 3px;
	}
}


.filter-selections{
	padding: .5rem 1rem;
	li:not(:last-child) .label-item{
		margin-right: 5px;
	}
	.menu > li {
		display: inline-block;
	}
}



	.post-footer{
		background-color: #EFEFEF;		
		font-size: 12px;

		.post-comment-form{
			padding-top: 8px;
			padding-bottom: 8px;

		}
		.media-object{
			margin-bottom: 0;
			.thumbnail{
				float: left;
				width: 30px;
				height: 30px;
				img{
					width: 100%;
				}
			}
			.comment-form{
				padding-left: 40px;
				input{
					font-size: 12px;					
					height: auto;
					margin: 0;
				}
			}

		}

		.post-comments{
			ul.media-list li{
				padding: .5rem 0;
				padding-bottom: 0;
			}
			ul.media-list li:not(:last-child){
				border-bottom: 1px solid #E6E6E6;
			}
			.media-object{
				.media-object-section:first-child{
					padding-right: .8rem;
				}
				.name{
					font-size: 12px;
					font-weight: bold;
				}
				.comment-content{
					margin-bottom: .5rem;
				}

			}
			ul.media-list[aria-hidden="false"]+a.more{
				border-top: 1px solid $border-color;
			}
			a.more{
				@extend .padded;
				padding: 5px;
			}
			a:hover, a:focus{
				color: $brydge-blue;
			}
		}

	}


span.bullet{
	color: #9DA4B3;
  font-weight: bold;
  margin: 2px;
  font-size: 11px;
  line-height: 1em;
}

.empty-message{
	text-align: center;
	font-size: 16px;
	margin: 2.5rem 0;
	color: $text-light;
}

.froalaEditor{
	p{
		color: inherit;
	}
}

.conversations{
	background-color: #FFF;
	.search{
		input{
			margin: 0;
		}
		input:focus{
			border: none;
		}
	}
	.conversations-top-bar{
		@extend .clearfix;
		border-bottom: 1px solid $border-color;
		padding: 1rem;
		h4{
			margin-bottom: 0;
		}
		.button{
	    font-weight: bold;
		}
		.button.clear{
			padding: 0;
			padding-right: 1rem;
		}
		.button.secondary{
	    padding: 5px;
	    border: 1px solid;
	    border-radius: 3px;   
		}
	}
	.message-container{
		position: relative;
		height: 600px;
		border-left: 1px solid $border-color;
	}
	.message-content{
		position: absolute;
		bottom: 0;
		width: 100%;
	}

}
.message-box{
	form{
		background-color: $panel-color;
		padding: 1rem;
	}
}
