
.box{
	@extend .clearfix;
	background-color: #FFF;
	border: 1px solid $border-color;
	margin-bottom: 5px;
	>.column, >.columns{
		padding: 1rem;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.box-header{
		// font-size: 10px;
		margin-bottom: 0;
		font-weight: bold;
		text-transform: uppercase;
		padding: $global-padding;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #F1F1F1;
	}
	.button.small.expanded{
		margin-bottom: 0;
	}
}

.sidebox{
	min-height: 110px;
	position: relative;
	padding: $global-padding;
	padding-bottom: 25px;
	border-bottom: 1px solid $border-color;
	h4{
		margin: 0;
	}
	.columns{
		border-bottom: 1px solid $border-color;
	}
	a.more{
		position: absolute;
		bottom: 5px;
	}
}
.snapshot{
	font-size: 11px;
}

.question-box{
	color: #A3A3BD;
	h2{
		font-size: 26px;
		font-weight: bold;
		color: #717171;
		margin: 10px 0 20px;
	}
	a{
		font-weight: bold;
	}
	p{
		font-size: 22px;
		line-height: 1.4em;
		font-weight: bold;
	}
	button{
		text-transform: uppercase;
		padding :4px;
		font-weight: bold;
		font-size: 11px;
	}
	.wrapper{
		max-height: 190px;
		overflow: hidden
	}
	.floated{
		position: absolute;
		left: 0;
		width: 100%;
		background: #FFF;
		bottom: 0;
		padding: 3px 10px;		
	}
}
.jumbotron{
	margin: 150px auto;
	h1{
		font-size: 35px;
		font-weight: bold;
	}

}

ul.footer-menu{
	display: table;
	margin: 20px auto;
	li:first-child{
		list-style: none;
	}
	li:last-child{
		margin-right: 0;
	}
	li{
		float: left;
		margin-right: 25px;
	}
}
