.dropdown-select{
	position: relative;
	margin-bottom: 1.33rem;
	input{ margin: 0; }

	.wrapper{
		display: none;
	}
	.wrapper.is-open{
		display: block;
	}
	ul{
		border-bottom: 1px solid $border-color;
		position: absolute;
		width: 100%;
		background-color: #FFF;
	}
	li{
		padding: 5px;
		border: 1px solid $border-color;
		border-bottom: none;
	}
	li:hover{
		background-color: #CCC;
	}
}