.dropdown-pane{
  padding: 0;
  background-color: #FFF;
  box-shadow: 0px 2px 4px -1px #404040;
  border: 1px solid #CCC;
  border-top: none;
  right: 0 !important;
  left: auto !important;
}
.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ffffff transparent;
  margin: auto;
}

#dd-ask{
  top: 52px !important;
  width: 65%;
}
#dd-messages{
  width: 350px;
}
#dd-menu{
  width: 150px;
  ul.menu{
    li{
      display: inline-block;
      width: 100%;
    }
    a{
      color: $body-color;
      padding: 0
    }
  } 
  ul.menu:not(:last-child){
    border-bottom: 1px solid $border-color;
    
  }
}
.top-bar .dropdown-pane{
  top: 47px !important;
  .thumbnail{
    width: 35px;
    height: 35px;
    img{
      width: 100%;
    }
  }
  button{
    background-color: #F1F1F1;
    text-transform: uppercase;
    padding: 5px;
    color: #000;
  }
  ul>li{
    padding: 1rem;
  }
  .media-object, p{
    margin: 0;
  }
  p{
    font-size: 11px;
  }
  .media-object-section:first-child{
    padding-right: 2rem;
  }
}
