.menu-wrapper{
  position: absolute;
  right: 25px;
  top: 15px;
  .icons{
    opacity: .2;
  }
}

.dropdown-pane{
  @extend .no-select;
  padding: 0;
  background-color: #FFF;
  box-shadow: 0px 2px 4px -1px #404040;
  border: 1px solid #CCC;
  border-top: none;
  right: 0 !important;
  left: auto !important;
  .title-bar{
    background-color: #F3F3F3;
    margin-bottom: 10px;
    color: $body-text-color;
    border-bottom: 1px solid $border-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
  }

}
.dropdown-flat{
  border: none;
  box-shadow: none;
}
.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ffffff transparent;
  margin: auto;
}
.dropdown-gray{
  background-color: #EEE;      
}

#dd-ask{
  top: 49px !important;
  width: 90%;
  background-color: #EEE;
  
}
.dd-ask-form{
  top: 50px !important;
  width: 410px !important;
}
.dd-ask-form.dropdown-pane{
  button{
    display: inline-block;
  }
}

// a[data-toggle="dd-ask"], 
// a[data-toggle="dd-ask-form"]{
//   .triangle{
//     border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #EEE rgba(0, 0, 0, 0);
//   }
// }
.triangle-gray{
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #EEE rgba(0, 0, 0, 0);
}

#dd-menu, .dd-menu{
  width: 150px;
  ul.menu{
    padding: 0;
    li{
      display: inline-block;
      width: 100%;
      padding: 0;
      &:hover{
        background-color: darken(#D9D9D9, 1%);
      }
    }
    a{
      color: $body-text-color;
      padding: .9rem 1rem;
    }
  } 
  ul.menu:not(:last-child){
    border-bottom: 1px solid $border-color;
    
  }
}
#dd-messages{
  ul.media-list li{
    padding: 1rem 0;
  }
  .thumbnail{
    width: 35px;
    height: 35px;
  }

}
#dd-views{
  .profile-view-settings{
    border-bottom: 1px solid $border-color;
    strong{
      font-size: 10px;
    }
    p{
      color: $text-gray;
    }
  }
}


#dd-search{
  top: 37px !important;  
  .wrapper{
    top: -7px;
  }
  ul{
    margin-top: -7px;
  }
}

#dd-notification{
  // width: 400px;
}
.item-menu-dropdown{
  width: 100px;
  button{
    background-color: #EFEFEF;
    border: 1px solid #D9D9D9;
    font-size: 12px;
    padding: 5px;
  }
}

.dropdown-menu-bar{
  width: 322px;
  // top: auto !important;
  ul>li{
    padding: 1rem;
  }  
  ul{
    padding: 0 1rem;
    padding-bottom: 0;
  }
  p{ margin-bottom: 0; }
  .name{
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
  }
  .position{
    font-size: 10px;
    line-height: 1.4em;
  }
  .thumbnail{
    width: 50px;
    height: 50px;
    margin: 0;
    img{
      width: 100%;
    }
  }
}

#dd-public-options{
  width: 200px;
}

.card-menu-dropdown{
  @extend .dd-menu;
  margin-right: 5px; 
  border-top: 1px solid $border-color;
}

#dd-select-channel, #dd-select-channel-post-sharer, #industry-dropdown, #location-dropdown{
  strong{
    font-size: 11px;
    text-transform: uppercase;
  }
  label{
    font-size: inherit;
    line-height: 1.5em;
    color: $text-gray;
  }
  a{
    font-size: 11px;
  }

}