.log-in-form{
	.logo{
		height: 40px;
		margin: 35px 0;
	}
}

form{
	[type='text'], 
	[type='password'], 
	[type='date'], 
	[type='datetime'], 
	[type='datetime-local'], 
	[type='month'], 
	[type='week'], 
	[type='email'], 
	[type='number'], 
	[type='search'], 
	[type='tel'], 
	[type='time'], 
	[type='url'], 
	[type='color'], 
	textarea,
	select{
		box-shadow: none;
		// padding: 5px 10px;
		font-size: 12px;
		height: auto;
	}
	[type='text']:last-child{
		margin-bottom: 0;
	}

}

.form-signin, .form-signup{
	width: 65%;
	margin: auto;
	button{
		font-size: 14px;
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.form-signin{
	margin-bottom: 40px;
}
.form-signup{
	margin-top: 60px;
	margin-bottom: 60px;
	input{
		margin-bottom: 5px;
	}
	p{
		color: #999;
		font-size: 11px;
	}
}

.form-profile{
	.profile-photo{
		margin-bottom: 20px;
	}
	.inline-input-two input{
		width: calc(50% - 7px);
		display: inline-block;
	}
	.inline-input-two input:not(:last-child){
		margin: 0;
		margin-right: 10px;
	}
}

.form-accordion{
	border: none;
	.accordion-content{
		background-color: #CFEFFF;
		padding: 20px 40px;
		margin-bottom: 2px;
		border: none;
	}
	a.more{
		font-size: 20px;
		color: #FFF;
	}
	.checkbox{
		margin-top: 5px;
	}
	label{
		font-size: 12px;
	}
	input,textarea{
		font-size: 12px;
		margin-bottom: 10px;
	}		

}