form{
	[type='text'], 
	[type='password'], 
	[type='date'], 
	[type='datetime'], 
	[type='datetime-local'], 
	[type='month'], 
	[type='week'], 
	[type='email'], 
	[type='number'], 
	[type='search'], 
	[type='tel'], 
	[type='time'], 
	[type='url'], 
	[type='color'], 
	textarea,
	select{
		box-shadow: none;
		// padding: 5px 10px;
		font-size: 12px;
		height: auto;
	}
	.input-group{
		border: 1px solid $border-color;
		input.input-group-field{
			border: none;
		}
		button{
			padding: 9px 1rem;
		}
	}

	.validated-input{
		margin-bottom: 1rem;
		&.has-error{
			input{
				border: 1px solid red;
			}
		}
		input+.error{
			margin-bottom: 0;
		}
		.error{
			color: red;
		}

	}

	label.reversed, .label.reversed{
		input{
			float: right;
			margin: 0;
			margin-top: 4px;
		}
	}
	p, p.help-text{
		color: $text-gray;
	}
	.select-label{
		margin-top: 10px;
		margin-right: 1rem;
	}
}

.form-profile{
	label{
		font-size: 12px;
		font-weight: bold;
		color: $text-gray;
		line-height: 2rem;
		.button{
			margin-top: 25px;
		}
	}	
	label.for-radio{
		a{
			color: $text-gray;
		}
	}
	input, select{
		@extend .rounded;
		border: 1px solid $border-color;
		font-weight: normal;
		color: $body-text-color;
	}
	input:focus{
		border: 1px solid $button-blue;
		box-shadow: none;
	}
}

.form-input-wrapper{
}
.form-input{
	@extend .bordered;
	@extend .rounded;
	padding: 1rem;
	background-color: #FFF;
	.input-wrapper{
		padding-left: 40px;
		textarea{
			border: none;
		}
		textarea:focus{
			box-shadow: none;
		}
	}
	.avatar{
		float: left;
	}
}




.micro-forms{
	@extend .rounded;
	background-color: #FFF;
	padding: 1rem 2rem 2rem;
	.logo{
		height: 40px;
		margin: 1rem 1rem 2.5rem;
	}
	button[type="submit"]{
		text-transform: uppercase;
	}
	label{
		font-size: 12px;
	}

	// a{
	// 	font-size: 14px;
	// 	font-weight: bold;
	// 	padding-top: 10px;
	// 	padding-bottom: 10px;
	// }
}

// .form-signup{
// 	margin-top: 60px;
// 	margin-bottom: 60px;
// 	input{
// 		margin-bottom: 5px;
// 	}
// 	p{
// 		color: #999;
// 		font-size: 11px;
// 	}
// }

// .form-profile{

// 	.inline-input-two input{
// 		width: calc(50% - 7px);
// 		display: inline-block;
// 	}
// 	.inline-input-two input:not(:last-child){
// 		margin: 0;
// 		margin-right: 10px;
// 	}
// }

.form-occupational-industry{
	a.picker{
		margin-top: 3em;
		margin-left: 1em;
		display: block;
	}
}