header{
	box-shadow: 0 0 2px 0 #404040;
	width: 100%;
	position: fixed;
	z-index: 100;
	.title-bar-left{
		ul.menu{
			margin-top: 2px;
		}
	}
	.title-bar{
		background-color: $brydge-blue;
		color: #FFF;
		padding: 0;
		.thumbnail{
			width: 40px;
			height: 40px;

		}
		.menu > li > a{
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
	.logo{
		width: 115px;
		margin-right: 2rem !important;
	}
	.badge{
		min-width: 2em;
		font-size: 9px;
		font-weight: bold;
		text-align: center;
		line-height: 1.3em;
		position: absolute;
		top: 3px;
		right: 0;
		z-index: 1;
	}
	.menu-actions{
		span{
			vertical-align: bottom;
		}
		span a{
			padding: 0.7rem 1rem;
			display: block;
		}
		.home-icon{
			margin-left: 20px;
			padding: 0 1rem;
		}

		[data-toggle].hover{
			// background-color: darken($button-blue, 10%);
		}
		[data-toggle]+.wrapper{
			position: absolute;
			display: none;
			bottom: -3px;
			width: 100%;
		}
		[data-toggle].hover + .wrapper{
			display: block;
		}
	}
	a .fa-home{
		font-size: 17px;
		color: #414242;
		border-radius: 100px;
		margin-top: 3px;
	}
	.menu ul.menu{
		margin-top: 6px;
	}
}

header.simple-header{
	.title-bar-left{
		float: none;
	}
	.logo{
		margin: 6px auto;
		margin-right: auto !important;
	}
}

.top-bar-search {
	@extend .search-box;

	width: 308px;
	.user{
		border-bottom: 1px solid $border-color;
		font-size: 10px;
	}
	.user a{
	}
	.position{
		color: $text-gray;
	}
	form input[type="search"]{
		border-color: $brydge-blue;
		padding-right: 3rem;
	}
}
