header{
	box-shadow: 0 0 2px 0 #404040;
	width: 100%;
	position: fixed;
	z-index: 100;
	.title-bar{
		background-color: $brydge-blue;
		color: #FFF;
		padding: 0;
		.thumbnail{
			width: 40px;
			height: 40px;

		}
		.menu > li > a{
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
	.logo{
		width: 127px;
		margin-right: 2rem !important;
	}
	.user-info{
		a.name{
			color: #FFF;
			font-size: 14px;
			font-weight: bold;
		}
	}
	.badge{
		min-width: 2em;
		font-size: 9px;
		font-weight: bold;
		text-align: center;
		line-height: 1.3em;
		position: absolute;
		top: 3px;
		right: 0;
	}
	.menu-actions{
		span{
			vertical-align: bottom;
		}
		span a{
			padding: 0.7rem 1rem;
			display: block;
		}
		.home-icon{
			margin-left: 20px;
			padding: 0 1rem;
		}
		
		[data-toggle].hover{
			// background-color: darken($button-blue, 10%);
		}
		[data-toggle]+.wrapper{
			position: absolute;
			display: none;
			bottom: -3px;
			width: 100%;
		}
		[data-toggle].hover + .wrapper{
			display: block;
		}
	}
	.fa-home{
		background-color: $button-blue;
		font-size: 20px;
		color: #FFF;
		border-radius: 100px;
		padding: 5px 6px;
	}


}

header.simple-header{
	.title-bar-left{
		float: none;
	}
	.logo{
		margin: 6px auto;
		margin-right: auto !important;
	}
}

.top-bar-search {
	@extend .search-box;
	width: 308px;
	.user{
		border-bottom: 1px solid $border-color;
		font-size: 10px;
	}
	.user a{
	}
	.position{
		color: $text-gray;
	}
}

/*
header.top-bar {
	.top-bar-left, .top-bar-right{
		position: relative;
	}
	padding: 0;
	border-bottom: 1px solid #50B1DA;
	box-shadow: 0px 0px 2px 0px #404040;
	ul{
		background-color: transparent;
	}
	ul.menu-actions{
		vertical-align: top;
		margin-left: 16px;
		.fa{
			color: #417993;
			font-size: 18px;
			vertical-align: bottom;
		}
		>li>a{
			padding: 0;
		}
		>li>a>span{
			padding: 11px 7px;
			min-width: 38px;
			text-align: center;
			position: relative;
			i{ margin: 0;}
			i.icons{ margin: 0 3px;}
		}
		>li>a:hover, li>a.hover{
			background-color: $dark-blue;
		}
		li:last-child i.divider{
			right: 0;
			left: auto;
		}
		li:first-child i.divider{
			left: 0;
		}
	}
	ul.menu-links{
		margin-top: 13px;
		li{
			border-right: 1px solid $dark-blue;
		}
		li:last-child{
			border: none;
		}
		li > a{
			color: #FFF;
			padding: 0.3rem 1rem;
			font-size: 13px;
			font-weight: bold;
		}
	}


}
.top-bar-title{
  font-family: 'Raleway:500', helvetica, arial, sans-serif;
  font-size: 26px;
  line-height: 1.4em;
  font-weight: bold;
  color: #FFF;
  padding: 5px;
	img{
		width: 120px;
		margin-bottom: 5px;
	}
}
.top-bar-group{
	vertical-align: top;
	display: inline-table;
	float: left;
}

/*  Search input in topbar has weird 1em offset bottom and right */


// i.divider{
// 	border-left: 1px solid $dark-blue;
// 	padding: 10px 0;
// 	position: absolute;
// 	top: 13px;
// }
