
// $icons: sprite-map("toolbar/*.png");


// @include all-icon-sprites;

.icons{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	display: table;
	width: 22px;
	height: 24px;
	&.caret{
		background-image: url(icons/caret.png);
		width: 15px;
	}
	&.user{
		background-image: url(icons/BRYDGE_CONNECTIONS.png);
	}
	&.pencil{
		background-image: url(icons/pencil.png);
		width: 15px;
		height: 15px;
	}
	&.bino{
		background-image: url(icons/BRYDGE_PROFILE_VIEWS.png);
	}
	&.messages{
		background-image: url(icons/BRYDGE_MESSAGES.png);
		&.white{
			background-image: url(icons/BRYDGE_MESSAGES_WHITE.png);
		}
	}
	&.stack{
		background-image: url(icons/BRYDGE_NOTIFICATIONS.png)
	}
	&.ellipsis{
		background-image: url(icons/ellipsis.png);
		width: 18px;
		height: 18px;
	}
	&.building{
		background-image: url(icons/building.png);
		height: 45px;
		width: 45px;
		margin: 3px;
		display: inline-block;
		float: left;
		opacity: .6;
	}
	&.briefcase{
		background-image: url(icons/briefcase.svg);
		height: 35px;
		width: 35px;
		margin: 8px;
		display: inline-block;
		float: left;
		opacity: .4;
	}
}

.icon-wrapper{
	@extend .clearfix;
	margin-right: 1rem;
	background-color: #F1F1F1;
	border-right: 1px solid #D9D9D9;
}


.icons.icon-left{
	margin-right: 10px;
}
.icons.icon-inline{
	display: inline-block;
	margin-left: 10px;
}

a .fa{
	margin-right: 5px;
}
h3, h4, .tabs-title{
	.fa{
		margin-right: 10px;
	}

}

.hoverable{
	a.editable{
		float: right;
		display: none;
		.fa{
			margin-right: 0;
		}
	}
}
.hoverable:hover{
	a.editable{
		display: block;
	}
}
