ul.media-list{
  padding: 0 1rem;
  li{
    padding: .5rem 0;
  }
  .name{
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
  }
  .position{
    @extend .dim-text;
    font-size: 10px;
    line-height: 1.4em;
  }
  .thumbnail{
    width: 50px;
    height: 50px;
    margin: 0;
    img{
      width: 100%;
    }
  }
  .media-object{ margin-bottom: 0; }
  .main-section{ width: 100%; }
  .actions-section{
    .button{
      @extend .rounded;
      @extend .bordered;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      padding: 5px 10px;
    }
    .button:not(:last-child){
      margin-bottom: 3px;
    }
    .button.default{
      color: $brydge-red;
    }
  }  
}

ul.notifications-list{
  padding-bottom: 1rem;
  .thumbnail{
    width: 35px;
    height: 35px;
  }
  .main-section{
    @extend .dim-text;
  }
  p{
    margin-bottom: 0;
  }
  a{
    font-weight: bold;
  }
}

ul.question-pending-list{
  padding: 0 .5rem 1rem;
  >li{
    padding: .5rem;
  }
  >li:not(:last-child){
    border-bottom: 1px solid $border-color;
  }
  p.title{
    color: $text-color2;
    font-size: 15px;
  }
  p.asked{
    color: $text-color3;
    a{
      font-weight: bold;
    }
  }
}

ul.menu-list{
  li{
    padding: 0 1em;
  }
  li:hover{
    background-color: darken(#EEE, 5%);
  }
  li:not(:last-child){
  }
  a{
    font-size: 13px;
    border-bottom: 1px solid $border-color;
    padding: .5em .3em;
    display: block;
    color: $text-color1;
  }
  .warning{
    color: $text-orange;
  }
}