ul.media-list{
  padding: 0 1rem;
  li{
    padding: .5rem 0;
  }
  .thumbnail{
    width: 50px;
    height: 50px;
    margin: 0;
    img{
      width: 100%;
    }
  }
  .media-object{ margin-bottom: 0; }
  .main-section{ width: 100%; }
  .actions-section{
    .button{
      @extend .rounded;
      @extend .bordered;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      padding: 5px 10px;
    }
    .button:not(:last-child){
      margin-bottom: 3px;
    }
    .button.default{
      color: $brydge-red;
    }
  }  
}

ul.notifications-list{
  padding-bottom: 1rem;
  .thumbnail{
    width: 35px;
    height: 35px;
  }
  .main-section{
    color: $text-gray;
  }
  p{
    margin-bottom: 0;
  }
  a{
    font-weight: bold;
  }
}

ul.question-pending-list{
  // padding: 0 .5rem 1rem;
  >li{
    padding: .5rem;
  }
  >li:not(:last-child){
    border-bottom: 1px solid $border-color;
  }
  p.title{
    color: $text-color2;
    font-size: 15px;
  }
}

ul.menu-list{
  .media-object{ margin-bottom: 0; }
  li:hover{
    background-color: darken(#EEE, 5%);
  }
}
.menu-list-menu{
  li:not(:last-child)>a{
    border-bottom: 1px solid $border-color;
  }
  li>a{
    font-size: 13px;
    padding: .5em;
    margin: 0 .7em;
    display: block;
    color: $text-color1;
  }
  .warning{
    color: $text-orange;
  }  
}

.menu-media-list{
  @extend .menu-list;
  li:not(:last-child){
    border-bottom: 1px solid $border-color;        
  }
  li>a{
    display: block;
    padding: .5em 0;
    margin: 0 1em;
  }
  .name{
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
  }
  .position{
    line-height: 1.4em;
  }

}

ul.conversation-list{
  // margin: 0;
  li{
    border-bottom: 1px solid $border-color;
    padding: 7px;
  }
  .media-object{
    margin-bottom: 0;
    .main-section{
      width: 100%;
    }
    .thumbnail{
      margin-bottom: 0;
    }
  }
  p{
    font-size: 11px;
  }
}
ul.contact-list{
  @extend .menu-media-list;
  li{
    padding: .5rem;
    border-bottom: 1px solid $border-color;
    a{ color: inherit; }
  }
}

ul.messages-list{
  max-height: 404px;
  overflow: auto;
  border-top: 1px solid $border-color;
  li{
    border-bottom: 1px solid $border-color;
    padding: 7px;
    padding-right: 1rem;
  }
  .media-object{
    margin-bottom: 0;
  }
  .main-section{
    width: 100%;
  }

  .thumbnail{
    width: 35px;
    height: 35px;
  }

}