ul.media-list{
	@extend .no-bullet;
  li:not(:last-child){
    border-bottom: 1px solid $border-color;
  }
  li>a{
    padding: 1rem;
    display: block;
    font-size: 10px;
    margin: 0;
  }
}
ul.user-link-list{
  li{
    border-bottom: 1px solid $border-color;
  } 
  li>a{
    padding: 1rem;
    display: block;
  }
}
ul.contact-list{
  .user-info{
    padding-top: 5px;
  }
}

ul.messages-list{
  li:not(:last-child){
    border-bottom: 1px solid $border-color;
  }
  li{
    padding: 1rem;
    display: block;
  }
}
// .menu-list-menu{
//   li:not(:last-child)>a{
//     border-bottom: 1px solid $border-color;
//   }
//   li>a{
//     font-size: 13px;
//     padding: .5em;
//     margin: 0 .7em;
//     display: block;
//     // color: $text-color1;
//   }
//   .warning{
//     color: $text-orange;
//   }  
// }

// ul.list-inline{
//   li{
//     display: inline-block;
//   }
// }
// ul.media-list{
//   padding: 0 1rem;
//   li{
//     padding: .5rem 0;
//     cursor: pointer;
//   }
//   .thumbnail{
//     width: 50px;
//     height: 50px;
//     margin: 0;
//     img{
//       width: 100%;
//     }
//   }
//   .media-object{ margin-bottom: 0; }
//   .main-section{ width: 100%; }
//   .actions-section{
//     .button{
//       @extend .rounded;
//       @extend .bordered;
//       text-transform: uppercase;
//       font-weight: bold;
//       font-size: 12px;
//       padding: 5px 10px;
//     }
//     .button:not(:last-child){
//       margin-bottom: 3px;
//     }
//   }  
// }

// ul.list-lined{
//   >li:not(:last-child){
//     border-bottom: 1px solid $border-color;   
//   }

// }

// ul.notifications-list{
//   padding: 0;
//   .thumbnail{
//     width: 35px;
//     height: 35px;
//   }
//   .main-section{
//     // color: $text-gray;
//   }
//   li{
//     padding: .5rem 1rem;
//   }
//   p{
//     margin-bottom: 0;
//   }
//   a{
//     font-weight: bold;
//   }
// }

// // .new-notification{
// //   background: #CFEFFF;
// // }

// ul.question-pending-list{
//   // padding: 0 .5rem 1rem;
//   >li{
//     padding: .5rem;
//   }
//   >li:not(:last-child){
//     border-bottom: 1px solid $border-color;
//   }
//   p.title{
//     // color: $text-color2;
//     font-size: 15px;
//   }
// }

// ul.menu-list{
//   .media-object{ margin-bottom: 0; }
//   li:hover{
//     background-color: darken(#EEE, 5%);
//   }
// }

// .menu-media-list{
//   @extend .menu-list;
//   li:not(:last-child){
//     border-bottom: 1px solid $border-color;        
//   }
//   li>a{
//     display: block;
//     padding: .5em 0;
//     margin: 0 1em;
//   }
//   .name{
//     font-size: 14px;
//     font-weight: bold;
//     line-height: 1em;
//   }
//   .position{
//     line-height: 1.4em;
//   }

// }

// ul.conversation-list{
//   // margin: 0;
//   li{
//     border-bottom: 1px solid $border-color;
//     padding: 7px;
//   }
//   .media-object{
//     margin-bottom: 0;
//     .main-section{
//       width: 100%;
//     }
//     .thumbnail{
//       margin-bottom: 0;
//     }
//   }
//   p{
//     font-size: 11px;
//   }
// }
// ul.contact-list{
//   @extend .menu-media-list;
//   li{
//     padding: .5rem;
//     border-bottom: 1px solid $border-color;
//     a{ color: inherit; }
//   }
// }

// ul.messages-list{
//   max-height: 404px;
//   overflow: auto;
//   border-top: 1px solid $border-color;
//   li{
//     border-bottom: 1px solid $border-color;
//     padding: 7px;
//     padding-right: 1rem;
//   }
//   .media-object{
//     margin-bottom: 0;
//   }
//   .main-section{
//     width: 100%;
//   }

//   .thumbnail{
//     width: 35px;
//     height: 35px;
//   }

// }

