.main.messaging{
  padding-top: 41px;
  #contact-input{
    padding-top: 6px;
    padding-bottom: 7px;
  }
  >.box{
    height: 100%;
    min-height: 400px;
    margin-bottom: 0;
  }
  .message-box{
    position: relative;
  }
  .message-form{
    // @extend .bg-white;
    border-top: 1px solid $border-color;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .message-callout{
    @extend .text-gray;
    font-size: 16px;
    text-align: center;
    margin-top: 10rem;

  }

  .conversation-header{

  }
  .conversation-list,
  .contact-list,
  .message-scrollable {
    overflow: auto;
    padding: 0;
  }
  .message-scrollable{
    height: auto;
    position: absolute;
    bottom: 144px;
    width: 100%;
  }

  .messages-list{
    border-top: 1px solid $border-color;
    // position: absolute;
    // bottom: 0;
    // width: 100%;
  }
  .messages-loader{
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,.8);
    .brydge-loading{
      margin: 1rem auto;
    }
  }
}

.conversation-list,
#dd-messages {
  .name{
    color: $body-text-color;
  }
  .message-count{
    @extend .timestamp;
    // color: $button-blue;
    margin-left: 2px;
    font-weight: normal;
  }
}
#dd-messages{
  .message-body{
    font-size: 11px;
  }
}
.user-link-list,
.messages-list{
  .avatar{
    position: absolute;
  }
  .message-body{
    padding-left: 50px;
  }
}

.message-body{
  padding-left: 40px;
}
