.main-mobile{
  margin-top: -1rem;
}
.spacer-1,
.spacer-2,
.spacer-3,
.spacer-4,
.spacer-5{
    @extend .show-for-medium;
  }


.hide-for-medium{
  .icons.stack{
    margin: auto;
  }
}

.mobile-nav{
  .fa{
    font-size: 20px;
    line-height: 2rem;
    color: $body-text-color;
  }
  .button-group{
    margin-bottom: 0;
  }
  .button{
    @extend .hollow;
    border-radius: 0;
    border-color: transparent;
    margin-bottom: 0;
    &.active{
      background-color: $button-blue;
    }
    &:hover{
      border-color: transparent;
      color: inherit;
    }
  }

}


ul.bookmarks{
  li{
    border-bottom: 1px solid $border-color;
    a{
      padding: 1rem;
      display: block;
    }
  }
}

.main-mobile.search{
  input{
    margin-bottom: 0;
  }
}
@include breakpoint(small only) {
  .profile-menu-buttons{
    .button-group .button{
      border-right: none;
    }
    .button.active{
  		position: relative;
  		color: $button-blue;
      border-bottom: 3px solid $button-blue;
  		&:before, &:after{
        content: none;
  		}
    }
  }
  .tab-controls{
    > li:not(:first-child){
      border-left: none;
    }
    .tabs-title.is-active{
      border-bottom: 3px solid $button-blue;
      &:before, &:after{
        content: none !important;
  		}

    }
  }
}
