.spacer-1,
.spacer-2,
.spacer-3,
.spacer-4,
.spacer-5{
    @extend .show-for-medium;
  }


.hide-for-medium{
  .icons.stack{
    margin: auto;
  }
}

.mobile-nav{
  .fa{
    font-size: 20px;
    line-height: 2rem;
    // color: $body-text-color;
    color: #0481bd;
  }
  .fa-home{
    font-size: 2rem;
  }
  .button-group{
    margin-bottom: 0;
  }
  .button{
    @extend .hollow;
    border-radius: 0;
    border-color: transparent;
    margin-bottom: 0;
    &.active{
      background-color: $button-blue;
    }
    &:hover{
      border-color: transparent;
      color: inherit;
    }
  }
  .avatar{
    width: 24px;
    height: 24px;
    border-radius: 100px;
  }
}


ul.bookmarks{
  li{
    border-bottom: 1px solid $border-color;
    a{
      padding: 1rem;
      display: block;
    }
  }
}

.main-mobile.search{
  input{
    margin-bottom: 0;
  }
}

@include breakpoint(small only) {
  body{
    .box{
      border-radius: 0;
      margin-bottom: 1rem;
    }
    .main{
      padding-top: 0;
    }

  }
  .profile-box{
    &.full{
      .position,
      .company,
      .location{
        display: block;
      }
    }
    .position,
    .company,
    .location{
      display: none;
    }

  }
  .profile-menu-buttons{
    .button-group .button{
      border-right: none;
    }
    .button.active{
  		position: relative;
  		color: $button-blue;
      border-bottom: 3px solid $button-blue;
  		&:before, &:after{
        content: none;
  		}
    }
  }
  .tab-controls{
    > li:not(:first-child){
      border-left: none;
    }
    .tabs-title.is-active{
      border-bottom: 3px solid $button-blue;
      &:before, &:after{
        content: none !important;
  		}

    }
  }
  .page-heading{
    padding: 0;
  }
  .follow-item{
    .avatar{
      margin-bottom: 1rem;
    }
  }
  .profile-box .avatar-wrapper .profile-photo{
    width: 150px;
    height: 150px;
  }
  #doorbell-button{
    display: none;
  }
  .cards{
    .user-info{
      margin-top: 0;
    }
  }
  .accordion-picker .columns:last-child{
    border-left: none !important;
    min-height: inherit;
  }
  .newsfeed-item{
    .title a{
      font-size: 14px;
    }
    .post-actions{
      padding: 1rem;
    }

  }
  .brydge-tab .tabs.vertical{
    border-right: 1px solid $border-color;
  }
  .follow-item{
    padding: 0;
    .user{
      padding: 1rem;
    }
    .follow-button, .button{
      border: 0;
      border-radius: 0;
    }
  }
}
