.newsfeed-filter{
	.dropdown-button{
		background: #FFF;
		color: $brydge-blue;
		font-weight: bold;
	}
	.title-bar{
		background-color: #F3F3F3;
		margin-bottom: 10px;
		color: $body-color;
		border-bottom: 1px solid $border-color;
	}
	.dropdown-pane{
		ul{
			li{
				color: $text-color2;
			}
		}
	}
	.custom-select-list{
	  ul{
	  	margin: 5px 0;
	  }
	  li:hover{
	    color:#6BCDFD;
	    cursor: pointer; 
	    cursor: hand;
	  }
	}

}