.newsfeed-item{
	@extend .box;
	position: relative;
	.newsfeed-trending-title{
		padding: 1rem;
		padding-bottom: 0;
		h4{
			color: $body-text-color;
		}

	}
	.x-button{
		color: #b6c3ca;
		background-color: #FFF;
		padding: 1px 2px;
		border: 1px solid #b6c3ca;
		font-size: 11px;
	}
	section{
		position: relative;
	}
	.user{
		.timestamp{
			position: absolute;
			right: 1rem;
			bottom: 1rem;
		}
	}
	.content{
		padding: 1rem;
	}
	div + .media, div + .shared-post{
		margin-top: 1.5rem;
	}
	.media{
		margin-top: 10px;
		iframe{
			width: 100%;
		}
		.fa-times{
			position: absolute;
			top: 11px;
			right: 5px;
		}
	}
	.newsfeed-content{
		font-size: 15px;
		line-height: 20px;
	}
	.post-actions{
		padding: .3rem 1rem;
		a{
			font-weight: bold;
		}
		a:not(.acted){
			color: $text-gray;
		}
		a:not(:first-child), .has-tip{
			margin-left: 20px
		}
		a+span{
			margin-left: 5px;
		}
	}
	.title{
		margin-bottom: 13px;
	}
	.title a{
		font-family: 'Merriweather', serif;
		font-size: 18px;
		font-weight: normal;
		color: $body-text-color;
	}
	.title+a{
		color: $text-gray;
		text-transform: uppercase;
		font-size: 9px;
		font-weight: bold;
	}
	.post-image{
		text-align: center;
		background-size: cover;
		background-position: center center;
		height: 230px;
	}
	.post-content{
		position: relative;
		// text-align: center;
		padding: .5rem 1rem;
		background-color: $brydge-gray;
	}
	.value{
		margin-left: 5px;
	}
	section.comments{
		background-color: $brydge-gray;
		.content-editable{
			font-size: 12px;
			line-height: 1.4em;
			min-height: 100%;
			height: 30px;
			background-color: #FFF;
			width: 100%;
		  padding: 5px 8px;
		  border: 1px solid $border-color;
		}
		.user{
			.timestamp{
				bottom: 2px;
			}
		}
		.comment-group{
			padding-top: 1rem;
		}
		.comment{
			// padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 40px;
			font-size: 11px;
		}
		.comment-header{
			padding-bottom: 1rem;
			max-resolution: 1rem;
			border-bottom: 1px solid $border-color;
			a.more+.brydge-loading{
				position: absolute;
				right: 1rem;
				top: .75rem;
			}
		}
		.comment-footer{
			padding-top: 1rem;
			a:not(:first-child){
				margin-left: 1rem;
			}
		}
	}
}

.newsfeed-item-horizontal{
	.box{
		border-color: $border-color;
	}
	.media-horizontal{
		background-color: $brydge-gray;
		.columns:first-child{
			border-right: 1px solid $border-color;
		}
		.post-image{
			height: 190px;
		}
		.medium-5{
			width: 45%;
			iframe{
				float: left;
				height: 190px;
			}
		}
		.medium-7{
			width: 55%;
		}
	}

}
