$topbar-background: $brydge-blue !default;

header{
	position: fixed;
	z-index: 100;
}
textarea{
	box-shadow: none;
	resize: none;
	margin-bottom: 5px;
}

select{
	border-radius: 3px;
}
ul{
	margin: 0;
}
p{ 
	line-height: 1.2em;
}
.tooltip{
	z-index: 100;
	max-width: none !important;
	border-radius: 4px;
	padding: .4rem;
	font-size: 11px;
}
ul.accordion-menu>li>a{
	padding: 0;
}

.thumbnail{
	width: 50px;
	height: 50px;
	overflow: hidden;
	display: block;
	margin-bottom: 0;
}
.thumbnail img{
	width: 100%;
}
.tabs{
	.tabs-title a{
		color: #000;
	}
}
label.middle, .label.middle{
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

/*  Drop down menu to be in gray instead of the overrided blue */

ul > li.is-dropdown-submenu-parent.is-down-arrow > ul {
  background-color: #e6e6e6 !important;
}


.loader.small{
	margin: .5rem auto;
	font-size: 6px;
}