$topbar-background: $button-blue !default;

textarea{
	box-shadow: none;
	resize: none;
	margin-bottom: 0;
}

select{
	border-radius: 3px;
}
ul{
	margin: 0;
}
p{
	line-height: 1.2em;
}
.tooltip{
	z-index: 1006;
	max-width: none !important;
	border-radius: 4px;
	padding: .4rem;
	font-size: 11px;
}
.accordion-content{
	color: inherit;
}
.tabs{

	.tabs-title a{
		color: #000;
	}
}
.tabs-panel{
	padding: 0;
}
.tabs-content {
  background: none;
  border: none;
}

label.middle, .label.middle{
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

/*  Drop down menu to be in gray instead of the overrided blue */

ul > li.is-dropdown-submenu-parent.is-down-arrow > ul {
  background-color: #e6e6e6 !important;
}
.loader.small{
	margin: .5rem auto;
	font-size: 6px;
}


/* Foundation Overrides */
.has-tip{
	border-bottom: none;
	cursor: pointer;
	font-weight: inherit;
}

.button.disabled,
.button[disabled] {
	opacity: .8;
	background-color: #CACACA;
	color: #FEFEFE;
	&:hover{
		background-color: #CACACA;
	}
}

.title-bar-right{
	text-align: left;
}
.switch{
	text-align: center;
	label.middle{
		display: inline-block;
		vertical-align: middle;
	}
	label.switch-paddle{
		margin: 0 1rem;
	}
	input{
		display: none;
	}
}
