.main.page-index,
.main.page-login,
.main.page-register,
.main.page-public-profile,
.main.page-forgot-password{
	padding-top: 0;
	.container{
		padding-top: 10vh;
		height: 100vh;
	}
	.main-content{
		// background-image: url('index_bg.jpg');
		background: linear-gradient(  rgba(238, 249, 255, 0.85), rgba(238, 249, 255, 0.85)), url('https://storage.googleapis.com/brydge-assets/assets/index_bg.jpg');
		// background-color: rgba(238, 249, 255, .5);
		background-size: cover;
		.dialog-wrapper{
			box-shadow: 0px 1px 5px 1px $border-color;
		}

	}
	.sidebar-content{
		@extend .bg-white;
		.container{
			padding-left: 20px;
			>h1{
				padding-top: 20px;
			}
		}
		h2{
			font-weight: bold;
			color: $text-gray;
			span{
				color: $brydge-blue;
			}
		}
		h1+p{
			margin-top: 70px;
			margin-bottom: 50px;
		}
	}
	.dialog-header{
		padding: 2rem 1rem;
		.logo{
			text-align: center;
			display: block;
			img {
				height: 40px;
			}
		}
	}
	.dialog-footer{
		background-color: $body-bg-color;
		padding: 2rem 1rem;
	}
}


.page-public-profile{
	font-size: 14px;
	.avatar{
		width: 130px;
		height: 130px;
	}
	.location{
		color: $text-gray;
	}
	.stats{
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		color: #CCC;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 1rem 0;
		big{
			font-size: 20px;
		}
	}
	.stats-footer{
		font-size: 13px;
	}
	 a.button{
		 font-size: 18px;
		 margin: 1rem 0;
	 }
}
