.main.page-index,
.main.page-login,
.main.page-verify-email,
.main.page-register,
.main.page-forgot-password{
	padding-top: 0;
	background-color: #FFF;
	header{
		text-align: center;
		padding: 2rem;
		.logo{
			display: block;
			margin-bottom: 3rem;
		}
		.logo img{
			height: 40px;
		}
	}
	footer{
		padding: 2rem;
	}
	.container{
		padding-top: 5vh;
		padding-bottom: 5vh;
		// height: 100vh;
	}
	.main-content{
		// background-color: rgba(81, 175, 229, 0.32);
		// background: linear-gradient(  rgba(238, 249, 255, 0.85), rgba(238, 249, 255, 0.85)), url('the-depth-of-manhattan1.jpg');
		background: url('the-depth-of-manhattan1.jpg');
		background-position: bottom center;
		background-size: cover;
		&.dialog-wrapper{
			box-shadow: 0px 1px 5px 1px $border-color;
		}

	}
	.sidebar-content{
		@extend .bg-white;
		.container{
			// padding-left: 20px;
			>h1{
				padding-top: 20px;
			}
		}
		h2{
			font-weight: bold;
			color: $text-gray;
			span{
				color: $brydge-red;
			}
		}
		h1+p{
			margin-top: 70px;
			margin-bottom: 50px;
		}
	}
}
.brydge-dialog{
	.title{
		background-color: $brydge-blue;
		text-align: center;
		.logo img{
			width: 120px;
		}
	}
	.dialog-header{
		padding: 2rem 1rem 0;
		margin-bottom: 2rem;
		border-bottom: 1px solid $border-color;

		.logo{
			text-align: center;
			display: block;
			img {
				height: 40px;
			}
		}
	}
	.dialog-footer{
		background-color: $body-bg-color;
		padding: 2rem 1rem;
	}

}

.page-public-profile{
	font-size: 14px;
	.avatar{
		width: 130px;
		height: 130px;
	}
	.location{
		color: $text-gray;
	}
	.stats{
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		color: #CCC;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 1rem 0;
		big{
			font-size: 20px;
		}
	}
	.dialog-header{
		padding: 2rem 1rem;
		text-align: center;
	}
	.logo img{
		height: 40px;
	}
	.stats-footer{
		font-size: 13px;
	}
	 a.button{
		 font-size: 18px;
		 margin: 1rem 0;
	 }
}

.main{
}
