.profile-menu-buttons{
	@extend .box;
	font-weight: bold;
	margin-bottom: 2rem;
	.button{
		padding: 1rem;
		color: inherit;
	}
	.button:hover{
		background-color: $brydge-gray;
	}
	.button-group{
		margin-bottom: 0;
		.button{
			border-right: 1px solid $border-color;
			margin-bottom: 0;
		}
	}
	.menu.button-ellipsis{
		height: 38px;
		background-position: center center;
	}
	.button.is-active{
		position: relative;
		color: $button-blue;
		&:before{
			@extend .arrow;
		  bottom: -2px;
		  left: 42%;
		  border-color: transparent transparent $border-color transparent;
		  border-width: 9px;
		}
		&:after{
			@extend .arrow;
		  bottom: -2px;
		  left: 43%;
		  border-color: transparent transparent $body-bg-color transparent;
		  border-width: 8px;
		}

	}
	.dropdown-arrow{
		&:after{
			z-index: 15;
		}
	}
}
.profile-box{
	margin: 0 30px;
	font-size: 14px;
	text-align: center;
	.name{
		font-size: 20px;
		margin-bottom: 2rem;
		line-height: 2rem;
	}
	.position, .company{
		line-height: 1.4em;
	}
	.position{
		font-size: 14px;
	}
	.location{
		color: $text-light;
		font-size: 13px;
	}
	.button.large{
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.button.green{
		background: $brydge-green;
		color: #FFF;
		font-weight: bold;
		border-radius: 100px;
	}
	.hoverable{
		> span{
			position: relative;
		}
		a.editable{
			position: absolute;
			// bottom: 0;
			right: 0;
		}
	}
	.hoverable:hover{
		a.editable{
			position: absolute;
			top: 0;
			right: -20px;
		}

	}
}
.profile-photo{
	form{
		cursor: pointer;
	}
	margin-bottom: 1rem;
	.avatar-wrapper{
		position: relative;
		width: 130px;
		height: 130px;
		margin: auto;
		.avatar{
			box-shadow: 0 0 0 1px $border-color;
			border: 3px solid #FFF;
			width: 100%;
			height: 100%;
		}
	}
	.brydge-loading{
		margin-top: 42%;
	}
}
