 .profile-menu-buttons{
	@extend .box;
	font-weight: bold;
	margin-bottom: 2rem;
	.button{
		padding: 1rem;
		color: inherit;
	}
	.button:hover{
		background-color: $brydge-gray;
	}
	.button-group{
		margin-bottom: 0;
		.button{
			border-right: 1px solid $border-color;
			margin-bottom: 0;
		}
	}
	.menu.button-ellipsis{
		height: 38px;
		background-position: center center;
    &:after{
		  bottom: -2px;
		}
	}
	.button.active{
		position: relative;
		color: $button-blue;
		&:before{
			@extend .arrow;
		  bottom: -2px;
		  left: 42%;
		  border-color: transparent transparent $border-color transparent;
		  border-width: 9px;
		}
		&:after{
			@extend .arrow;
		  bottom: -2px;
		  left: 43%;
		  border-color: transparent transparent $body-bg-color transparent;
		  border-width: 8px;
		}

	}
	.dropdown-arrow{
		&:after{
			z-index: 15;
		}
	}
}
.profile-box{
	margin: 0 30px;
	font-size: 14px;
	text-align: center;
  .avatar-wrapper .profile-photo{
    width: 200px;
    height: 200px;
    .avatar, .overlay{
      border-radius: 1rem;
    }
  }
	.name{
		font-size: 20px;
		margin-bottom: 2rem;
		line-height: 2rem;
	}
	.position, .company{
		line-height: 1.4em;
	}
	.position{
		font-size: 14px;
	}
	.location{
		color: $text-light;
		font-size: 13px;
	}
	.button.large{
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.button.green{
		border-radius: 100px;
	}
	.hoverable{
		> span{
			position: relative;
		}
		a.editable{
			position: absolute;
			// bottom: 0;
			right: 0;
		}
	}
	.hoverable:hover{
		a.editable{
			position: absolute;
			bottom: 0;
			right: -20px;
      .fa{
        vertical-align: bottom;
      }
		}

	}
}
.avatar-wrapper{
	.avatar{
		box-shadow: 0 0 0 1px $border-color;
		border: 3px solid #FFF;
		width: 100%;
		height: 100%;
	}
	.profile-photo{
		position: relative;
		width: 130px;
		height: 130px;
		margin: auto;
		margin-bottom: 1rem;
		.brydge-loading{
			margin-top: 42%;
		}
	}
}
form.avatar-wrapper{
  cursor: pointer;
}
