.reveal-popup{
	background-color: rgba(0,0,0,.5);
	border-radius: 7px;
	.wrapper{
		overflow: hidden;
		background-color: #FFF;
	}
	h4{
		background-color: $brydge-blue;
		color: #FFF;
		padding: 5px;
		margin: 0;
	}
	.content{
		padding: 5px;
	}
	textarea{
		margin: 0;
	}
	p.lead{
		font-size: inherit;
		padding: 5px;
		background-color: #EFEFEF;
	}
	.reveal-footer{
		padding: 5px;
		background-color: #EFEFEF;
	}
}