.tab-controls{
	display: table;
	width: 100%;
	.tabs-title{
		padding: 0;
	}
	>li:not(:first-child){
		border-left: 1px solid $border-color;
	}
	.search-box{
		padding: .5rem 1rem;
	}
}

.tabs-table{
	background-color: $brydge-gray;
	padding: 0 1.25rem;
	width: 100%;
	display: table;
	.tabs-title{
		a{
			@extend .bordered;
			@extend .rounded;
			background-color: #FFF;
		}		
	}
}

.tabs-title{
	padding: 1rem;
	// transition: background-color 0.25s ease-out, color 0.25s ease-out;
	float: none;
	// border: 1px solid $button-blue;		
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true']{
	background: none;;
}
.tabs-title.is-active a{
	color: $button-blue;
	// color: #FFF;
}

.newsfeed-tabs{
	.tab-controls{
		border: none;
	}
	.tabs-title.is-active{
		position: relative;
		color: $button-blue;
		&:before{
			@extend .arrow;
		  bottom: -2px;
		  left: 42%;
		  border-color: transparent transparent $border-color transparent;
		  border-width: 9px;
		}
		&:after{
			@extend .arrow;
		  bottom: -2px;
		  left: 43%;
		  border-color: transparent transparent $body-bg-color transparent;
		  border-width: 8px;
		}
	}
}

#ask-tabs{
	@extend .newsfeed-tabs;
	.tabs-title{
		width: 50%;
	}
	.tabs-title.is-active{
		background-color: $button-blue;
		a{
			color: #FFF;
			font-weight: bold;
		}		
		&:before{
			left: 46%;
			border-width: 8px;
			bottom: -1px;
		}
		&:after{
			left: 46%;
		}
	}
}

.profile-tab{
	.tabs-title{
		padding: 0;
		&.is-active a, a:hover{
			background-color: $brydge-gray;
			color: $button-blue;
		}
		a{
			color: $text-gray;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	.tabs-title:not(:last-child){
		border-bottom: 1px solid $border-color;
	}
	.tabs.vertical{
		border-right: 0;
	}
	.tabs-content{
		&.vertical{
			@extend .bordered;
			position: relative;
			min-height: 302px;
		}
	}
	.tabs-panel{
		section{
			padding: 1rem 6rem;
		}
		section.header, section.personal-info{
			background-color: $brydge-gray;
			padding: 3rem 6rem;
			color: $text-gray;
			p:last-of-type{
				margin-bottom: 2rem;
			}
		}
		section.industry-examples{
			padding: 2rem 4rem;
		}
		section.personal-info{
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	.bg-gray{
		color: $text-gray;
	}
}


// .profile, .settings{
// 	.tab-wrapper{	
// 		.tab-header{
// 			@extend .text-center;
// 			border-right: 1px solid $border-color;
// 			padding: 25px;
// 			h2{
// 				margin-bottom: 20px;
// 				color: $button-blue;
// 			}
// 			p{
// 				margin: 0;
// 			}
// 		}
// 		.tabs, .tabs-content{
// 			border: none;
// 		}
// 		.tabs{
// 			border-top: 1px solid $border-color;
// 			@extend .text-center;
// 			.tabs-title{
// 				a{
// 					border-right: 1px solid $border-color;
// 					font-size: 14px;
// 					line-height: 2em;
// 				}
// 				> a:focus, > a[aria-selected='true']{
// 					border-right-color: #FFF;
// 					background-color: #FFF;
// 					color: #000;
// 				}
// 			}
// 			.tabs-title:not(:last-child){
// 				border-bottom: 1px solid $border-color;			
// 			}
// 		}
// 		.tabs-panel{
// 			padding: 25px;
// 		}
// 		.tabs-panel.space-filler{
// 			padding: 80px 25px;
// 		}
// 	}


// 	.tab-wrapper:before{ display: block;}
// 	.tab-wrapper:after {
// 	     visibility: hidden;
// 	     display: block;
// 	     font-size: 0;
// 	     content: " ";
// 	     clear: both;
// 	     height: 0;
// 	     }

// 	.tab-wrapper {
// 		display: inline-block;
// 		position: relative; 
// 		z-index: 1; 
// 		width: 100%; 
// 		background-color: #FFF;
// 	}
// 	.tab-wrapper:before, .tab-wrapper:after {
// 	   content: "";
// 	   position: absolute;
// 	   z-index: -1;
// 	   top: 0;
// 	   left: 0;
// 	   width: 25%;
// 	   height: 100%;
// 	   background-color: #EFEFEF;
// 	}

	
// }
// .tabs{
// 	.tabs-title:not(:first-child){
// 		width: 100%;
// 	}
// 	.tabs-title .button{
// 		padding: 10px;
// 		font-size: 11px;
// 		font-weight: bold;
// 	}
// 	.tabs-content{
// 		background-color: transparent;
// 		border: none;
// 	}
// }
// .tabs-table{
// 	border: 1px solid $button-blue;		
// 	display: table;
// 	width: 100%;

// 	.is-active{
// 		background: $button-blue;
// 		color: #FFF;
// 		a{
// 			background-color: $button-blue;
// 			color: #FFF;			
// 			transition: initial;
// 		}
// 	}

// }

// .newsfeed-tabs{
// 	.tabs{
// 		background-color: transparent;
// 		border: none;
// 	}
// 	.tabs-title > a:focus, .tabs-title > a[aria-selected='true']{
// 		background: inherit;
// 	}
// 	.tabs-table .tabs-title{
// 		border: none;
// 		border-left: 1px solid $border-color;
// 		border-right: 1px solid $border-color;
// 		border-bottom: 4px solid $border-color;

// 		a{
// 			// color: $text-color2;
// 			padding: 8px 10px;
// 			text-align: center;
// 		}
// 	}
// 	.tabs-table .is-active{
// 		border-bottom-color: $button-blue;
// 		a{
// 			background-color: #FFF;
// 		}		
// 	}
// 	.tabs-panel{
// 		padding: 0;
// 	}
// }