.profile, .settings{
	.tab-wrapper{	
		.tab-header{
			@extend .text-center;
			border-right: 1px solid $border-color;
			padding: 25px;
			h2{
				margin-bottom: 20px;
				color: $brydge-blue;
			}
			p{
				margin: 0;
			}
		}
		.tabs, .tabs-content{
			border: none;
		}
		.tabs{
			border-top: 1px solid $border-color;
			@extend .text-center;
			.tabs-title{
				a{
					border-right: 1px solid $border-color;
					font-size: 14px;
					line-height: 2em;
				}
				> a:focus, > a[aria-selected='true']{
					border-right-color: #FFF;
					background-color: #FFF;
					color: #000;
				}
			}
			.tabs-title:not(:last-child){
				border-bottom: 1px solid $border-color;			
			}
		}
		.tabs-panel{
			padding: 25px;
		}
		.tabs-panel.space-filler{
			padding: 80px 25px;
		}
	}


	.tab-wrapper:before{ display: block;}
	.tab-wrapper:after {
	     visibility: hidden;
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
	     height: 0;
	     }

	.tab-wrapper {
		display: inline-block;
		position: relative; 
		z-index: 1; 
		width: 100%; 
		background-color: #FFF;
	}
	.tab-wrapper:before, .tab-wrapper:after {
	   content: "";
	   position: absolute;
	   z-index: -1;
	   top: 0;
	   left: 0;
	   width: 25%;
	   height: 100%;
	   background-color: #EFEFEF;
	}

	
}
.tabs{
	.tabs-title:not(:first-child){
		width: 100%;
	}
	.tabs-title .button{
		padding: 10px;
		font-size: 11px;
		font-weight: bold;
	}
	.tabs-content{
		background-color: transparent;
		border: none;
	}
	.tabs-panel{
		padding: 0;
	}
}
.tabs-table{
	border: 1px solid $brydge-blue;		
	display: table;
	width: 100%;
	.tabs-title{
		transition: background-color 0.25s ease-out, color 0.25s ease-out;
		float: none;
		// border: 1px solid $brydge-blue;		
		display: table-cell;
		vertical-align: middle;
		a:focus{
			background: transparent;
		}
	}

	.is-active{
		background: $brydge-blue;
		color: #FFF;
		a{
			background-color: $brydge-blue;
			color: #FFF;			
			transition: initial;
		}
	}

}

.newsfeed-tabs{
	.tabs{
		background-color: transparent;
		border: none;
	}
	.tabs-title > a:focus, .tabs-title > a[aria-selected='true']{
		background: inherit;
	}
	.tabs-table .tabs-title{
		border: none;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		border-bottom: 4px solid $border-color;

		a{
			color: $text-color2;
			padding: 8px 10px;
			text-align: center;
		}
	}
	.tabs-table .is-active{
		border-bottom-color: $brydge-blue;
		a{
			background-color: #FFF;
		}		
	}
	.tabs-panel{
		padding: 0;
	}
}