$brydge-blue:#6BCDFD;
$light-blue: #CFEFFF;
$sky-blue: #96DCFE;
$border-color: #CCC;
$body-color: #4C4C4C;


@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import "settings";
@import 'foundation';
@include foundation-everything;
@import "components";

@import "pods";
@import "buttons";
@import "topbar";
@import "profile";
@import "forms";
@import "newsfeed";
@import "reveal";

body{
	background-color: #ECEDEF;
	color: $body-color;
}
*{
	outline-width: 0;

}
.wrapper{
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway:500', helvetica, arial, sans-serif;
}
a{
	color: #43BFFB;
}
a.more{
	font-size: 11px;
	font-weight: normal;
	display: block;
}	
.index{
	max-width: 85rem;
}
p.dim-text{
	line-height: 1.2em;
}
.dim-text{
	color: #CCC;
}
.bg-white{
	background-color: #FFF;
}
.bg-blue{
	background-color: $brydge-blue;
}
.bg-light-blue{
	background-color: $light-blue;
}
.bg-sky-blue{
	background-color: $sky-blue;
}
.shadowed{
	// box-shadow: 0 0 0 .5px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .01);	
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset, 0 0px 1px rgba(0, 0, 0, 0.5)
}
// form > div.row.column.log-in-form {
//   border: 1px solid #cacaca;
//   padding: 1.0rem !important;
//   border-radius: 3px;
// }
.signup-section{
	padding-left: 3px;
	padding-right: 0;
	padding-bottom: 0;
}
.full-padding{
	padding: $global-padding;
}
.padded{
	padding-left: $global-padding;
	padding-right: $global-padding;	
}

.border-l{
	border-left: 1px solid $border-color;
}
.border-r{
	border-right: 1px solid $border-color;
}
.border-b{
	border-bottom: 1px solid $border-color;
}
.mt5{
	margin-top: 5px;
}
.mb{
	margin-bottom: 10px;
}
.mb5{ margin-bottom: 5px;}
input.flat{
	border: 0;
	box-shadow: none;
}
img.circle{
	border-radius: 200px;	
	width: 100%;
	height: 100%;
}
/*  #override foundation basic */


/*  Drop down menu to be in gray instead of the overrided blue */

ul > li.is-dropdown-submenu-parent.is-down-arrow > ul {
  background-color: #e6e6e6 !important;
}

@media screen and (min-width: 40em){
	.sidebar{
		padding-left: 0;
	}
}
