$brydge-blue:#6BCDFD;
$light-blue: #CFEFFF;
$dark-blue: #43BFFB;
$sky-blue: #96DCFE;
$border-color: #D9D9D9;
$body-color: #434343;


@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import "settings";
@import 'foundation';
@include foundation-everything;
@import "components";
@import "icons";

@import "pods";
@import "buttons";
@import "header";
@import "sidebar";
@import "profile";
@import "forms";
@import "newsfeed";
@import "tabs";
@import "modal";
@import "dropdowns";

body{
	background-color: #ECEDEF;
	color: $body-color;
	font-family: Arial;
}
*{
	outline-width: 0;

}
header{
	position: fixed;
	z-index: 100;
}
textarea{
	box-shadow: none;
	resize: none;
	margin-bottom: 5px;
}

select{
	border-radius: 3px;
}
.main{
	padding-top: 47px;
}
.wrapper{
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway:500', helvetica, arial, sans-serif;
  font-weight: bold;
}
a{
	color: #43BFFB;
}
a.more{
	font-size: 11px;
	font-weight: normal;
	display: block;
}	
a.hover{
	position: relative;
	.wrapper{
		width: 100%;
		position: absolute;
		bottom: -1px;
		left: 0;
	}	
}
a:not(.hover){
	.triangle{
		display: none;
	}
}
a.more.no-arrow:after{
	display: none;
}

ul{
	margin: 0;
}
.index{
	max-width: 85rem;
}
.no-margin{
	margin: 0;
}
p.dim-text{
	line-height: 1.2em;
}
.dim-text{
	color: #CCC;
}
.text-light-gray{
	color: #999
}
.bg-white{
	background-color: #FFF;
}
.bg-blue{
	background-color: $brydge-blue;
}
.bg-light-blue{
	background-color: $light-blue;
}
.bg-gray{
	background-color: #EFEFEF;
}
.bg-sky-blue{
	background-color: $sky-blue;
}
.rounded{
	border-radius: 3px;
}
.overflow{
	overflow: hidden;
}
.shadowed{
	// box-shadow: 0 0 0 .5px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .01);	
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset, 0 0px 1px rgba(0, 0, 0, 0.5)
}
// form > div.row.column.log-in-form {
//   border: 1px solid #cacaca;
//   padding: 1.0rem !important;
//   border-radius: 3px;
// }
.bordered{
	border: 1px solid $border-color;
}
.signup-section{
	padding-left: 3px;
	padding-right: 0;
	padding-bottom: 0;
}
.padding{
	padding: $global-padding;
}
.padded{
	padding-left: $global-padding;
	padding-right: $global-padding;	
}

.border-l{
	border-left: 1px solid $border-color;
}
.border-r{
	border-right: 1px solid $border-color;
}
.border-b{
	border-bottom: 1px solid $border-color;
}
.mt{
	margin-top: 10px;
}
.mt5{
	margin-top: 5px;
}
.mb{
	margin-bottom: 10px;
}
.mb5{ margin-bottom: 5px;}

input.flat{
	border: 0;
	box-shadow: none;
}
img.circle{
	border-radius: 200px;	
	width: 100%;
	height: 100%;
}
/*  #override foundation basic */


/*  Drop down menu to be in gray instead of the overrided blue */

ul > li.is-dropdown-submenu-parent.is-down-arrow > ul {
  background-color: #e6e6e6 !important;
}

@media screen and (min-width: 40em){
	.sidebar{
		padding-left: 0;
	}
}

.box{
	@extend .clearfix;
	background-color: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	margin-bottom: 10px;
	>.column, >.columns{
		padding: 1rem;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.box-header{
		font-size: 11px;
		margin-bottom: 0;
		font-weight: bold;
		text-transform: uppercase;
		padding: $global-padding;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #F1F1F1;
		border-bottom: 1px solid $border-color;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.box-footer{
		@extend .padded;
		border-top: 1px solid $border-color;
		line-height: 2em;
	}
	.button.small.expanded{
		margin-bottom: 0;
	}
}
