
<ul class="no-bullet sidebox box-list">
{{#each model as |connection|}}
<li>
<div class="padded">
  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
      <img src= "assets/avatar.png">
      </div>
    </div>
    <div class="media-object-section">
      <div class="name">
        <strong>{{connection.to.profile.firstName}} {{connection.to.profile.lastName}}</strong>
      </div>
      <div class="position">{{person.profile.jobTitle}}</div>
      <p class="timestamp">{{person.profile.location}}</p>
    </div>
  </div>
</div>
</li>
{{/each}}
</ul>