<!-- <ul class="no-bullet sidebox box-list">
{{#each model.connections as |person|}}
  <li>
    <div class="position">{{work.title}}</div>
    <div class="name">{{work.company}}</div>
    <span class="dim-text">May 2013 - Present (2 Years and 6 Months)</span>

    <a href="" class="more">Show More</a>
    
  </li>
  
{{/each}}
</ul>

 -->

<ul class="no-bullet sidebox box-list">
<li>
<div class="padded">
  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
      <img src= "assets/avatar.png">
      </div>
    </div>
    <div class="media-object-section">
      <div class="name">
        <strong>Hein Zeya</strong>
      </div>
      <div class="position">Manager</div>
      <p class="timestamp">Pepsico</p>
    </div>
  </div>
</div>
</li>
</ul>