<div class="row column">
	<div class="connections-top">
		<h1>Connections</h1>
	</div>
</div>
<div class="row">
	<div class="column medium-8">
		<div class="content-container">
			
		</div>
		
	</div>
	<div class="column medium-4">
		<div class="search-contianer">
			
		</div>
	</div>
</div>