<div class="row column">
	<div class="connections-top">
		<h1>Connections</h1>
	</div>
</div>
<div class="row">
	<div class="column medium-8">
		<div class="content-container">
			{{partial 'connections/list'}}
		</div>
		
	</div>
	<div class="column medium-4">
		<div class="search-contianer">
			
		</div>
	</div>
</div>

<!-- {{#each model as |connection| }}
              
                
	<span><strong>{{ connection.to.name }}</strong></span>
	{{ connection.to.profile.firstName}}

{{/each}}  -->