<a data-toggle="dd-messages">
	{{#zf-tooltip title="Messages" vOffset=0}}
	<span class="alert badge">5</span>
	<i class="icons messages"></i>
	{{/zf-tooltip}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
</a>
{{#zf-dropdown id="dd-messages" closeOnClick="true" }}
	<ul class="no-bullet list-lined">
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<span class="float-right subheader">2:30pm</span>
					<p class="position">Hey Jon, I thought you should take a look a this.</p>
				</div>
			</div>
		</li>
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<span class="float-right subheader">2:30pm</span>
					<p class="position">Hey Jon, I thought you should take a look a this.</p>
				</div>
			</div>
		</li>
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<span class="float-right subheader">2:30pm</span>
					<p class="position">Hey Jon, I thought you should take a look a this.</p>
				</div>
			</div>
		</li>
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<span class="float-right subheader">2:30pm</span>
					<p class="position">Hey Jon, I thought you should take a look a this.</p>
				</div>
			</div>
		</li>
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<span class="float-right subheader">2:30pm</span>
					<p class="position">Hey Jon, I thought you should take a look a this.</p>
				</div>
			</div>
		</li>
	</ul>
	{{#link-to 'messaging' class="footer-button success button expanded"}}
		See All Messages
	{{/link-to}}
{{/zf-dropdown}}
