<a data-toggle="dd-messages">
	{{#zf-tooltip title="Messages" vOffset=0}}
	{{#if notification.messages}}
		<span class="alert badge">5</span>
	{{/if}}
	<i class="icons messages"></i>
	{{/zf-tooltip}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
</a>
{{#zf-dropdown id="dd-messages" class="dropdown-topbar" closeOnClick=true }}
	<ul class="media-list no-bullet list-lined">
		{{#each notification.messages as |item|}}
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<span class="float-right dim-text">2:30pm</span>
					<p class="position">Hey Jon, I thought you should take a look a this.</p>
				</div>
			</div>
		</li>
		{{/each}}
		{{#unless notification.messages}}
		<li>
			<div class="empty-message">
				You have turned Profile Views off
			</div>
		</li>
		{{/unless}}
	</ul>
	{{#link-to 'messaging' class="footer-button success button expanded"}}
		See All Messages
	{{/link-to}}
{{/zf-dropdown}}
