<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<h1>NOTIFICATIONS</h1>
		</div>		
	</div>
</div>


<div class="row">
  <div class="medium-8 columns">
  	<div class="box rounded">
      <div class="padding">
        <strong>NOTIFICATIONS FROM THE LAST FEW  DAYS</strong>
      </div>
      <ul class="media-list notifications-list no-bullet list-lined">
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src= "assets/avatar-1.jpg">
              </div>
            </div>
            <div class="media-object-section main-section">
              <p><a>Jon Wayne</a> commented on your post <a>Title of Post</a></p>
              <span>Today at 2:30pm</span>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src= "assets/avatar-1.jpg">
              </div>
            </div>
            <div class="media-object-section main-section">
              <p>
              <a>Jon Wayne</a> answered your question <a>What do you think of the new WHO regulations on soda advertising?</a>
              </p>
              <span>Today at 2:30pm</span>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src= "assets/avatar-1.jpg">
              </div>
            </div>
            <div class="media-object-section main-section">
              <p><a>Jon Wayne</a> commented on your post <a>Title of Post</a></p>
              <span>Today at 2:30pm</span>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src= "assets/avatar-1.jpg">
              </div>
            </div>
            <div class="media-object-section main-section">
              <p><a>Jon Wayne</a> commented on your post <a>Title of Post</a></p>
              <span>Today at 2:30pm</span>
            </div>
          </div>
        </li>
      </ul>
  		
  	</div>

  </div>    
  <div class="medium-4 columns sidebar">

    {{render "progress-box"}}
    {{render "footer"}}
  </div>
</div>
