<!-- 

<div class="row">
  <div class="small-3 columns">
    <label for="middle-label" class="text-right middle">{{label}}</label>
  </div>
  <div class="small-9 columns">
    {{select-2
    placeholder=placeholder
    value=selection
    typeaheadSearchingText="Searching"
    typeaheadNoMatchesText="Not found for '%@'"
    typeaheadErrorText="Loading failed: %@"
    minimumInputLength=minimumInputLength
    maximumInputLength=10
    query='queryCategories'}}
  </div>
</div> -->

<label>
  {{label}}:
  {{select-2
    placeholder=placeholder
    value=selection
    typeaheadSearchingText="Searching"
    typeaheadNoMatchesText="Not found for '%@'"
    typeaheadErrorText="Loading failed: %@"
    minimumInputLength=minimumInputLength
    maximumInputLength=10
    query='queryCategories'}}
</label>


