<div class="row collapse">
  <div class="medium-3 columns">
  {{#zf-tabs class="vertical"}}
	  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">User Info</a></li>
	  <li class="tabs-title"><a href="#panel2">Work Experiences</a></li>
	  <li class="tabs-title"><a href="#panel3">Educations</a></li>
	{{/zf-tabs}}
    </div>
    <div class="medium-9 columns">
    	<div class="tabs-content vertical" data-tabs-content="example-tabs">
			  <div class="tabs-panel is-active" id="panel1">
			    {{partial 'profile/edit/info'}}
			  </div>
			  <div class="tabs-panel" id="panel2">
			    {{partial 'profile/edit/work'}}
			  </div>
			  <div class="tabs-panel" id="panel3">
			    {{partial 'profile/edit/education'}}
			  </div>
			</div> 
    </div>
</div>