<div class="row">
  <div class="large-8 medium-8 columns">
    {{share-box postToNewsfeed='postToNewsfeed'}}
    {{newsfeed-list newsfeed=model}}
  </div>
  <div class="large-4 medium-4 columns sidebar mt5">
    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Placeholder&w=250&h=650">
  </div>
</div>


