<p>Languages</p>
<ul class="work-list no-bullet">
{{#each experiences as |item|}}
	<li>
		<div>{{ item.title }}</div>
		<div><strong>{{ item.company }}</strong></div>
	</li>
{{/each}}
</ul>


{{ new-language store=store}}
