<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1>Your Connections</h1>
      <p class="text-center">
        These are the users you are connected to. To see if you have any pending connection requests, see the {{link-to "Connection Requests" "requests"}} page.
      </p>
    </div>
  </div>
</div>

<div class="row columns">
  <div class="box row columns">
    <section class="text-center">
      <form action="">
        {{input value=key type="search" placeholder="Search by Name" class="no-margin"}}
      </form>
    </section>
    <section class="row medium-up-2 columns bg-gray user-list">
      {{#each connections as |item|}}
        <div class="columns medium-6">
          {{connection-box item=item meta=meta}}
        </div>
      {{/each}}
    </section>
  </div>
</div>
