<div class="page-heading">
  <h1>Your Connections</h1>
  <p class="text-center">
  </p>
</div>
<div class="row columns">
  <div class="box row columns">
    <section class="text-center">
      <form action="">
        {{input value=key type="search" placeholder="Search by Name" class="no-margin"}}
      </form>
    </section>
    <section class="row medium-up-2 columns bg-gray user-list">
      {{#each acceptedList as |item|}}
        <div class="columns medium-6">
          {{connection-box item=item isMe=true}}
        </div>
      {{/each}}
    </section>
  </div>
</div>
