.brydge-accordion{
	ul.accordion-menu>li>a{
		padding: 0;
	}
	.accordion-content{
		padding: 0;
		border: none;
		background: none;
		color: inherit;
	}

}
.accordion-form{
	label.title{
		margin-bottom: 10px;
	}
	label{
		input{
			margin-bottom: 0;
		}
		input[type="radio"]{
			// display: none;
		}
	}
	section.header{
		select, label{
			margin-bottom: 0;
		}
	}
	.button-clear{
		text-decoration: underline;
		color: $text-gray;
	}
	.name{
		color: $body-text-color;
	}
	.accordion-item{
		.accordion-header{
			display: block;
			padding: 1rem;
		}
		.col{
			display: inline-block;
			vertical-align: middle;
			padding: 1rem;
			width: 29%;
		}
		.col:first-child{
			width: 70%;
		}
	}
	.accordion-item:first-child{
		margin-bottom: 1rem;
	}
	.accordion-item.is-active{
		.content:not(.form-new){
			&:after{
				@extend .arrow;
			  top: -19px;
			  left: 48%;
			  border-color: transparent transparent $brydge-gray transparent;
			  border-width: 11px;
			}
			&:before{
				@extend .arrow;
			  top: -21px;
			  left: 48%;
			  border-color: transparent transparent $border-color transparent;
			  border-width: 11px;
			}

		}

	}
	.accordion-content{
		position: relative;
	}
	.content{
		background-color: $brydge-gray;
		border-top: 1px solid $border-color;
		padding: 1rem 3rem;
		textarea{
			font-size: 12px;
			margin-bottom: 1rem;
		}

	}

}
.accordion-ask-answer .answer-content{
	font-size: 14px;
	line-height: 1.6rem;
}
.section-accordion{
	[aria-expanded="false"]{
		.more-top{
			display: none;
		}
	}
	.more-top{
		padding-top: 1.25rem;
		padding-bottom: 0;
	}
}

.accordion-picker{
	.box{
		margin-bottom: 0;
	}
	.accordion-title{
		color: $button-blue;
		background-color: $brydge-gray;
		padding: 1rem;
		font-weight: bold;
		border: none;
		min-height: 36px;
	}
	.accordion-sub-title{
		border-bottom: 1px solid $border-color;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}
	.accordion-title:before{
		background-image: url(icons/caret.png);
		content: '';
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    opacity: .5;
	}
	.accordion-title[aria-selected=true]:before{
		transform: rotate(180deg);
	}
	font-size: 12px;
	section{
		padding: 1rem 2rem;
	}
	label{
		font-size: 11px;
	}
	form:not(:last-child){
		border-bottom: 1px solid $border-color;
	}
	.content-pad{
		padding-top: .75rem;
		padding-bottom: .75rem;
	}
	.columns:last-child{
		border-left: 1px solid $border-color;
		min-height: 122px;
	}
	.sub-title{
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		color: $body-text-color;
	}
	.accordion-content{
		border-bottom: none !important;
	}
	.accordion-footer{
		background-color: $brydge-gray;
	}
}

#picker-channel{
	.columns:first-child{
		border-right: none;
	}
	.columns:last-child{
		border-left: 1px solid $border-color;
	}
}
#picker-location{
	.columns:first-child{
		border-right: 1px solid $border-color;
	}
	.columns:last-child{
		border-left: none;
	}
}


.accordion-user-guide{
	.accordion-title{
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		padding: 1.5rem 1rem;
	}
	li.accordion-item:nth-child(1n) .accordion-title{
		background-color: #FFF;
		color: $brydge-blue;
	}
	li.accordion-item:nth-child(2n) .accordion-title{
		background-color: #F2F2F2;
		color: $brydge-blue;
	}
	.accordion-content{
		padding: 2rem 10rem;
		font-size: 15px;
		p{
			line-height: 1.3rem;
			margin-bottom: 2rem;
		}
		ol{
			li:not(last-child){
				margin-bottom: 1rem;
			}
		}
	}

}
