aside, .sidebar{
	.box section,
	.section-accordion-group .section-main{
		// padding: 1.25rem 2rem;

	}
	.section-accordion-group .section-accordion-content + a{
    // padding: 2rem;
    padding-top: 0;
    padding-bottom: 1.25rem;
	}
	section.title{
		h4{
			margin-bottom: 0;
		}
	}
	// .user{
	// 	font-size: 11px;
	// }
	a span.badge{
		color: #FFF;
		margin-left: 6px;
		font-size: 11px;
		border-radius: 3px;
		min-width: 18px;
		padding: 1px 3px;
	}
	.snapshot{
		line-height: 1.4rem;
	}

}
// .sidebar{
// 	.name{
// 		color: $text-color1;
// 		font-size: 16px;
// 	}
// 	.title{
// 		color: $text-color1;
// 		font-size: 13px;
// 	}

// 	ul.box-list > li{
// 		// min-height: 93px;
// 		position: relative;
// 		padding: $global-padding;
// 		h4{
// 			margin: 0;
// 		}
// 		.columns{
// 			border-bottom: 1px solid $border-color;
// 		}
// 	}
// 	ul.box-list li:not(:last-child){
// 		border-bottom: 1px solid $border-color;
// 	}
// 	ul.sidebox > li{
// 		min-height: 93px;
// 		position: relative;
// 		padding: $global-padding;
// 		padding-bottom: 25px;
// 		h4{
// 			margin: 0;
// 		}
// 		.columns{
// 			border-bottom: 1px solid $border-color;
// 		}
// 		a.more{
// 			position: absolute;
// 			bottom: 7px;
// 			padding: 0;
// 		}
// 	}

// 	.sidebox:not(:last-child){
// 		border-bottom: 1px solid $border-color;
// 	}


// 	.languages{
// 		h3{
// 			margin-bottom: 0;
// 		}
// 		h3+span{
// 			text-transform: uppercase;
// 		}
// 		ul li{
// 			min-height: auto;
// 			padding-bottom: 1rem;
// 		}
// 	}
// 	.compliments{
// 		.title{
// 			text-transform: uppercase;
// 			font-weight: bold;
// 		}
// 		p{
// 			margin-bottom: 5px;
// 		}
// 		span{
// 			color: #000;
// 		}
// 	}
// 	.progress-box{
// 		.progress-item{
// 			@extend .clearfix;
// 			margin-bottom: 10px;
// 		}
// 		.col{
// 			width: 50%;
// 			float: left;
// 		}
// 		.col:not(:last-child){
// 			padding-right: 1rem;
// 			width: 44%;
// 		}
// 		.progress{
// 			position: relative;
// 			height: .5rem;
// 			margin-top: 10px;
// 			margin-right: 40px;
// 			.progress-meter-text{
// 				color: $text-gray;
// 				right: -55px;
// 				left: auto;
// 				width: 30px;
// 			}
// 		}
// 	}
// 	footer{
// 		color: $text-gray;
// 		padding: 0 5px;
// 		ul.last{
// 			margin-bottom: 5px;
// 		}
// 		a{
// 			color: $text-gray;
// 		}
// 	}
// }
