.cards{
	.user-info, .timestamp{
		padding-top: 6px;
	}	
}
.ask-card{
	@extend .cards;
	div+.timestamp{
		padding-top: 0;
	}
	.title{
		font-size: 16px;
	}
	.ask-answer{
		border: 1px solid $border-color;
		background-color: $brydge-gray;
		padding-bottom: 2rem;
		margin-bottom: 1rem;
	}
}

.compliment-card{
	@extend .cards;
	.title{
		// margin-bottom: 1rem;
	}
	.content{
		// font-size: 10px;
	}
}