.cards{
	.user-info, .timestamp{
		margin-top: 6px;
	}
	.dropdown-arrow{
	  &:before{
	    left: auto;
			right: 0;
	  }
	  &:after{
	    left: auto;
			right: 0;
	  }
	}

}
.ask-card{
	@extend .cards;
	div.timestamp{
		padding-top: 0;
		margin-top: 5px;
	}
	div+div.timestamp{
		margin-top: 0;
	}
	div+a.timestamp{
		padding-top: 0;
	}
	.title{
		font-size: 16px;
	}
	.ask-answer{
		border: 1px solid $border-color;
		background-color: $brydge-gray;
		padding-bottom: 2rem;
		margin-bottom: 1rem;
	}
}

.compliment-card{
	@extend .cards;
	.title{
		// margin-bottom: 1rem;
	}
	.content{
		// font-size: 10px;
	}
}
