table{
	tr:last-child{
		border-bottom: none;
	}
}
.title{
	font-weight: bold;
	font-size: 14px;
}
.sub-title{
	color: $text-gray;
}
.page-heading{
	padding: 3rem 0;
	text-align: center;
	h1{
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 20px;
	}
}
.user{
	position: relative;
	.avatar{
		float: left;
	}
	.user-info{
		padding-left: 40px;
		a{
			font-weight: bold;
		}
	}
	.action-button{
		display: inline-block;
	}	
}
.user-info{
	.position{
		font-size: 10px;
		color: $text-gray;
	}

}

.menu.user-info{
	li:last-child a{
		padding-left: 0;
		padding-right: 0;
	}
}

.arrow{
  content: '';
  z-index: 11;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;	
}
.accordion-arrow{
	&[aria-expanded="false"]:before,
	&[aria-expanded="false"]:after{ 
	  visibility: hidden;
	}
	&:after{
		@extend .arrow;
	  top: -19px;
	  left: 20px;
	  border-color: transparent transparent $brydge-gray transparent;
	  border-width: 10px;
	}
	&:before{
		@extend .arrow;
	  top: -21px;
	  left: 19px;
	  border-color: transparent transparent $border-color transparent;
	  border-width: 11px;
	}
}


.search-box{
	.fa-search{
		position: absolute;
		right: 1rem;
		top: .6rem;
		color: $body-text-color;
	}
	form{
		position: relative;
		input{
			font-size: 11px;
			@extend .rounded;
			border: 1px solid $border-color;
			padding: .6rem;
			padding-right: 3rem;
		}
	}
}



.dropdown-select{
	position: relative;
	margin-bottom: 1.33rem;
	input{ margin: 0 !important; }

	.wrapper{
		display: none;
	}
	.wrapper.is-open{
		display: block;
		position: absolute;
		z-index: 10;
		width: 100%;
		border-bottom: 1px solid $border-color;
		background-color: #FFF;
	}
	ul{
		@extend .shadowed;
	}
	li{
		border: 1px solid $border-color;
		color: $body-text-color;
		border-bottom: none;
		a{
			padding: 5px 1rem;
			display: block;
		}
	}
	li:hover{
		background-color: #CCC;
		color: #FFF;
	}
}

.ask-title{
	font-size: 13px;
}

.user-top-form{
	background-color: $brydge-gray;
	select{
		width: 30%;
	}
	textarea{
		border-color: $border-color;
	}
}

.tab-background{
	.title+strong{
		padding: .25rem 0;
		display: block;
	}
	.section-accordion-content+a.more{
		padding-top: 1rem;
	}
}
.form-text-counter{
	position: relative;
	.text-count{
		color: $text-gray;
		position: absolute;
		bottom: .25rem;
		right: 1rem;
	}
	textarea:focus{
		box-shadow: none;
	}
}

.getting-started{
	section{
		h3{
			color: $body-text-color;
			margin-bottom: 1rem !important;
		}
		position: relative;
	}
	.badge{
		background-color: $text-gray;
		color: #FFF;
		font-size: 9px;
		position: absolute;
		top: 1rem;
		left: 1rem;
	}
	p{
		margin-bottom: 0;
		padding-left: 25px;
	}
	p:not(:last-child){
		margin-bottom: 2rem;
	}
}

.page-about{
	.box{
		section, .section-accordion-group .section-main{
			padding: 1rem 2rem;
		}
		.section-accordion-group .section-accordion-content + a{
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}
.user-guide-box{
	padding: 1px;	
}

footer{
	.menu{
		>li:first-child a{
			padding-left: 0;
		}
	}
}

.industry-examples{
	.avatar{
		margin-top: 1rem;
	}
	.title{
		color: $button-blue;
	}
	.callout{
		background-color: $brydge-gray;
		border: none;
		color: $text-gray;
		.title{
			color: inherit;
		}
		p{
			margin-bottom: 1rem;
		}
		&:after{
			@extend .arrow;
		  top: 15px;
		  left: -20px;
		  border-color: transparent $brydge-gray transparent transparent ;
		  border-width: 10px;
		}
	}
}

.label-item{
	@extend .shadowed;
	border: 1px solid $border-color;
	padding: .5rem;
}
.label-item:not(:last-of-type){
	margin-right: 2px;
	margin-bottom: 2px;
}
.search{
	.avatar{
		width: 63px;
		height: 63px;
	}
	.user-info{
		padding-left: 75px;
	}
	.section-main{
		@extend .clearfix;
		@extend .padding;
		min-height: 87px;
	}
}