.title{
	font-weight: bold;
	font-size: 14px;
}
.sub-title{
	color: $text-gray;
}
.page-heading{
	padding: 3rem 0;
	text-align: center;
	h1{
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 20px;
	}
}
.user{
	position: relative;
	.avatar{
		float: left;
	}
	.user-info{
		padding-left: 40px;
		.position{
			font-size: 10px;
			color: $text-gray;
		}
		a{
			font-weight: bold;
		}
	}
	.action-button{
		display: inline-block;
	}
	
}
.menu.user-info{
	li:last-child a{
		padding-left: 0;
		padding-right: 0;
	}
}

.arrow{
  content: '';
  // display: none;
  // visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;	
}
.accordion-arrow{
	&[aria-expanded="false"]:before,
	&[aria-expanded="false"]:after{ 
	  visibility: hidden;
	}
	&:after{
		@extend .arrow;
	  top: -19px;
	  left: 20px;
	  border-color: transparent transparent $brydge-gray transparent;
	  border-width: 10px;
	}
	&:before{
		@extend .arrow;
	  top: -21px;
	  left: 19px;
	  border-color: transparent transparent $border-color transparent;
	  border-width: 11px;
	}
}


.search-box{
	.fa-search{
		position: absolute;
		right: 1rem;
		top: 1rem;
		color: $body-text-color;
	}
	form{
		position: relative;
		input{
			font-size: 11px;
			@extend .rounded;
			border: 1px solid $border-color;
			padding: .75rem;
			padding-right: 3rem;
		}
	}
}

.top-bar-search {
	@extend .search-box;
	width: 350px;
	.user{
		border-bottom: 1px solid $border-color;
		font-size: 10px;
	}
	.user a{
	}
	.position{
		color: $text-gray;
	}
}


.dropdown-select{
	position: relative;
	margin-bottom: 1.33rem;
	input{ margin: 0 !important; }

	.wrapper{
		display: none;
	}
	.wrapper.is-open{
		display: block;
		position: absolute;
		z-index: 10;
		width: 100%;
		border-bottom: 1px solid $border-color;
		background-color: #FFF;
	}
	li{
		padding: 5px;
		border: 1px solid $border-color;
		color: $body-text-color;
		border-bottom: none;
	}
	li:hover{
		background-color: #CCC;
		color: #FFF;
	}
}

.ask-title{
	font-size: 13px;
}

.user-top-form{
	background-color: $brydge-gray;
	select{
		width: 30%;
	}
	textarea{
		border-color: $border-color;
	}
}

.tab-background{
	.title+strong{
		padding: .25rem 0;
		display: block;
	}
	.section-accordion-content+a.more{
		padding-top: 1rem;
	}
}
.form-text-counter{
	.text-count{
		color: $text-gray;
		position: absolute;
		bottom: .25rem;
		right: 1rem;
	}
	textarea:focus{
		box-shadow: none;
	}
}

.getting-started{
	section{
		position: relative;
	}
	.badge{
		background-color: $text-gray;
		color: #FFF;
		font-size: 9px;
		position: absolute;
		top: 1rem;
		left: 1rem;
	}
	p{
		margin-bottom: 0;
		padding-left: 25px;
	}
	p:not(:last-child){
		margin-bottom: 2rem;
	}
}

.page-about{
	.box{
		section, .section-accordion-group .section-main{
			padding: 1rem 2rem;
		}
		.section-accordion-group .section-accordion-content + a{
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}