.new-notification{
  background: $brydge-gray;
}

ul.media-list{
	@extend .no-bullet;
  li:not(:last-child){
    border-bottom: 1px solid $border-color;
  }
  li>a{
    padding: 1rem;
    display: block;
    margin: 0;
  }
  .actions{
    .fa{
      font-size: 22px;
      color: $text-gray;
    }
    .fa-check-circle{
      color: $brydge-blue;
    }
  }
}
ul.user-link-list{
  li{
    min-height: 66px;
    border-bottom: 1px solid $border-color;
    .name{
      // color: $body-text-color;
    }
  }
  li>a{
    padding: 1rem;
    display: block;
  }
}

ul.messages-list{
  li:not(:last-child){
    border-bottom: 1px solid $border-color;
  }
  li{
    padding: 1rem;
    display: block;
  }
}

ul.list-inline{
  li{
    display: inline-block;
  }
}
