.new-notification{
  background: $brydge-gray;
}

ul.media-list{
	@extend .no-bullet;
  li:not(:last-child){
    border-bottom: 1px solid $border-color;
  }
  li>a{
    min-height: 61px;
    padding: 1rem;
    display: block;
    margin: 0;
  }
  .actions{
    .fa{
      font-size: 22px;
      color: $text-gray;
    }
    .fa-check-circle{
      color: $brydge-blue;
    }
  }
}
ul.user-link-list{
  li{
    border-bottom: 1px solid $border-color;
    .user{
      overflow: hidden;
    }

  }
  li>a{
    padding: 1rem;
    display: block;
  }
}

ul.messages-list{
  li:not(:last-child){
    border-bottom: 1px solid $border-color;
  }
  li{
    padding: 1rem;
    display: block;
  }
}

ul.list-inline{
  li{
    display: inline-block;
  }
}


// ul.list-dotted{
//   li:after { content: " \00b7"; }
//   li:last-child:after{
//     content: none;
//     font-weight: bold;
//   }
// }


ul.list-dotted{
  width: 100%;
  margin:0;
  padding:0;
  & > li{
    display: inline-block;
    // word-break:
  }
  & > li:after{
    content: " ";
    width: 3px;
    height: 3px;
    display: inline-block;
    background-color: $text-gray;
    border-radius: 100%;
    position: relative;
    top: -2px;
    margin-right: 8px;
    margin-left: 8px;
  }
  & > li:last-child:after{
    display: none;
  }
}

i.dot{
  content: " ";
  width: 3px;
  height: 3px;
  display: inline-block;
  background-color: $text-gray;
  border-radius: 100%;
  position: relative;
  top: -2px;
  margin-right: 3px;
  margin-left: 3px;
}


div.list-dotted{
  i.dot:last-child{
    display: none;
  }
}
