.reveal{
	padding: 0;
}
.reveal-overlay{
	background-color: rgba(65,65,65,.25);
}
.reveal{
	section.header{
		background-color: $brydge-gray;
	}
	section.title{
		h4{
			text-transform: none;
			color: $body-text-color;
		}
		padding: 1rem;
	}
	.newsfeed-item{
		border: none;
	}
	.accordion-picker{
		>li.is-active{
			border-bottom: 1px solid $border-color;
		}
	}
}

.reveal.small{
	max-width: 470px;
}
