.post-box{
	@extend .bordered;
	@extend .rounded;
	background-color: $brydge-gray;
	margin-bottom: 1rem;
	.is-collapsed{
		display: none;
	}
	section{
		padding: 1rem;
	}
	.form-input{
		position: relative;
	}
	.newsfeed-item{
		border: none;
	}
	.dropdown-button{
		padding-left: 0;
	}
	.broadcast-list{
		font-size: 11px;
	}
	.accordion-picker{
		>li{
			border-top: 1px solid $border-color;

		}
		>li.is-active{
			border-bottom: 1px solid $border-color;
		}
	}
	.section-footer{
		border-top: 1px solid $border-color;
	}
	textarea{
		padding-top: 6px;
	}
	span.brydge-loading{
		position: absolute;
		right: 1rem;
		bottom: 1rem;

	}
}

.post-sharer{
	@extend .post-box;
	background-color: #FFF;
}
