.share-post-box{
	@extend .bordered;
	@extend .rounded;
	background-color: $brydge-gray;
	margin-bottom: 1rem;
	section{
		padding: 1rem;
	}
	.section-footer{
	}

	.newsfeed-item{
		border: none;
	}
	.dropdown-button{
		padding-left: 0;
	}
	.broadcast-list{
		font-size: 11px;
	}
	.accordion-picker{
		>li{
			border-top: 1px solid $border-color;

		}
		>li.is-active{
			border-bottom: 1px solid $border-color;
		}
	}
	textarea{
		padding-top: 6px;
	}
}
