.tab-controls{
	display: table;
	width: 100%;
	.tabs-title{
		padding: 0;
	}
	>li:not(:first-child){
		border-left: 1px solid $border-color;
	}
	.search-box{
		padding: .5rem 1rem;
		input{
			color: $button-blue;
		}
	}
}

.tabs-table{
	background-color: $brydge-gray;
	padding: 0 1.25rem;
	width: 100%;
	display: table;
	.tabs-title{
		a{
			@extend .bordered;
			@extend .rounded;
			background-color: #FFF;
		}
	}
}

.tabs-title{
	padding: 1rem;
	// transition: background-color 0.25s ease-out, color 0.25s ease-out;
	float: none;
	// border: 1px solid $button-blue;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.tabs-title > a:focus,
.tabs-title > a:hover,
.tabs-title.is-active,
.tabs-title > a[aria-selected='true']{
	background: none;;
}
.tabs-title.is-active a{
	color: $button-blue;
	// color: #FFF;
}

.newsfeed-tabs{
	.tab-controls{
		border: none;
	}
	.tabs-title.is-active{
		position: relative;
		color: $button-blue;
		&:before{
			@extend .arrow;
		  bottom: -2px;
		  left: 42%;
		  border-color: transparent transparent $border-color transparent;
		  border-width: 9px;
		}
		&:after{
			@extend .arrow;
		  bottom: -2px;
		  left: 43%;
		  border-color: transparent transparent $body-bg-color transparent;
		  border-width: 8px;
		}
	}
}

.brydge-tab-blue, #tabs.tab-controls{
	@extend .newsfeed-tabs;
	.tabs-title.is-active{
		background-color: $button-blue;
		a{
			color: #FFF;
			font-weight: bold;
		}
		&:before{
			left: 46%;
			border-width: 8px;
			bottom: -1px;
		}
		&:after{
			left: 46%;
		}
	}
}

.brydge-tab{
	.tabs-title{
		padding: 0;
		&.is-active a, a:hover{
			background-color: $brydge-gray;
			color: $button-blue;
		}
		a{
			color: $text-gray;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			position: relative;
			padding-left: 40px;
			i{
				position: absolute;
				left: 1.25rem;
			}
		}
	}
	.tabs-title:not(:last-child){
		border-bottom: 1px solid $border-color;
	}
	.tabs.vertical{
		.tabs-title{
			text-align: left;
		}
	}
	.tabs-content{
		&.vertical{
			border: 1px solid $border-color;
			position: relative;
			min-height: 302px;
		}
	}
	.tabs-panel{
		// section{
		// 	padding: 1rem 6rem;
		// }
		// section.industry-examples{
		// 	padding: 2rem 1rem;
		// }
		// section.personal-info{
		// 	padding-left: 1rem;
		// 	padding-right: 1rem;
		// }
	}
	.tabs-panel.header, section.personal-info{
		background-color: $brydge-gray;
		color: $text-gray;
		min-height: 302px;
		p:last-of-type{
			margin-bottom: 0;
		}
	}
	.bg-gray{
		color: $text-gray;
	}
}

#notification-tab{
	border: none;
	border-bottom: 1px solid $border-color;
	li:before, li:after{
		content: none;
	}
	.tabs-title > a{
		padding: 1rem;

	}
	.badge-large{
		top: -3px;
		right: -4px;

	}
	.icons{
		margin: auto;
	}
	.is-active{
		.bino{
			@extend .icons.bino.white;
		}
		.stack{
			@extend .icons.stack.white;
		}
		.messages{
			@extend .icons.messages.white;
		}
	}
}
