{{input type=type name=valuePath key-up="query" value=value placeholder=placeholder autocomplete="off"}}
{{#unless isOpen}}
  {{#if showMessage}}
    <div class="error">
        {{v-get model valuePath 'message'}}
    </div>
  {{/if}}
{{/unless}}
{{#if isOpen}}
  <div class="wrapper ">
  	<ul class="no-bullet">
  	{{#each items as |item|}}
  		<li {{action "onSelect" item}}> <a>{{item}}</a> </li>
  	{{/each}}
  	</ul>
  </div>
{{/if}}
