<div style="margin: 10px;">
	{{#each experiences as |work|}}
		{{ work-experience work=work }}
	{{/each}}
</div>


<button type="button" class="success button expanded" {{action 'addNewWork'}}>{{fa-icon "plus"}} Add More Work</button>