
aside{
	background-color: white;
	border: 1px solid $border-color;
	.top-bar{
		background-color: white;
		// border-left: 1px solid #cacaca;
		// border-top: 1px solid #cacaca;
		// .top-bar-left .menu{
		// 	li a{
		// 		color: #303030;
		// 	}
		// }
	  .button.secondary {
	    // background-color: #DEDEDE;
	    // color: #fff;
	    // font-size: 12px;
	    // text-transform:	none;
	    // color: #303030;
		}
	}
	.messages{
		.avatar{
			width: 50px;
		}

	}
	.search{
		input{
			margin: 0;
			font-size: 12px;
		}		
	}

	.contacts-list{
		ul{
			margin: 0;
		}
		li{
			border-bottom: 1px solid $border-color;
			padding: 7px;
		}
		.media-object{
			margin-bottom: 0;
			.thumbnail{
				margin-bottom: 0;
			}
			strong{
				color: #666;
			}
			p{
				font-size: 11px;
			}
			p, .subheader{
				color: #999;
				margin: 0;
			}
		}
	}

}

.container .columns{
	padding: 0px;
}
