<div class="container">
 <div class="row column">
   <div class="medium-5 columns">
     <aside>
       <div class="left-header">
        	<div class="top-bar">
       			<a href="#" class="button clear">Inbox</a>
       			<a href="#" class="button clear">Others</a>

				{{#link-to "messaging.compose" class="float-right secondary button" }}
					New Message
				{{/link-to}}
        	</div>
       </div>
       <div class="search">
       {{input placeholder='search'}} 
       </div>
       <div class="messages contacts-list">
         <ul class="no-bullet">

            {{#each model as |chat| }}
              
                

              <li>
              	{{#link-to "conversation" chat.id}}
	                <div class="media-object">
	                  <div class="media-object-section">
	                    <div class="thumbnail">
	                      <img src= "assets/avatar-1.jpg" class="avatar">
	                    </div>
	                  </div>
	                  <div class="media-object-section main-section">
	                    <span><strong>{{ chat.other.name }}</strong></span>
	                    <span class="float-right subheader">
	                      {{moment-format chat.updatedAt "hA"}}
	                    </span>
	                    <p>Hey Jon, I thought you should take a look at this.</p>
	                  </div>
	                </div>
	            {{/link-to}}
              </li>


            {{/each}} 


          </ul>
       </div>
     </aside>
   </div>
   <div class="medium-7 columns">
     <div class="content-container">
       {{ outlet }}
     </div>
   </div>
 </div>
 </div>