<div class="container">
 <div class="row column">
   <div class="medium-5 columns">
     <div class="left-side-bar">
       <div class="left-header">
        <div class="top-bar">
          <div>
            <div class="top-bar-left">
              <ul class="menu">
                <li><a href="#">Inbox</a></li>
                <li><a href="#">Others</a></li>
              </ul>
            </div>
            <div class="top-bar-right top-right-padding">
              {{#link-to "messaging.compose" }}
                <button class="secondary button">New Message</button>
              {{/link-to}}
              
            </div>
          </div>
        </div>
       </div>
       <div class="search">
       {{input placeholder='search'}} 
       </div>
       <div class="contacts-list">
         <ul class="no-bullet">

            {{#each model as |chat| }}
              {{#link-to "conversation" chat.id}}
                

              <li>
                <div class="media-object">
                  <div class="media-object-section">
                    <div class="thumbnail">
                      <img src= "assets/avatar.png" class="avatar">
                    </div>
                  </div>
                  <div class="media-object-section main-section">
                    <span><strong>{{ chat.other.name }}</strong></span>
                    <span class="float-right subheader">
                      {{moment-format chat.updatedAt "hA"}}
                    </span>
                    <p>xxxx</p>
                  </div>
                </div>
              </li>


              {{/link-to}}
            {{/each}} 


          </ul>
       </div>
     </div>
   </div>
   <div class="medium-7 columns">
     <div class="content-container">
       {{ outlet }}
     </div>
   </div>
 </div>
 </div>