
<div class="row">
	<div class="medium-7 small-12 columns">
    {{ask-card item=model delete="delete"}}

	</div>
	<div class="medium-5 small-12 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
	</div>
</div>
