<form {{action 'compose' to msg on='submit'}}>
  {{#if showToInput}}
  	{{input value=to type="text" id="middle-label" placeholder="Type a person name.."}}
  {{/if}}
  {{textarea value=msg placeholder="Message..." rows="4"}}
  <div class="text-right">
  	<button type="submit" class="button success">{{buttonLabel}}</button>
  </div>
</form>


