{{input value=name placeholder="Name"}}
{{input value=keyword placeholder="Job Title or Expertise"}}
{{form-input-location
    model=this
    valuePath="city"
    selected=this.city
    placeholder="City"}}

<button class="button success float-right" {{action "submit"}}>Search</button>
