<div class="row">
	<div class="medium-7 small-12 columns">
		{{ask-card-pending item=model submit="submit"}}
	</div>
	<div class="medium-5 small-12 columns ">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
	</div>
</div>
