.newsfeed-item{
	color: $text-color1;
	padding-top: 20px;
	font-size: 14px;
	position: relative;
	h3{
		font-family: 'Din Alternate', helvetica;
		// display: table-cell;
		display: block;
		vertical-align: middle;
		font-size: 18px;
		font-weight: bold;
		color: #3b3e46;	
		// margin-bottom: 0;
	}
	p{
		line-height: 1.4em;
		word-break: break-word;
	}
	.menu-wrapper{
		position: absolute;
		right: 25px;
		top: 15px;
		.icons{
			opacity: .2;
		}
	}
	.media{
		padding: 0 20px 30px;
	}
	.media-top{
		padding-bottom: 0;
	}
	
	.media-object{
		margin-bottom: 10px;
		.name{
			margin-bottom: 6px;
			line-height: 1em;
			font-size: 15px;
		}
		.position, .timestamp{
			line-height: 1em;
			margin-bottom: 5px;
			a{
				color: $text-gray;
			}
		}
		p.small{
			font-size: 11px;
		}
		input{
			@extend .rounded;
		}
		.avatar{

			width: 50px;
			height: 50px;
			margin: 0;
			img{
				@extend .rounded;
				width: 100%;
				height: 100%;
				border: 1px solid #DDD;	
			}
		}
	}
	.post-actions{
		@extend .clearfix;
		padding: 3px 20px;
		color: #717171;	
		font-size: 12px;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		a{
			color:#CCC;
			margin-right: 5px;
		}
		a+span:not(:last-child){
			// margin-left: 5px;
			margin-right: 20px
		}
		.acted{
			color:#43BFFB;
		}

	}

	.post-caption{
		position: relative;
		// display: table;
		display: block;
		width: 100%;
		border: 1px solid #dedede;
		background-color: #efefef;
		padding: 5px 1rem;
		min-height: 83px;
		margin-top: -8px;
		text-align: center;
		border-radius: 4px;
		.subheader{
			color: #A7B1B3;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			font-size: 10px;
			width: 100%;
			left: 0;
		}
		.subheader+h3{
			display: block;
		}
	}
	.post-image{
		text-align: center;
		// border: 1px solid #dedede;
		margin: 0 5px;
		margin-bottom: 1px;
		padding: 0 20px;

	}
}
