.newsfeed-item{
	color: #666;
	padding-top: 20px;
	font-size: 14px;
	position: relative;
	h3{
		display: table-cell;
		vertical-align: middle;
		font-size: 18px;
		font-weight: bold;
		color: #F3F3F3;	
		margin-bottom: 0;
	}
	p{
		line-height: 1.4em;
	}
	.menu{
		position: absolute;
		right: 25px;
		top: 15px;
		.icons{
			opacity: .4;
		}
	}
	.media{
		padding: 0 20px 30px;
	}
	.media-object{
		margin-bottom: 10px;
		.name{
			margin-bottom: 6px;
			line-height: 1em;
			font-size: 15px;
		}
		.position, .timestamp{
			@extend .dim-text;
			font-size: 11px;
			line-height: 1em;
			margin-bottom: 5px;
			span:after{
			    content: '\00B7';
			    font-weight: bold;
			    margin: 5px;
			    font-size: 11px;
			    line-height: 1em;
			}
			a{
				@extend .dim-text;
			}
		}
		p.small{
			font-size: 11px;
		}
		input{
			@extend .rounded;
		}
		.thumbnail{
			width: 50px;
			height: 50px;
			margin: 0;
			img{
				@extend .rounded;
				width: 100%;
				height: 100%;
			}
		}
	}
	.post-actions{
		@extend .clearfix;
		padding: 3px 20px;
		color: #717171;	
		font-size: 12px;
		a{
			margin-right: 5px;
		}
		a+span:not(:last-child){
			// margin-left: 5px;
			margin-right: 20px
		}

	}
	.post-comment-form{
		padding-top: 8px;
		padding-bottom: 8px;
		.media-object{
			margin-bottom: 0;
			.thumbnail{
				position: absolute;
				width: 30px;
				height: 30px;
			}
			.comment-form{
				padding-left: 40px;
				input{
					font-size: 10px;					
					height: auto;
					margin: 0;
				}
			}
		}

	}
	.post-comments{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.post-footer{
		background-color: #EFEFEF;		
		font-size: 12px;
	}

	.post-caption{
		display: table;
		width: 100%;
		border: 1px solid #CCC;
		background-color: #999;
		padding: 5px 1rem;
		min-height: 83px;
	}
	.post-image{
		border: 1px solid #DDD;
		margin-bottom: 1px;
	}
}
