<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<h1>PENDING CONNECTION REQUESTS</h1>
		</div>		
	</div>
</div>


<div class="row">
  <div class="medium-8 columns">
  	<div class="box rounded">
      <div class="padding">
        <strong>PENDING CONNECTION REQUESTS FOR JON</strong>
      </div>
      <ul class="media-list no-bullet list-lined">
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src= "assets/avatar-1.jpg">
              </div>
            </div>
            <div class="media-object-section main-section">
              <a class="name">Mark JUDGE</a>
              <p class="position">
                Strategic Partnerships Lead <br>
                Samsung Electronics
              </p>
            </div>
            <div class="media-object-section actions-section">
              <a class="button expanded success">ACCEPT</a>
              <a class="button expanded default">DELETE</a>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src= "assets/avatar-1.jpg">
              </div>
            </div>
            <div class="media-object-section main-section">
              <a class="name">Mark JUDGE</a>
              <p class="position">
                Strategic Partnerships Lead <br>
                Samsung Electronics
              </p>
            </div>
            <div class="media-object-section actions-section">
              <a class="button expanded success">ACCEPT</a>
              <a class="button expanded default">DELETE</a>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src= "assets/avatar-1.jpg">
              </div>
            </div>
            <div class="media-object-section main-section">
              <a class="name">Mark JUDGE</a>
              <p class="position">
                Strategic Partnerships Lead <br>
                Samsung Electronics
              </p>
            </div>
            <div class="media-object-section actions-section">
              <a class="button expanded success">ACCEPT</a>
              <a class="button expanded default">DELETE</a>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src= "assets/avatar-1.jpg">
              </div>
            </div>
            <div class="media-object-section main-section">
              <a class="name">Mark JUDGE</a>
              <p class="position">
                Strategic Partnerships Lead <br>
                Samsung Electronics
              </p>
            </div>
            <div class="media-object-section actions-section">
              <a class="button expanded success">ACCEPT</a>
              <a class="button expanded default">DELETE</a>
            </div>
          </div>
        </li>
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src= "assets/avatar-1.jpg">
              </div>
            </div>
            <div class="media-object-section main-section">
              <a class="name">Mark JUDGE</a>
              <p class="position">
                Strategic Partnerships Lead <br>
                Samsung Electronics
              </p>
            </div>
            <div class="media-object-section actions-section">
              <a class="button expanded success">ACCEPT</a>
              <a class="button expanded default">DELETE</a>
            </div>
          </div>
        </li>
      </ul>
  		
  	</div>

  </div>    
  <div class="medium-4 columns sidebar">

    {{render "progress-box"}}
    {{render "footer"}}
  </div>
</div>
