<!-- 

{{typeahead-search
	id='industry'
	selection=industry 
	store=store
	label='Business Industry' 
	placeholder='Please select the industry'
	minimumInputLength=3
	action="selectionChanged" class="form-control"}}






 

  -->
<div>
   {{dropdown-filter
    items=industries 
    selected=selectedIndustry
    query='queryIndustries'
    itemSelected='industrySelected'
    template="partials/industry-filter"}}
</div>

<button class='button success' {{ action 'save' }}>Save Changes</button>