<form {{action 'saveIndustry' industry occupationOne occupationTwo on='submit'}}>
<div class="row column">
	<label>
	  Job Industry:
	  
	  {{ typehead-industry-search store=store}}
	</label>
</div>
<div class="row column">
	<label>
	  Occupation Industry - 1:
	  
	  {{ typehead-industry-search store=store }}
	</label>
</div>
<div class="row column">
	<label>
  Occupation Industry - 2:
  
  {{ typehead-industry-search store=store}}
</label>
</div>
<button type='submit' class='button'>Save Changes</button>
</form>






