<section class="newsfeed-trending-title">
  <h4><i class="fa fa-newspaper-o text-green" aria-hidden="true"></i>Popular This Week</h4>
</section>
<section>

  {{#if post.title}}
    {{newsfeed-media model=post}}
  {{/if}}

  {{#unless shared }}
    {{#if post.shared }}
      {{newsfeed-item post=post.shared shared=true class="shared-post"}}
    {{/if}}
  {{/unless}}

</section>

<section class="post-actions">
  <div class="row">
    <div class="columns text-center">
      <a {{action "share" post}} data-open="postAsNew">
        <i class="fa fa-retweet" aria-hidden="true"></i>
        Share
      </a>
    </div>
  </div>
</section>
