<div class="page-heading align-center">
  <h1>People Who Follow <a href="{{href-to 'profile' profile.uid}}" class="text-title">{{profile.firstName}}</a></h1>
</div>

<div class="row columns mb">
  <ul class="tab-controls brydge-tab-blue tabs">
    <li data-tab='tab_1' class="tabs-title medium-6 small-6">
      <a href="{{href-to 'following' profile.uid}}">Following</a>
    </li>
    <li data-tab='tab_2' class="tabs-title medium-6 small-6 is-active">
      <a aria-selected="true">Followers</a>
    </li>
  </ul>
</div>

{{partial "partials/list-follow"}}
