
<form {{action 'ask' model.userid model.ownerid question on='submit'}}>
  <div class="row">
  	 {{input value=model.userid type="hidden"}}
  	 {{input value=model.ownerid type="hidden"}}
     <div class="small-9 columns">
      {{textarea value=question placeholder="Ask" rows="4"}}
    </div>
    <div class="small-9 columns">
    <button type="submit" class="secondary hollow button">Ask</button>
    </div>
  </div>
</form>

