<div class="box">
	<ul class="ask-menu no-bullet">
		<li>
			{{#link-to "me.compliments.inbox" }}
				Compliments Requiring Approval
				<span class="badge">{{inbox.meta.total}}</span>
				<i class="fa fa-chevron-right float-right" aria-hidden="true"></i>
			{{/link-to}}
		</li>
		<li>
			{{#link-to "me.compliments.outbox" }}
				Compliments You Have Posted
				<i class="fa fa-chevron-right float-right" aria-hidden="true"></i>
			{{/link-to}}
		</li>
	</ul>
</div>

{{ partial "partials/user-guide-box" }}
{{ partial "footer"}}
