


<ul class="no-bullet pending-list">
{{#each model.toQuestions as |q| }}
<li>
	<div class="columns wrapper clearfix">
		<div class="title">{{q.content}}</div>
		<div class="dim-text">asked by <a>{{ q.from.content.name }}</a></div>
	</div>
	<div class="question-box-footer">
		<a class="float-left">Write Answer</a>
		<a class="float-right">Delete</a>
	</div>			
</li>
{{/each}}
</ul>