<div class="search-form">
	<input class="input-group-field" type="search" placeholder="Search">
	<div class="input-group-button" data-toggle="dd-search">
		{{fa-icon "search"}}
	</div>

</div>

<a data-toggle="dd-search" class="hide">
</a>


{{#zf-dropdown id="dd-search"}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
	
	<ul class="no-bullet list-lined">
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<p class="position">
						Strategic Partnerships Lead <br>
						Samsung Electronics
					</p>
				</div>
			</div>
		</li>
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<p class="position">
						Strategic Partnerships Lead <br>
						Samsung Electronics
					</p>
				</div>
			</div>
		</li>
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<p class="position">
						Strategic Partnerships Lead <br>
						Samsung Electronics
					</p>
				</div>
			</div>
		</li>
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<p class="position">
						Strategic Partnerships Lead <br>
						Samsung Electronics
					</p>
				</div>
			</div>
		</li>
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<p class="position">
						Strategic Partnerships Lead <br>
						Samsung Electronics
					</p>
				</div>
			</div>
		</li>
	</ul>
	{{#link-to 'messaging' class="footer-button success button expanded"}}
		Advanced People Search
	{{/link-to}}
{{/zf-dropdown}}
