<div class="search-form">
	{{input value="" key-up="search" class="input-group-field" type="search" placeholder="Search"}}
	<div class="input-group-button" data-toggle="dd-search">
		{{fa-icon "search"}}
	</div>

</div>

<a data-toggle="dd-search" class="hide">
</a>


{{#zf-dropdown id="dd-search" closeOnClick=true autoFocus=false}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
	
	<ul class="no-bullet list-lined">
		{{#each search.results as |item|}}
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					{{#link-to "profile" item class="name"}}{{item.name}}{{/link-to}}
						<p class="position">
						{{item.occupation}} <br>
						Samsung Electronics
					</p>
				</div>
			</div>
		</li>
		{{/each}}
	</ul>
	{{#link-to 'messaging' class="footer-button success button expanded"}}
		Advanced People Search
	{{/link-to}}
{{/zf-dropdown}}
