<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1>Following</h1>
      <p class="text-center">

      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="mb">
    <ul class="tab-controls brydge-tab-blue tabs">
      <li data-tab='tab_1' class="tabs-title is-active">
        <a aria-selected="true">Following</a>
      </li>
      <li data-tab='tab_2' class="tabs-title">
        {{link-to "Followers" "me.followers" }}
      </li>
    </ul>
  </div>
</div>

{{partial "partials/list-follow"}}
