<div class="padded border-b">
  <div class="post-comment-form">
    <div class="media-object">
      <div class="thumbnail">
        <img src= {{avatar}}>
      </div>
      <div class="comment-form">
        {{input type="text" placeholder="Write your comment" enter="comment" value=commentContent}}
      </div>
    </div>
  </div>
</div>
<div class="padded post-comments">
  <a>View Comments</a>  
  {{#each post.comments as |comment|}}  
  <p>{{comment.content}}</p>
  {{/each}}
</div>