{{input value=value focus-in="open"}}
{{#if isOpen}}
  <div class="wrapper {{if isOpen 'is-open'}}">
  	<ul class="no-bullet">
  		<li><a data-open="industryModal">Use the Industry Picker</a></li>
  	</ul>
  </div>
{{/if}}
