<form {{action 'save' on='submit'}}>
  <div class='row'>
    <div class='columns'>
      {{input value=name placeholder='Name'}}
      {{input value=email placeholder='Email'}}
      {{input value=password placeholder='New password' type='password'}}
    </div>
    <button type='submit' class='button expanded'>Save Changes</button>
  </div>
</form>