.share-box{
	.content-editable{
		color:  $text-color1;
		padding-left: 0;
		border: none;
		box-shadow: none;
		resize: none;
		font-size: 14px;
		margin: 0;
		min-height: 55px;
	}
	.content-editable:before{
		color: #DEDEDE;
	}
	.post-bar{
		padding: 5px;
		.thumbnail{
			position: absolute;
			width: 35px;
			height: 35px;
			margin: 0;
		}
		.post-form{
			padding-left: 40px;
		}
	}
	.is-down-arrow a{
		padding-right: 35px;
		color: #717171;	
	}
	.button{
		float: left;
		margin: 0;
		border-left: 1px solid $border-color;
	}
	.button.success{
		font-weight: bold;
	}

}
.share-box, #shareModal{
	.dropdown-button{
		color :$body-text-color;
		text-transform: capitalize;
	}
	.dropdown-pane{
		left: auto;
		right: 0;
		width: 300px;
		padding: 0;
		ul>li>input[type="checkbox"]{
			float: right;
			margin: 3px 0;
		}
		section{
			padding: .5rem;
			p:last-child{
				margin-bottom: 0;
			}
		}

		hr{
			margin: 0;
			margin-bottom: .5rem;
		}
		section:last-child ul{
			margin: 0;
		}
	}
	.dropdown-pane:not(.top){
		border-top: 0;		
	}
	.broadcast-list{
		padding: 5px;
		padding-bottom: 0;
		border-top: 1px solid $border-color;
		span{
			color: $text-gray;
		}
 	}
 	.broadcast-title{
 		@extend h5;
 		text-transform: uppercase;
 		font-size: 11px;
 	}
}