<section class="container">
	<section class="pane-header">
		<form>
			{{input id="contact-input" value=key class="input-group-field" type="search" placeholder="Search by Name"}}
		</form>
	</section>

	<section class="container contact-list">
		<ul class="user-link-list no-bullet bg-white">
		{{#each list as |item|}}
			<li>
				{{log item.conversation.id}}
				<a href="{{href-to 'messages.conversation' item.conversation.id}}">
					{{contact-item item=item meta=meta}}
				</a>
			</li>
		{{/each}}
		</ul>
	</section>
</section>
