<section class="container">
	<section class="pane-header">
		<form>
			{{input id="contact-input" value=key class="input-group-field" type="search" placeholder="Search by Name"}}
		</form>
	</section>

	<section class="container contact-list">
		<ul class="user-link-list no-bullet bg-white">
		{{#each connections as |item|}}
			<li>
				{{#link-to "messages.conversation" item.conversationid }}
					{{contact-item item=item meta=meta}}
				{{/link-to}}
			</li>
		{{/each}}
		</ul>
	</section>
</section>
