 <!-- {{snapshot-box profile=profile store=store}}
 -->

 <form>
 	<div class="row">
 		<div class="columns">
 			<label class="middle">
 			 Snapshot:
 				{{form-text-counter limit=500 value=profile.snapshot rows=10 }}   			
 			</label>
 		</div>
 		<div class="columns">
			<button class='button success' {{ action 'save' }}>Save Changes</button>
 		</div>
 	</div>
 </form>