 <!-- {{snapshot-box profile=profile store=store}}
 -->

 <form>
 	<divr class="row">
 		<div class="columns">
 			<label class="middle">
 			 Snapshot:
 				{{form-textarea-counter limit=500 value=profile.snapshot rows=10 }}   			
 			</label>
 		</div>
 	</divr>
 	
 	
 	<button class='button success' {{ action 'save' }}>Save Changes</button>
 </form>