<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1><a href="{{href-to 'me.ask'}}">Ask</a>: Archived Questions</h1>
      <p class="text-center">
        Questions (with answers) that you have hidden from your public ASK page. Unarchive them if you want to show them publicly.
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-7 medium-7 columns">
    {{#each list as |item| }}
      {{ask-card item=item}}
    {{/each}}

    {{#brydge-scroller id="hidden" model=model onClick="load"}}
      {{#if isLoading}}
        <div class="brydge-loading"></div>
      {{/if}}
    {{/brydge-scroller}}



  </div>
  <div class="large-5 medium-5 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
  </div>
</div>
