{{#tooltip-dynamic text=profile.influence.text}}
  <a href={{href-to 'influencers'}} class="icons {{profile.influence.class}}"></a>
{{/tooltip-dynamic}}
<div class="avatar float-left" style={{htmlSafeImage profile.avatarUrl}}>
  <img src= {{profile.avatarUrl}} class="hide">
</div>
