<ul class="no-bullet pending-list clearfix">
{{#each pendingListTop as |item|}}

	<li>
    {{ connection-pending-item model=item selected="selected" }}		
	</li>
	
{{/each}}


</ul>
{{link-to 'Load More' 'requests' class="footer-button button expanded" }}
