<ul class="no-bullet pending-list clearfix">
{{#each model.pendingListTop as |connection|}}

	<li>
    {{connection-pending-item 
    connection=connection 
    selectAcceptItem='selectAcceptItem' 
    selectRejectItem='selectRejectItem'}}		
	</li>
	
{{/each}}


</ul>
{{link-to 'Load More' 'requests' class="footer-button button expanded" }}
