<div class="row">
	<div class="large-7 medium-7 columns">
    {{compliment-card item=model delete="delete"}}
	</div>
	<div class="large-5 medium-5 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
	</div>
</div>
