<a data-toggle="dd-views">
	{{#zf-tooltip title="Profile Views" vOffset=0}}
	{{#if notification.views}}
		<span class="alert badge">3</span>
	{{/if}}
	<i class="icons bino"></i>
	{{/zf-tooltip}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
</a>

{{#zf-dropdown id="dd-views" class="dropdown-topbar" closeOnClick=true }}

	<div class="padding profile-view-settings">
		<div class="row collapse">
			<div class="columns medium-9">
				<strong>SEE WHO'S VIEWED YOUR PROFILE</strong>
				<p>Turning this ON will also let others know you've seen their profile</p>
			</div>
			<div class="columns medium-3 text-right">
        <div class="switch">
          {{input type="checkbox" change=(action settingsChanged) checked=setting.profileView class="switch-iput" id="topBarProfileSwitch" name="profileView" }}
          <label class="switch-paddle" for="topBarProfileSwitch">
            <span class="show-for-sr">Turn Profile Views OFF</span>
          </label>
        </div>
			</div>
		</div>
	</div>
	<ul class="media-list no-bullet list-lined">
		{{#each notification.views as |item|}}
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">Mark JUDGE</a>
					<p class="position">
						Strategic Partnerships Lead <br>
						Samsung Electronics
					</p>
				</div>
			</div>
		</li>
		{{/each}}
		{{#unless notification.views }}
		<li>
			<div class="empty-message">
				You have turned Profile Views off
			</div>
		</li>
		{{/unless}}
	</ul>
	{{#link-to 'profile-views' class="footer-button success button expanded"}}
		SEE ALL PROFILE VIEWS
	{{/link-to}}
{{/zf-dropdown}}
