<div class="row columns" style="margin:100px;">
	<!-- {{select-custom target=this locations=locations model=model}}
 -->

 	<div>
 		<h2>Test custom dropdown</h2>
 		{{dropdown-filter
 			items=locations 
 			selected=selectedLoc 
 			query='query'
 			itemSelected = 'citySelected'
 			template="partials/location-filter"}}
 	</div>

 	<!-- <div>
 		<h2>Test Custom select</h2>
 		

 	 {{select-custom
 	 items=locations
 	 selected=selectedLoc
 	 query='query'
 	 select='select'
 	 itemSelected='citySelected'
 	 target=this}}
 	</div> -->
</div>