<div class="row columns" style="margin:100px;">
	<h2>Components:</h2>
	  {{#inline-edit-2 text=fullName}}
	    {{input value=fullName}}
	  {{/inline-edit-2}}



 {{inline-edit name=fullName}}


<div class="fileupload row">
  
  {{image-upload fileLoaded="fileLoaded" logoUrl='assets/jane_austen_circle_profile.png'}}
  
</div>
	
</div>