<div class="row columns" style="margin:100px;">
	<h2>Components:</h2>
	  {{#inline-edit-2 text=fullName}}
	    {{input value=fullName}}
	  {{/inline-edit-2}}



 {{inline-edit name=fullName}}


<div class="fileupload row">
  <h2>Upload Photo</h2>
  {{image-upload label="Upload File" property="fileName" selectedFile=photoFile }}
</div>
	
<div class="profile-actions">
    <a class="button large text-blue" data-toggle="dd-ask">
        ASK
        <div class="wrapper">
          <div class="triangle"></div>
        </div>

      </a>
      {{#zf-dropdown id="dd-ask" closeOnClick="true"}}
        
        {{ ask-dropdown store=store model=model action='goToAsk'}}

      {{/zf-dropdown}}

  </div>

</div>