<label>Replace with new email
  {{form-input model=this valuePath="email"}}        
</label>                        
<button class="button success rounded" {{action "update"}} disabled={{v-get this 'isInvalid'}}>Save &amp; Verify</button>    
