<div class="columns">
  <label>Replace with new email
    {{form-input model=this valuePath="email"}}        
  </label>                        
</div>
<div class="text-center">
  <button class="button success" {{action "update"}} disabled={{v-get this 'isInvalid'}}>SAVE & VERIFY</button>    
</div>
