.ask-top-banner{
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	background: white;
	p{
	    text-align: justify;
    	padding: 10px;
	}
}
.ask-box{
	padding: 10px;
  background: #E6E6E6;
  .button.secondary {
    background-color: #6bcdfd;
    color: #3f3f3f;
  }
}

.progress-box{
	padding: 10px;
	background: white;
	.header{
		background: #E6E6E6;
	}
}

.container{
	padding-top: 10px;
}
