<section>
  <div class="section-main">
    <div class="title">{{item.school}}</div>
    <div class="sub-title"><strong>{{item.location}}</strong></div>
    <div class="sub-title">{{item.degree}}</div>
    <div class="sub-title">
      Class of {{term-date-format item.endAt 'YYYY'}}
    </div>
  </div>
</section>
