<div class="row">
	<div class="columns">
		<label>
			School / College / University
			{{form-input-establishment
					model=item
					valuePath="school"
					selected=item.school}}

		</label>
	</div>
	<div class="columns medium-8">
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Location
			{{form-input-location
					model=item
					valuePath="location"
					selected=item.location}}

		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Degree / Diploma / Certification
			{{form-input model=item valuePath='degree'}}
		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Year of Graduation
			{{form-input-month-year value=item.endAt type="year" maxYear=maxYear}}
		</label>
	</div>
</div>
