<form {{action "request" on="submit"}} class="brydge-form micro-forms mb20">
  <div class="row column">
    <div class="row">
      <div class="columns">
        <p>Hello world! We are in Closed BETA.</p>
        <p>If you'd like to get early access, leave us your email and we will get back to you very soon.  For updates, follow us on <a href="http://www.facebook.com/brydgedotcom" target="_blank">Facebook</a> and <a href="http://www.twitter.com/brydgedotcom" target="_blank">Twitter</a>.</p>
      </div>
    </div>
    {{form-input model=this valuePath="email" placeholder="Email"}}
    <button class="button success" disabled={{v-get this 'isInvalid'}} type="submit">Request Invite</button>

  </div>
</form>
