<div class="row">
	<div class="columns">
		<label >
			Language
			{{form-input-autocomplete
					api="languages/"
					model=item
					valuePath="name"
					selected=item.name}}

		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label >
			Proficiency
			{{select-native content=languageProficiency action=(action (mut item.proficiency)) selectedValue=item.proficiency}}
		</label>
	</div>
</div>
