<div class="box getting-started">
  <section>
    <h3>Get Started, <span class="text-title">{{profile.firstName}}</span>!</h3>
    Welcome to the BETA Version. We’ll keep this notice here until you dismiss it.
  </section>

  <section>
    <span class="badge">1</span>
    <p><strong>Browse Industry Channels</strong></p>
    <p>Use the Newsfeed Filters to the left of this page to follow and browse industries that matter to you.</p>
  </section>

  <section>
    <span class="badge">2</span>
    <p><strong>Set up <a href="{{href-to 'me.edit'}}">your profile</a></strong></p>
    <p>Tell the world how amazing you are at what you do. See <b><a href="{{href-to 'profile' 'd36475e0645211e69ae542010af00003'}}">Jon Vettori</a></b>'s profile for example.</p>

  </section>

  <section class="text-right">
    <button class="button btn success" {{action "dismiss"}}>Dismiss</button>
  </section>
</div>
