<header>
  <a href="{{href-to 'home'}}" class="logo"><img src="https://storage.googleapis.com/brydge-assets/brydge-blue.svg"></a>
  <h1 class="strong">
    Your new professional network. It’s free and always will be.
  </h1>
</header>
