<div class="header-white">
  <a href="{{href-to 'home'}}" class="logo"><img src="https://storage.googleapis.com/brydge-assets/brydge-blue.svg"></a>
  <h1 class="strong">
    Your new professional network.
  </h1>
  <h3>On Brydge, you can discover industry topics that professionals like you are engaging with.</h3>
</div>
