<section class="industry-examples">
  <p class="title text-center mb40">
    Not sure what Business Industry you fit in? <br>
    Take a look at some of our illustrated examples!
  </p>
  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Avik Ganguli</a>
        <div class="position">Business Analyst</div>
      </div>

    </div>
    <div class="columns medium-9">
      <img src="assets\Kat.jpg" alt="">
      <div class="columns callout">
        <div class="title">Business Analyst &amp; Commerce</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi ullam sit fuga pariatur sunt expedita blanditiis iure, est illo ducimus, incidunt cum eveniet harum labore atque voluptatem, recusandae aut.</p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Kat.jpg" alt="">
      <div class="columns callout">
        <div class="title">Business Analyst &amp; Commerce</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi ullam sit fuga pariatur sunt expedita blanditiis iure, est illo ducimus, incidunt cum eveniet harum labore atque voluptatem, recusandae aut.</p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Avik Ganguli</a>
        <div class="position">Business Analyst</div>
      </div>
    </div>
  </div>

  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Avik Ganguli</a>
        <div class="position">Business Analyst</div>
      </div>

    </div>
    <div class="columns medium-9">
      <img src="assets\Kat.jpg" alt="">
      <div class="columns callout">
        <div class="title">Business Analyst &amp; Commerce</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi ullam sit fuga pariatur sunt expedita blanditiis iure, est illo ducimus, incidunt cum eveniet harum labore atque voluptatem, recusandae aut.</p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Kat.jpg" alt="">
      <div class="columns callout">
        <div class="title">Business Analyst &amp; Commerce</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi ullam sit fuga pariatur sunt expedita blanditiis iure, est illo ducimus, incidunt cum eveniet harum labore atque voluptatem, recusandae aut.</p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Avik Ganguli</a>
        <div class="position">Business Analyst</div>
      </div>
    </div>
  </div>
  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Avik Ganguli</a>
        <div class="position">Business Analyst</div>
      </div>

    </div>
    <div class="columns medium-9">
      <img src="assets\Kat.jpg" alt="">
      <div class="columns callout">
        <div class="title">Business Analyst &amp; Commerce</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi ullam sit fuga pariatur sunt expedita blanditiis iure, est illo ducimus, incidunt cum eveniet harum labore atque voluptatem, recusandae aut.</p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Kat.jpg" alt="">
      <div class="columns callout">
        <div class="title">Business Analyst &amp; Commerce</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi ullam sit fuga pariatur sunt expedita blanditiis iure, est illo ducimus, incidunt cum eveniet harum labore atque voluptatem, recusandae aut.</p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Avik Ganguli</a>
        <div class="position">Business Analyst</div>
      </div>
    </div>
  </div>
</section>
