  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/avatars/Malia.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Malia</a>
        <div class="position">Marketing Manager</div>
      </div>
    </div>
    <div class="columns medium-9">
      <img src="assets\Malia.jpg" alt="">
      <div class="columns callout">
        <div class="title">This is Malia.</div>
        <p>
          She is a Marketing Manager at an F&B company (like Pepsico).<br><br>
          <strong>Business Industry</strong>: Food & Beverage<br>
          <strong>Occupational Industry 1</strong>: Advertising & Marketing <br>
          <strong>Occupational Industry 2</strong>: Public Relations
        </p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Michael.jpg" alt="">
      <div class="columns callout">
        <div class="title">This is Michael.</div>
        <p>
          He is a Sales Manager at software company (like Oracle), and focuses on selling software solutions to Airlines and Hotels. <br><br>
          <strong>Business Industry</strong>: Enterprise Software & Technology <br>
          <strong>Occupational Industry 1</strong>: Airlines <br>
          <strong>Occupational Industry 2</strong>: Hotels & Accommodation
        </p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/avatars/Michael.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Michael</a>
        <div class="position">Sales Manager</div>
      </div>
    </div>
  </div>
  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/avatars/WeiLin.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Wei Lin</a>
        <div class="position">Engineer</div>
      </div>

    </div>
    <div class="columns medium-9">
      <img src="assets\WeiLin.jpg" alt="">
      <div class="columns callout">
        <div class="title">This is Wei Lin.</div>
        <p>
          She is an Engineer at an Internet company (like Google). <br><br>
          <strong>Business Industry</strong>: Internet: Web & Mobile <br>
          <strong>Occupational Industry 1</strong>: Consumer Software & Technology <br>
          <strong>Occupational Industry 2</strong>: Enterprise Software & Technology
        </p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Raj.jpg" alt="">
      <div class="columns callout">
        <div class="title">This is Raj.</div>
        <p>
          He freelances as a Video Producer. His clients are mostly media companies and advertising agencies. <br><br>
          <strong>Business Industry</strong>: Media Production <br>
          <strong>Occupational Industry 1</strong>: Broadcast Media <br>
          <strong>Occupational Industry 2</strong>: Advertising & Marketing
        </p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/avatars/Raj.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Raj</a>
        <div class="position">Video Producer</div>
      </div>
    </div>
  </div>
  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/avatars/Lara.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Lara</a>
        <div class="position">Associate, Private Equity</div>
      </div>

    </div>
    <div class="columns medium-9">
      <img src="assets\Lara.jpg" alt="">
      <div class="columns callout">
        <div class="title">This is Lara. </div>
        <p>
          She works in a Private Equity firm, focusing on investing in Energy and Mining companies. <br><br>
          <strong>Business Industry</strong>: Private Equity & Venture Capital <br>
          <strong>Occupational Industry 1</strong>: Energy <br>
          <strong>Occupational Industry 2</strong>: Metals & Minerals
        </p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Zayn.jpg" alt="">
      <div class="columns callout">
        <div class="title">This is Zayn.</div>
        <p>
          He is a Fashion Buyer at a department store (like Harrods). <br><br>
          <strong>Business Industry</strong>: Consumer Goods: Retail <br>
          <strong>Occupational Industry 1</strong>: Fashion, Apparel & Accessories <br>
          <strong>Occupational Industry 2</strong>: Textiles
        </p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/avatars/Zayn.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Zayn</a>
        <div class="position">Fashion Buyer</div>
      </div>
    </div>
  </div>
  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/avatars/Kat.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Kat</a>
        <div class="position">Currency Trader</div>
      </div>

    </div>
    <div class="columns medium-9">
      <img src="assets\Kat.jpg" alt="">
      <div class="columns callout">
        <div class="title">This is Kat. </div>
        <p>
          She is a Currency Trader at a corporate bank (like JP Morgan). <br><br>
          <strong>Business Industry</strong>: Investment Banking & Corporate Finance <br>
          <strong>Occupational Industry 1</strong>: Financial Markets & Trading <br>
          <strong>Occupational Industry 2</strong>: Financial Advisory
        </p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Lauren.jpg" alt="">
      <div class="columns callout">
        <div class="title">This is Lauren.</div>
        <p>
          She is a Business Development Manager at a technology company (like SAP). She focuses on building partnerships with technology companies and telecom companies. <br><br>
          <strong>Business Industry</strong>: Business Intelligence & Research <br>
          <strong>Occupational Industry 1</strong>: Telecom <br>
          <strong>Occupational Industry 2</strong>: Internet: Web & Mobile
        </p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/avatars/Lauren.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Lauren</a>
        <div class="position">Business Development Manager</div>
      </div>
    </div>
  </div>
