<section class="industry-examples">
  <p class="title text-center">
    Not sure on what business industry you fit in? <br>
    Take a look on some of our illustrated examples!
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eos ea consequuntur culpa dolores sint veniam libero nostrum modi deleniti, tenetur nihil, facere provident possimus fuga minus omnis repellat doloremque.</p>
  <div class="row collapse">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Avik Ganguli</a>
        <div class="position">Business Analyst</div>
      </div>
      
    </div>
    <div class="columns medium-9">
      <div class="columns callout">
        <div class="title">Business Analyst &amp; Commerce</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi ullam sit fuga pariatur sunt expedita blanditiis iure, est illo ducimus, incidunt cum eveniet harum labore atque voluptatem, recusandae aut.</p>
      </div>
    </div>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eos ea consequuntur culpa dolores sint veniam libero nostrum modi deleniti, tenetur nihil, facere provident possimus fuga minus omnis repellat doloremque.</p>
  <div class="row collapse">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Avik Ganguli</a>
        <div class="position">Business Analyst</div>
      </div>
      
    </div>
    <div class="columns medium-9">
      <div class="columns callout">
        <div class="title">Business Analyst &amp; Commerce</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit modi ullam sit fuga pariatur sunt expedita blanditiis iure, est illo ducimus, incidunt cum eveniet harum labore atque voluptatem, recusandae aut.</p>
      </div>
    </div>
  </div>
</section>
