<section class="industry-examples">
  <p class="title text-center mb40">
    Not sure what Business Industry you fit in? <br>
    Take a look at some of our illustrated examples!
  </p>
  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Malia</a>
        <div class="position">Advertising & Marketing; Public Relations</div>
      </div>

    </div>
    <div class="columns medium-9">
      <img src="assets\Malia.jpg" alt="">
      <div class="columns callout">
        <div class="title">Food & Beverage</div>
        <p>This is Malia. She is a Marketing Manager at an F&B company (like Pepsico).</p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Michael.jpg" alt="">
      <div class="columns callout">
        <div class="title">Enterprise Software & Technology</div>
        <p>This is Michael. He is a Sales Manager at software company (like Oracle), and focuses on selling software solutions to Airlines and Hotels. </p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Michael</a>
        <div class="position">Airlines + Hotels & Accommodation </div>
      </div>
    </div>
  </div>

  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Wei Lin</a>
        <div class="position">Consumer Software & Technology + Enterprise Software & Technology</div>
      </div>

    </div>
    <div class="columns medium-9">
      <img src="assets\WeiLin.jpg" alt="">
      <div class="columns callout">
        <div class="title">Internet: Web & Mobile</div>
        <p>This is Wei Lin. She is an Engineer at an Internet company (like Google). </p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Raj.jpg" alt="">
      <div class="columns callout">
        <div class="title">Media Production</div>
        <p>This is Raj. He freelances as a Video Producer. His clients are mostly media companies and advertising agencies.</p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Raj</a>
        <div class="position">Broadcast Media + Advertising & Marketing</div>
      </div>
    </div>
  </div>
  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Lara</a>
        <div class="position">Energy + Metals & Minerals</div>
      </div>

    </div>
    <div class="columns medium-9">
      <img src="assets\Lara.jpg" alt="">
      <div class="columns callout">
        <div class="title">Private Equity & Venture Capital</div>
        <p>This is Lara. She works in a Private Equity firm, focusing on investing in Energy and Mining companies. </p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Zayn.jpg" alt="">
      <div class="columns callout">
        <div class="title">Consumer Goods: Retail </div>
        <p>This is Zayn. He is a Fashion Buyer at a department store (like Harrods). </p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Zayn</a>
        <div class="position">Fashion, Apparel & Accessories + Textiles</div>
      </div>
    </div>
  </div>
  <div class="row collapse mb40">
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Kat</a>
        <div class="position">Financial Markets & Trading + Financial Advisory</div>
      </div>

    </div>
    <div class="columns medium-9">
      <img src="assets\Kat.jpg" alt="">
      <div class="columns callout">
        <div class="title">Investment Banking & Corporate Finance</div>
        <p>This is Kat. She is a Currency Trader at a corporate bank (like JP Morgan). </p>
      </div>
    </div>
  </div>
  <div class="row collapse mb40 alt">
    <div class="columns medium-9">
      <img src="assets\Lauren.jpg" alt="">
      <div class="columns callout">
        <div class="title">Business Intelligence & Research</div>
        <p>This is Lauren. She is a Business Development Manager at a technology company (like SAP). She focuses on building partnerships with technology companies and telecom companies. </p>
      </div>
    </div>
    <div class="columns medium-3 text-center">
      <div class="avatar" style="background-image: url(assets/blank-user.jpg)">
        <img src="assets/blank-user.jpg" class="hide">
      </div>
      <div class="user-info">
        <a class="name">Lauren</a>
        <div class="position">Telecom + Internet: Web & Mobile</div>
      </div>
    </div>
  </div>
</section>
