
{{input value=selected.text key-up="onchange" focus-in="open"}}

<div class="wrapper {{if isOpen 'is-open'}}">
	<ul class="no-bullet">
	{{#each items as |item|}}
		<li {{action "select" item preventDefault=false}}>{{item.text}}</li>
	{{/each}}
	</ul>	
</div>