<div class="box user-guide-box">
	<section>
		<h4>Invite Friends</h4>
		<p>
			Invite your friends, colleagues and associates to Brydge. You have {{#link-to "invites" }} {{invitesRemaining}} invitations{{/link-to}} remaining.
		</p>
	</section>
</div>
