{{#if invitesRemaining }}
<div class="box user-guide-box">
	<section>
		<h4>INVITE TO BRYDGE</h4>
		<p>
			Brydge BETA is currently invite-only. As a registered user, you can invite up to 10 people. You have <strong>{{#link-to "invites" }} {{invitesRemaining}} invitations{{/link-to}}</strong> remaining.
		</p>
	</section>
</div>
{{/if}}
