<div class="row columns">
  <section class="bg-white padding border-b mb">
    <form action="">
      {{input value=key type="search" placeholder="Search by Name" class="no-margin"}}
    </form>
  </section>
  <ul class="user-list no-bullet">
    {{#each list as |item|}}
      {{follow-item item=item}}
    {{/each}}
  </ul>
</div>

{{#brydge-scroller id="follow" model=list onClick="load"}}
  {{#if isLoading}}
    <div class="brydge-loading"></div>
  {{/if}}
{{/brydge-scroller}}
