<div class="row">
  <div class="box row columns">
    <section class="text-center">
      <form action="">
        {{input value=key type="search" placeholder="Search by Name" class="no-margin"}}
      </form>
    </section>
    <section class="row columns bg-gray user-list">
      {{#each list as |item|}}
        <div class="columns">
          {{follow-item item=item}}
        </div>
      {{/each}}
    </section>
  </div>
</div>

{{#brydge-scroller id="follow" model=list onClick="load"}}
  {{#if isLoading}}
    <div class="brydge-loading"></div>
  {{/if}}
{{/brydge-scroller}}
