{{input value=selected key-up="onchange" focus-in="open" placeholder=placeholder autocomplete="off"}}
<div class="wrapper {{if isOpen 'is-open'}}">
	<ul class="no-bullet">
	{{#each locations as |item|}}
		<li {{action "select" item preventDefault=false}}>{{location-join item}}</li>
	{{/each}}
	</ul>
</div>