<ul class="no-bullet pending-list">
{{#each toPending as |c| }}

<li>
	<div class="columns wrapper clearfix">
		<div class="title">{{c.content}}</div>
		
		<div class="asked">complimented by 
		{{link-to c.from.name "profile" c.from.username class="user"}}</div>
	</div>
	<div class="question-box-footer">
		<ul class="menu menu-dotted">
			<li><a class="float-right" {{action 'acceptCompliment' c.id}}>Accept</a></li>
			<li><a class="float-right" {{action 'rejectCompliment' c.id}}>Delete</a></li>
		</ul>												
	</div>			

</li>

{{/each}}
</ul>