<section>
	<strong>Relevant Industry Channels</strong>
	<ul class="no-bullet">
		<li>
			{{action-checkbox-bind value=profile.industryId text=profile.industry action="checkboxChanged" reversed=true}}
		</li>
		<li>
			{{action-checkbox-bind value=profile.occupationOneId text=profile.occupationOne action="checkboxChanged" reversed=true}}
		</li>
		<li>
			{{action-checkbox-bind value=profile.occupationTwoId text=profile.occupationTwo action="checkboxChanged" reversed=true}}
		</li>
	</ul>
	<p>{{#link-to 'me.edit' profile.id}}Edit Occupation Industry{{/link-to}}</p>
	<div class="dim-text">Broadcast will also be shared with Connections by default</div>
</section>
