<header class="simple-header">
  <div class="title-bar">
    <div class="row columns">
      <div class="title-bar-left">
          <div class="logo">
						{{#link-to 'home'}}<img src="assets/logo.svg">{{/link-to}}          	
          </div>
      </div>
    </div>
  </div>
</header>

