<header class="simple-header">
  <div class="title-bar">
    <div class="row columns">
      <div class="title-bar-left">
          <div class="logo">
            <a href="{{href-to 'home'}}"><img src="https://storage.googleapis.com/brydge-assets/logo.svg"></a>
          </div>
      </div>
    </div>
  </div>
</header>
