<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Notify me about unread notifications once a week via email</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=emailSetting.weekly id="emailSetting.weekly" name="weekly" }}
      </td>
    </tr>
    <tr>
      <td>Signup for MailChimp</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=emailSetting.subscriber id="emailSetting.subscriber" name="subscriber" }}
      </td>
    </tr>
  </tbody>
</table>
