<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Email me about important notifications once a week</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=emailSetting.weekly id="emailSetting.weekly" name="weekly" }}
      </td>
    </tr>
    <tr>
      <td>Receive updates on new features and changes as Brydge grows up</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=emailSetting.subscriber id="emailSetting.subscriber" name="subscriber" }}
      </td>
    </tr>
  </tbody>
</table>
