
<div class="box user-guide-box">
	<section class="title">
		<h4>User Guide</h4>
	</section>
	<section>
		<p>
			Trouble finding your way around?
		</p>
		<img src="assets/user-guide.png" alt="">
	</section>
</div>
