<div class="box user-guide-box show-for-medium">
	<section>
		<h4>Watch the video</h4>
		<a data-open="video-teaser" class="wrapper button-overlay">
			<img src="https://storage.googleapis.com/brydge-assets/mobile/mobile1.jpg" alt="" class="overlay-preview">
			<div class="button-play-wrapper">
				<img src="https://storage.googleapis.com/brydge-assets/temp/video-play-button.png" alt="" class="button-play">
			</div>
		</a>
	</section>
</div>
