{{#zf-reveal id="dialog-share-profile" overlay=true class="small box"}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="title text-center text-upper">
    <h4>Share your profile</h4>
  </section>
  <section>
    <div class="row column">
    <h2>This is the URL to your profile</h2>
    <p id="publicUrl">
      https://brydge.com/{{profile.publicProfile}}
    </p>
    {{#copy-button
      clipboardText=publicProfile
      success='success'
      error='error'
    }}
      <button class="button secondary">Copy URL</button>
    {{/copy-button}}
    <a href="{{href-to 'settings' (query-params tab="profile")}}" class="button success">Edit your URL</a>
    <span class="padded">{{message}}</span>
    </div>
  </section>
  <section>
    <div class="row column mb20">
      <h2 class="mb30 mt">Here’s what it will look like when you post it on Facebook or other social media platforms</h2>
      <div class="newsfeed-item">
        <div class="media box">
          <div>
            <img src="https://storage.googleapis.com/brydge-assets/meta-image.jpg" alt="">
          </div>
          <div class="post-content">
            <div class="title">
              <span>Follow {{profile.fullName}} on Brydge</span>
            </div>
            <span class="text-upper">Brydge</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-right">
    <button class="success button" type="submit" data-close>OK</button>
  </section>
{{/zf-reveal}}
