<div class="row align-center">
  <div class="medium-6 columns">
    <div class="page-heading">
      <h1>Invite Friends</h1>
      <p class="text-center">
        Invite your friends, co-workers and business associates to Brydge. We will send them an invitation code, and notify you if they accept.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns">
    <div class="box">
      <section class="section-padding" style="padding-top:3rem;">
        <div class="row align-center">
          <div class="columns medium-6">
            {{invite-friend submit="submit"}}
            {{#each invites as |item|}}
              <div class="row brydge-form">
                <div class="medium-9 small-9 columns">
                  <label for="middle-label" class="text-rightx middle">{{item.email}}</label>
                </div>
                <div class="medium-3 small-3 columns">
                  <span class="button clear text-gray">{{invite-status item.status}}</span>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
