<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1>Invite Friends</h1>
      <p class="text-center">
        Invite friends, colleagues, and associates to Brydge. We will send them an invitation code, and send them a connection request on your behalf.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns">
    <div class="box">
      <section class="section-padding" style="padding-top:3rem;">
        <div class="row">
          <div class="columns medium-6 medium-centered">
            {{#each invites as |item|}}
              {{invite-friend model=item}}
            {{/each}}
            {{#each remaining as |item|}}
              {{invite-friend submit="submit"}}
            {{/each}}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
