<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1>Invite Friends</h1>
      <p class="text-center">
        Invite your friends, co-workers and business associates to Brydge. We will send them an invitation code, and notify you if they accept.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns">
    <div class="box">
      <section class="section-padding" style="padding-top:3rem;">
        <div class="row">
          <div class="columns medium-6 medium-centered">
            {{#each invites as |item|}}
              <form class="brydge-form">
                <div class="row">
                  <div class="medium-9 columns">
                    {{input value=item.email disabled=true}}
                  </div>
                  <div class="medium-3 columns">
                    <span class="button clear text-gray">{{invite-status item.status}}</span>
                  </div>
                </div>
              </form>
            {{/each}}
            {{#each remaining as |item|}}
              {{invite-friend submit="submit"}}
            {{/each}}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
