{{#each model as |item|}}
  <li>
    <div class="name">{{item.school}}</div>
    <div>{{item.degree}} , {{item.studyField}}</div>
    <span class="dim-text">May 2013 - Present (2 Years and 6 Months)</span>              
  </li>
{{/each}}
