<form {{action 'save' firstName lastName on='submit'}}>
  <div class='row'>
    <div class='columns'>
      {{input value=firstName placeholder='First Name'}}
      {{input value=lastName placeholder='Last Name'}}
    </div>
    <button type='submit' class='button expanded'>Save Changes</button>
  </div>
</form>