{{#zf-reveal id=(concat "dialog-box-" name) overlay=true class="small box"}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="title">
    <h4>Write Answer</h4>
  </section>
  <section>
  </section>
  <section>
    <button class="success button rounded" type="submit" {{action "submit"}}>Yes</button>
		<a class="button clear float-right" data-close>No</a>
  </section>
{{/zf-reveal}}
