<form>
	{{input value=key type="search" placeholder="Search by City" action="search" on="key-up"}}
</form>
<div class="wrapper {{if isOpen 'is-open'}}">
	<ul class="no-bullet shadowed">
	{{#each results as |item|}}
		<li {{action "select" item preventDefault=false}}>{{item.description}}</li>
	{{/each}}
	</ul>
	<a class="button success expanded" data-open="locationModal">Can't find your city?</a>
	
</div>