

<div class="conversation-content">
	<ul class="no-bullet">

	  {{#each model.messages as |message| }}
	    
	    <li>
	      <div class="media-object">
	        <div class="media-object-section">
	          <div class="thumbnail">
	            <img src= "assets/avatar.png" class="avatar">
	          </div>
	        </div>
	        <div class="media-object-section main-section">
	          <span><strong>{{ message.from.name }}</strong></span>
	          <span class="float-right subheader">
	          {{moment-format message.updatedAt "hA"}}</span>
	          <p>{{ message.content }}</p>
	        </div>
	      </div>
	    </li>

	  {{/each}} 


	</ul>
	{{ message-box store=store resp='getResponse' buttonLabel='Reply' showToInput=false to=model.id}}
</div>




 
