{{input type=type value=value placeholder=placeholder name=valuePath disabled=disabled autocomplete="false"  key-up=(action 'keyUp') focus-out=(action 'focusOut')}}
{{#if showValidate}}
  <div class="error">
      {{v-get model valuePath 'message'}}
  </div>
{{/if}}
