<div class="page-heading align-center">
  <h1>Hello World</h1>
</div>

<div class="row align-center">
  <div class="columns medium-9 small-11 text-center mobile-justify">
      <section class="padding static-content">
        <p>Professional Networking begins with discovery. The discovery of people that are relevant to what you do, or want to do. The discovery of industry peers, subject matter experts, up-and-comers and movers-and-shakers. The discovery of relevant industry news and trends, so you're always on top of things.</p>

        <p>And that's what we've built today–a tool for discovery and engagement based on industries that matter to you. But that's just #StepOne.</p>

        <p>The broader goal, really, is to collectively strengthen the world's Human Capital. To chart how the modern workforce works, and provide intelligent products and services to help them connect and be amazing at what they do. That's the big, hairy, audacious mission that we've committed to.        </p>

        <hr>
        <div class="row text-left align-center">
          <div class="columns medium-6 padding">
            Email: <a href="mailto:contact@brydge.com">contact@brydge.com</a> <br>
            Twitter: <a href="//twitter.com/brydgedotcom">twitter.com/brydgedotcom</a> <br>
            Facebook: <a href="//facebook.com/brydgedotcom">facebook.com/brydgedotcom</a> <br>
          </div>
        </div>

        <hr>
      </section>

    {{render "footer"}}

  </div>
</div>

{{outlet}}
