{{#if header}}
  {{render "header"}}
{{/if}}
<section class="main {{classNames}}">
  {{outlet}}
</section>


{{#zf-reveal id="mobileBrowser" overlay=true class="small box brydge-dialog" closeOnEsc=false closeOnClick=false}}
  <section class="title">
    <h4><a href="/" class="logo"><img src="assets/logo.svg"></a></h4>
  </section>
  <section>
    <p>Brydge is in Closed BETA. </p>

    <p>During this time, we will not be releasing a mobile-optimized experience.</p>

    <p>We know. It can be a little frustrating. </p>

    <p>But building something like this is complicated. We made a conscious decision to build it on the web first and test it with our early adopters – before we go big on mobile. </p>

    <p>Below are some screenshots of Brydge on the web, and what you can expect. So check back in from a laptop or desktop. </p>

    <p>Trust us, it'll be worth it. </p>

    <img src="https://storage.googleapis.com/brydge-assets/mobile/mobile1.jpg" alt="">
    <br><br><br>
    <img src="https://storage.googleapis.com/brydge-assets/mobile/mobile3.jpg" alt="">
    <br><br><br>
    <img src="https://storage.googleapis.com/brydge-assets/mobile/mobile4.jpg" alt="">
    <br><br><br>
    <a href="https://www.facebook.com/brydgedotcom" target="_blank">Follow us on Facebook</a> to stay updated.

  </section>

{{/zf-reveal}}
