{{#if header}}
  {{render "header"}}
{{/if}}
<section class="main">
  {{outlet}}
</section>


{{#zf-reveal id="mobileBrowser" overlay=true class="small box" closeOnEsc=false closeOnClick=false}}
  <section class="title">
    <h4>Message</h4>
  </section>
  <section>
  	<p>We are in Closed BETA. Please access the service from a laptop or desktop for the time being. A mobile version is coming soon.</p>
  </section>

{{/zf-reveal}}
