<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1>Brydge</h1>
      <p class="text-center">What we're about!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns text-justify">
    <div class="box">
      <section class="section-padding static-content">
        <p>Our mission is to Strengthen the world's Human Capital. </p>

        <p>The first step in doing that is to simplify professional networking. And that means being more than just your business card holder. </p>

        <p>We want to: <br>
        Help you discover other professionals in your industry or city;  <br>
        Allow for the easy exchange of ideas and expertise;  <br>
        Facilitate partnerships;  <br>
        Facilitate self-development;  <br>
        Keep you informed about news and trends in your line of work.
        </p>
        <p>Over time, we simply want to help you be amazing at what you do. </p>

        <p>We hope you like what we have so far—we'll keep trying to make it better. Lastly, thanks to everyone that helped us get here! </p>

        <hr>
        <p>For press enquiries and business opportunities write to contact@brydge.com.</p>

        Twitter: <a href="//twitter.com/brydgedotcom" target="_blank">twitter.com/brydgedotcom</a> <br>
        Instagram: <a href="//instagram.com/brydgedotcom" target="_blank">instagram.com/brydgedotcom</a> <br>
        Facebook: <a href="//facebook.com/brydgedotcom" target="_blank">facebook.com/brydgedotcom</a> <br>
      </section>
    </div>

    {{render "footer"}}

  </div>
</div>

{{outlet}}
