<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1>Hello World</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns medium-9 medium-centered text-center">
      <section class="section-padding static-content">
        <p>Our mission is to strengthen the world's Human Capital. The first step in doing that is to truly facilitate professional networking. And that means being more than just your business card holder.</p>

        <p>We want to: help you discover other professionals; make it easy to exchange ideas and expertise; keep you informed about news and trends in your line of work. Over time, we simply want to help you be amazing at what you do.</p>

        <hr>

        Email: <a href="mailto:contact@brydge.com">contact@brydge.com</a> <br>
        Twitter: <a href="//twitter.com/brydgedotcom">twitter.com/brydgedotcom</a> <br>
        Facebook: <a href="//facebook.com/brydgedotcom">facebook.com/brydgedotcom</a> <br>

        <hr>
      </section>

    {{render "footer"}}

  </div>
</div>

{{outlet}}
