
<div class="jumbotron">
	<h2>
    {{#if message}}
        {{status}}: <small>{{message}}</small>
    {{else}}
      Something is wrong. Lets try again?
    {{/if}}
	</h2>

	<div>
	    <a {{action 'retry'}}>Try again</a>
	</div>
	
</div>