
<h2>
    {{#if message}}
        {{status}}: <small>{{message}}</small>
    {{else}}
      Something is wrong. Lets try again?
    {{/if}}
</h2>

<div>
    <button {{action 'retry'}}>Try again</button>
</div>
