
<div class="padding text-center">
	<h2>
    {{#if message}}
        {{status}}: <small>{{message}}</small>
    {{else}}
			That page doesn't exist.
    {{/if}}
	</h2>

	<div>
			The link you followed may have been broken, updated, or changed. Go back to the {{link-to "Home" "home"}} page.
	</div>

</div>
