<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<h1 class="text-upper">Feedback Page</h1>
		</div>		
	</div>
</div>
<div class="row">
  <div class="medium-7 columns">
  </div>    
  <div class="medium-5 columns sidebar">
    {{progress-box}}
    {{render "footer"}}
  </div>
</div>

{{outlet}}
