<footer>
	<ul class="menu menu-dotted mb">
		<li>{{link-to "Help" "help"}}</li>
		<li>{{link-to "Feedback" "feedback"}}</li>
		<li>{{link-to "Terms of Use" "terms-of-use"}}</li>
		<li>{{link-to "Privacy Policy" "privacy-policy"}}</li>
	</ul>		
	<strong>BRYDGE <i class="fa fa-copyright"></i> 2016</strong>

</footer>
