<footer>
	<ul class="mb">
		<li>{{link-to "Privacy" "privacy-policy"}}</li>
		<li>{{link-to "Terms" "terms-of-use"}}</li>
		<li>{{link-to "About" "help"}}</li>
		<li>{{link-to "User Guide" "user-guide"}}</li>
	</ul>
	<div class="mb5"><a href="//www.facebook.com/brydgedotcom" target="_blank">Follow us on Facebook</a></div>
	<strong>BRYDGE <i class="fa fa-copyright"></i> 2016</strong>

</footer>
