<footer>
  <div class="row">
    <hr/>
    <div class="medium-6 large-6 columns">
      <ul class="menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms of Use</a></li>
      </ul>
    </div>

    <div class="medium-6 large-6 columns">
      <span class="float-left">&copy; 2016 Brydge</span>
    </div>

  </div>
</footer>
