<footer>
	<ul class="mb">
		<li><a href="{{href-to 'privacy-policy'}}">Privacy</a></li>
		<li><a href="{{href-to 'terms-of-use'}}">Terms</a></li>
		<li><a href="{{href-to 'about'}}">About</a></li>
		<li><a href="https://medium.com/brydgedotcom" target="_blank">User Guide</a></li>
	</ul>
	<strong class="text-gray">BRYDGE <i class="fa fa-copyright"></i> 2016</strong>

</footer>
