<footer>
	<ul class="mb">
		<li>{{link-to "Privacy" "privacy-policy"}}</li>
		<li>{{link-to "Terms" "terms-of-use"}}</li>
		<li>{{link-to "About" "brydge"}}</li>
		<li><a href="https://medium.com/brydgedotcom" target="_blank">User Guide</a></li>
	</ul>
	<strong class="text-gray">BRYDGE <i class="fa fa-copyright"></i> 2016</strong>

</footer>
