<footer>
	<ul class="menu menu-dotted mb">
		<li>Help</li>
		<li>Feedback</li>
		<li>Terms of Use</li>
		<li>Privacy Policy</li>
	</ul>		
	<strong>BRYDGE <i class="fa fa-copyright"></i> 2016</strong>

</footer>
