<footer>
	<ul class="mb">
		<li>{{link-to "Privacy" "privacy-policy"}}</li>
		<li>{{link-to "Terms" "terms-of-use"}}</li>
		<li>{{link-to "About" "help"}}</li>
		<li>{{link-to "User Guide" "user-guide"}}</li>
	</ul>
	<strong class="text-gray">BRYDGE <i class="fa fa-copyright"></i> 2016</strong>

</footer>
