
<div class='row'>
  <div class='medium-6 large-7 columns'>
    <h1>New kind of networking</h1>
    <p>You can do better networking than add, follow and like somethng.</p>
  </div>
    
  <div class='medium-6 large-5 columns'>
    {{#signup-form signupUser='registerUser' }}{{/signup-form}}
  </div>

</div>
