<div class="row">
  <div class="medium-6 small-centered columns">
    {{partial "partials/form-login"}} 
  </div>
</div>
<div class="row">
  <div class="content-pad text-center">
    BRYDGE is currently in closed beta. If you have an invitation code, paste it below.
  </div>
</div>
<div class="row mb50">
  <div class="medium-6 small-centered columns">
    <form>
      <div class="input-group">
        <input class="input-group-field" type="text">
        <div class="input-group-button">
          <button type="submit" class="button expanded success">Proceed</button>
        </div>
      </div>
    </form>
  </div>  
</div>
<div class="row">
  <div class="columns text-center">
    Don't have a code? Leave us your email <a>here</a>, we'll sort it out.
  </div>
</div>
