<div class="page-heading align-center">
  <h1>Influencers and Rising Stars</h1>
</div>

<div class="row align-center">
  <div class="box row align-center">
    <div class="medium-9 columns">
      <section class="text-justify">
        <div class="spacer-2"></div>
        <div class="row columns mb-5">
          <p>We have two programs to recognise outstanding professionals on Brydge. </p>
          <p>We do this so we can showcase users who have interesting and diverse views on industry topics, and are eager to share it. </p>
          <p>By identifying and showcasing them, we make it easy for others users to follow them and receive updates from them on industry topics they're sharing, reading and engaging with.</p>
        </div>
        <div class="row mb-5">
          <div class="medium-6 small-12 columns border-r">
            <div class="row mb align-center">
              <div class="columns medium-11 small-11">
                <h1 class="text-center"><i class="icons influencer"></i> Influencers</h1>
                <p>Professionals with proven expertise in their industry or subject matter; either within their geographies or globally.</p>
              </div>
            </div>
          </div>
          <div class="medium-6 small-12 columns">
            <div class="row align-center">
              <div class="columns medium-11 small-11">
                <h1 class="text-center"><i class="icons rising-star"></i> Rising Stars</h1>
                <p>Young up-and-comers who are shaping their industry's future; either within their geographies or globally.</p>
              </div>
            </div>
          </div>
        </div>
        <p>These professionals are marked with badges on their profiles, and are surfaced ahead of other users in search results. </p>
        <p>As part of this program, we also make it easy for businesses and the media to identify and reach out to them should they need to engage relevant professionals for opinions or consultation.</p>
        <p>Want to be part of these programs? We're making the process easier, but for now you can drop an email to contact@brydge.com and we'll be in touch.</p>
        <div class="spacer-2"></div>
      </section>
    </div>
  </div>
</div>
{{render "footer"}}

{{outlet}}
