<div class="page-heading align-center">
  <h1>Influencers</h1>
  <p class="text-center">Respecting your right to privacy.</p>
</div>

<div class="row align-center">
  <div class="box row align-center">
    <div class="medium-9 columns">
      <div class="spacer-2"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet magnam necessitatibus perferendis neque aspernatur rem, alias dicta dolorem eaque repellendus provident praesentium, dolor omnis dolorum minima consequuntur facere assumenda facilis!</p>
      <div class="row text-center">
        <div class="medium-6 columns">
          <h1><i class="icons influencer icon-inline"></i> Influencers</h1>

        </div>
        <div class="medium-6 columns">
          <h1><i class="icons rising-star icon-inline"></i> Rising Star</h1>

        </div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis placeat ex, voluptatibus quos laudantium nesciunt. Ea tempora commodi nulla, corporis, quos itaque aliquam optio quas obcaecati voluptatibus at, quae ex.</p>
      <div class="spacer-2"></div>
    </div>
  </div>
</div>
{{render "footer"}}

{{outlet}}
