
<div class='row bg-light-blue index equalizer' data-equalizer data-equalize-by-row="true">
  <div class="medium-6 large-7 columns" data-equalizer-watch>
    <div class="jumbotron text-center">
      <h1 class="large">Connect. Interact. Grow.</h1>
      <h3>Simplifying professional interaction and facilitating self-development</h3>
    </div>
  </div>

  <div class="medium-6 large-5 columns bg-white signup-section" data-equalizer-watch>
      {{partial "partials/form-login"}}
  </div>
</div>

<div class="row bg-white index">
  <ul class="footer-menu">
    <li>Discover</li>
    <li>About</li>
    <li>BIC</li>
    <li>Careers</li>
  </ul>
</div>
