
<div class="padding text-center">
	<h2>
    {{#if message}}
        {{status}}: <small>{{message}}</small>
    {{else}}
			Content unavailable at this time. We are looking into it.
    {{/if}}
	</h2>

	<div>
	    Go back to <a href="{{href-to 'home'}}">Home</a> page.
	</div>

</div>
