<div class="row mt">
	<div class="medium-7 columns">
		{{newsfeed-item post=model}}

		<div class="row">
		  <div class="small-12 column">
		    ---
		  Comments here
		  </div>
		</div>

		
	</div>
	<div class="medium-5 columns sidebar">
		{{render "progress-box"}}
		{{render "footer"}}
	</div>

</div>

