<div class="row mt">
	<div class="medium-7 columns">
    {{ newsfeed-item post=model onDelete="delete"}}
		
	</div>
	<div class="medium-5 columns sidebar">
		{{progress-box}}
		{{render "footer"}}
	</div>

</div>
{{ post-sharer submit='sharePost'}}
