<div class="row mt">
	<div class="medium-7 columns">
    {{ newsfeed-item post=model avatar=sessionAccount.account.profile.avatarUrl isExpend=true}}
		<!-- <div class="row">
		  <div class="small-12 column">
		    ---
		  Comments here
		  </div>
		</div> -->

		
	</div>
	<div class="medium-5 columns sidebar">
		{{progress-box}}
		{{render "footer"}}
	</div>

</div>
{{ post-sharer post=sharePost.selected profile=sessionAccount.account.profile value=sharePost.valueText submit="sharePost" }}
