<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1>Privacy Policy</h1>
      <p class="text-center">Respecting your right to privacy.</p>
    </div>
  </div>
</div>

<div class="row columns">
  <div class="box row column">
    <div class="medium-9 medium-centered">
      <section>
        <div class="spacer-2"></div>
        <p>This policy applies to all of the products and services (the “Services”) provided by Brydge Pte. Ltd. (“Brydge”, “we” or “us”), to you and our other users and forms part of our Terms of Service.  Any defined term set out in the <a href="{{href-to 'terms-of-use'}}">Terms of Service</a> shall have the same meaning here unless expressly set out otherwise in this policy.</p>
        <h4>Amendments</h4>
        <p>This policy will be updated from time to time, with the policy in effect at any time being the current policy published on our website.  By continuing to access or use our Service after any update becomes effective, you agree to be bound by the revised policy. </p>
        <p>This policy applies even if you do not have an account with us.</p>
        <h4>Collection of Personal Information</h4>
        <p>In connection with the use of the Services you may provide us with personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, password, name, phone number, gender, job title and other career or academic information ("Personal Information").  </p>
        <p>We collect information that your browser sends whenever you visit our website or use our Services (whether on a browser or an application) ("Log Data"). This Log Data may include information such as your computer's internet protocol ("IP") address, browser type, browser version, the pages of our website that you visit, the time and date of your visit, the time spent on those pages and other browsing or other statistics. </p>
        <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.  We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
        <p>By using the Services you agree that we may collect this data, irrespective of where you are located and even if such data is deemed to be sensitive or have some other special status under applicable laws.  </p>
        <h4>Use or Transfer of Data</h4>
        <p>We use your Personal Information for research, development, improvement and innovation of our Services.  We may seek to customise the Services as applicable to you.  We may need to transfer or disclose information where required by law or other legal processes or where requested by a governmental authority.  Some of your Personal Data may be publicly available.</p>
        <p>We may employ third party companies and individuals to facilitate the provision of our Services, to provide the Services on our behalf, to perform Service-related services or to assist us in analysing how our Service is used.  These third parties have or will have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
        <p>We endeavour to use commercially acceptable means of security to protect your Personal Information, but we cannot guarantee its absolute security or integrity.</p>
        <p>If you click on a third party link, you will be directed to that third party's site. We advise you to review the privacy policy of every site you visit.  We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
        <h4>Incorporation into Terms of Service</h4>
        <p>This policy forms part of the <a href="{{href-to 'terms-of-use'}}">Terms of Service</a>. This policy and all non-contractual obligations arising out of or in connection with it, shall be governed by and construed in accordance with the laws of the Republic of Singapore and subject to the non-exclusive jurisdiction of the Singapore courts.  All claims arising out of or relating to this policy or the Services will be subject to a reasonable dispute resolution mechanism determined by us provided that you agree to Singapore being a suitable location for such dispute resolution where necessary, and you agree not to assert any right that any other location is more suitable.  </p>

      </section>
    </div>
  </div>
</div>
{{render "footer"}}

{{outlet}}
