  <div class="box rounded progress-box">
    <h5 class="box-header">Your Profile</h5>
    <div class="columns">
        <div class="progress-item">
          <div class="col name text-right">Completeness</div>
          <div class="col progress-container">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 50%"></span>
              <p class="progress-meter-text">50%</p>
            </div>
          </div>
        </div>
        <div class="progress-item">
          <div class="col name text-right">Activity</div>
          <div class="col progress-container">
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 50%"></span>
              <p class="progress-meter-text">50%</p>
            </div>
          </div>
        </div>
      <p class="dim-text">Complete and active profiles have a higher chance of being surfaced and noticed.</p>
      <small><a href="">See how you can be more active on Brydge.</a></small>
    </div>
  </div>
