<header class="header-blue align-middle">
  <div class="row columns">
    <div class="top-bar">
        <div class="top-bar-title">
          <a href="{{href-to 'home'}}">
            <img src="https://storage.googleapis.com/brydge-assets/logo.svg" class="logo">
            <span>Beta</span>
          </a>
        </div>
        <div id="responsive-menu">
          <div class="top-bar-right">
            <ul class="top-bar-group menu menu-actions menu-action-links wrapper">
              <li>
                <ul class="menu no-bullet">
                  <li><a data-open="login-dialog" class="button clear">Log In</a></li>
                  <li><a href="{{href-to 'register'}}" class="button">Join</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</header>
