<header>
  <div class="title-bar">
    <div class="row collapse">
      <div class="title-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
						<a><img src="https://storage.googleapis.com/brydge-assets/logo.svg" class="logo"></a>
          </li>
          <li>
						{{top-bar-search}}
          </li>
        </ul>
      </div>
      <div class="title-bar-right">
				<ul class="top-bar-group menu menu-actions wrapper">
					<li>
						<ul class="menu no-bullet">
              <li><a href="{{href-to 'register'}}" class="button clear">Signup</a></li>
              <li><a data-open="login-dialog" class="button clear">Log in</a></li>
						</ul>
					</li>
				</ul>
      </div>
    </div>
  </div>
</header>

<div class="row columns wrapper">
</div>
