<div class="row">
  <div class="medium-6 small-centered columns">
    {{partial "partials/form-register"}} 
  </div>
</div>


<div class="row">
  <div class="medium-6 small-centered columns">
    {{partial "partials/form-request-invite"}}
  </div>
</div>

<div class="row">
  <div class="medium-10 small-centered columns">
    <div class="box">
      <section class="title">
        <h4>Verify you email</h4>
      </section>
      <section>
        
        <p>First things first, we will need you to verify your email. We have sent a verification link to <strong>email@email.com</strong>. In order to proceed, click on that link to verify your email.</p>
        <div class="text-center">
          <button class="button success">Resend email</button>
        </div>
      </section>
    </div>
  </div>
</div>
