{{#if model}}
<div class="row">
  <div class="medium-6 small-centered columns">
    {{partial "partials/form-register"}} 
  </div>
</div>

{{else}}

<div class="row">
  <div class="medium-6 small-centered columns">
    {{partial "partials/form-request-invite"}}
  </div>
</div>
{{/if}}
