<div class="box padding dim-text">
	<ul class="menu menu-dotted">
		<li>Help</li>
		<li>About</li>
		<li>Feedback</li>
		<li>BIC</li>
		<li>Careers</li>
	</ul>		
	<ul class="menu menu-dotted">
		<li>Terms of Use</li>
		<li>Privacy Policy</li>
	</ul>	
</div>
<strong><i class="fa fa-copyright"></i> BRYDGE</strong>
