<footer>
	<ul class="menu menu-dotted">
		<li>Help</li>
		<li>About</li>
		<li>Feedback</li>
		<li>BIC</li>
		<li>Careers</li>
	</ul>		
	<ul class="menu menu-dotted last">
		<li>Terms of Use</li>
		<li>Privacy Policy</li>
	</ul>	
	<strong>BRYDGE <i class="fa fa-copyright"></i></strong>

</footer>
