<header>
  <div class="title-bar">
    <div class="row collapse">
      <div class="title-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
						<a><img src="https://storage.googleapis.com/brydge-assets/logo.svg" class="logo"></a>
          </li>
        </ul>
      </div>
      <div class="title-bar-right">
				<ul class="top-bar-group menu menu-actions wrapper">
					<li>
						<ul class="user-info user-small user-session no-bullet">
              <li><a class="button clear" {{action 'logout'}} style="margin-top:5px;">Log out</a></li>
						</ul>
					</li>
				</ul>
      </div>
    </div>
  </div>
</header>

<div class="row columns wrapper">
</div>
