<div class="row align-center">
  <div class="medium-6 columns">
    <div class="page-heading">
      <h1>Terms of Service</h1>
      <p class="text-center">Stick to the rules. We will too!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="box row align-center">
    <div class="medium-9 columns">
      <section>
        <div class="spacer-2"></div>
        <p>Thank you for using our network, our products and services (the “Services”).  The Services are provided by Brydge Pte. Ltd. (“Brydge”, “we” or “us”) a Singapore-registered company.</p>
        <p>Your access to and use of the Services are subject to compliance with these terms and the <a href="{{href-to 'privacy-policy'}}">Privacy Policy</a>, collectively, the “terms”.  By using our Services, you are agreeing to all of these terms.  Where you are using the Services as part of your job, your employer is also agreeing to these terms.</p>
        <h4>Amendments</h4>
        <p>These terms will be updated from time to time as the Services are expanded or amended or as we will notify you on our website.  By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If such additional terms conflict with these terms, the additional terms shall take precedence to the extent required.  We are under no obligation to provide the Services to you – these may be discontinued at any time, in whole or in part, although we will try to give advance notice and ensure that you can obtain a copy of relevant data.  </p>
        <h4>Accounts</h4>
        <p>When you create an account with us, you must provide us information that is accurate and not misleading (including your real name or a name used on a legitimate and professional basis). Failure to do so will entitle us to terminate your account on our Service or notify other relevant parties.  You are responsible for any activities or actions under your account which is done under your password, whether your password is with our Service or a third-party service.  You agree to indemnify us for all losses, costs and expenses that we may incur as a result of any third party making any claims or allegations against us as a result of your actions or content on our platforms or in relation to the Services.  You must notify us as soon as possible upon becoming aware of any unauthorised use of, or potential access to, your account.</p>
        <p>Some of the Services provided by us to you include services in conjunction with, or through a third-party service provider.  Any use of or access to third party services is governed by the terms and conditions that the third party service provider will provide to you.  </p>
        <h4>Misuse</h4>
        <p>You may use our Services only as permitted by law, including laws in relation to privacy, harassment, spam, intellectual property, export control laws and regulatory and professional requirements. We may stop providing some or all of our Services to you, permanently, temporarily or indefinitely, if you do not comply with our terms or policies or if we are investigating suspected misconduct.</p>
        <p>You may not copy, modify, distribute, sell, or lease any part of our Services or included software, nor may you reverse engineer or attempt to extract the source code of that software, unless laws prohibit those restrictions or you have our express and written permission.</p>
        <h4>Intellectual Property Rights</h4>
        <p>We intend on ensuring that eventually you will own your content provided to us as part of the Services, subject to an irrevocable licence that permits us to also retain such content for legitimate business purposes and subject to our privacy and data protection policies.  For the purposes of our beta version however, you agree that using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. These terms do not grant you the right to use any branding or logos used in our Services. Do not remove, obscure, or alter any legal notices displayed in or along with our Services or those provided by third party service providers.</p>
        <h4>Disclaimers</h4>
        <p>Our services are provided to you on an “as is” basis.  We make no promises about the Services, including as to suitability, merchantability, fitness for any particular purposes or ability to meet your specific needs.  Where any jurisdiction has implied terms imposed on the provision of business services, to the extent permitted by applicable laws, we disclaim all such warranties, representations, guarantees or implied terms.  To the extent possible under applicable laws, we, and none of our officers or employees, are responsible or liable to you for any losses, included lost profits, revenues, loss of data or any other direct or indirect, special, consequential, unforeseeable, punitive or exemplary damages.  Where, under applicable laws, we are not permitted to exclude liability for a particular type of loss, our liability shall be limited to a refund of any amount you have paid us to use the Services.  </p>
        <h4>Standard terms</h4>
        <p>The uneforceability of any particular term shall not affect the enforceability of any other term. </p>
        <p>No third party shall benefit from any of these terms.  Any failure by to enforce any right or provision of these terms will not be considered a waiver.  These terms form the entire agreement between us and you regarding our Service, and any other or prior agreements we might have between us regarding the Service are superseded by these terms.   </p>
        <p>These terms, and all non-contractual obligations arising out of or in connection with these terms, shall be governed by and construed in accordance with the laws of the Republic of Singapore and subject to the non-exclusive jurisdiction of the Singapore courts.  All claims arising out of or relating to these terms or the Services will be subject to a reasonable dispute resolution mechanism determined by us provided that you agree to Singapore being a suitable location for such dispute resolution where necessary, and you agree not to assert any right that any other location is more suitable.  </p>

      </section>
    </div>
  </div>
</div>

{{render "footer"}}

{{outlet}}
