<div class="row">
  <div class="medium-6 small-centered columns">
    <div class="dialog-wrapper">
      <div class="page-dialog">
        <a href="/" class="logo"><img src="assets/brydge-blue.svg"></a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-6 small-centered columns">
    <div class="box">
      <section class="title">
        <h4>Request Sent</h4>
      </section>
      <section>
        Thank you for your interest in BRYDGE! We will be in touch shortly.
      </section>
    </div>
  </div>
</div>
