<div class="expanded row">
  <div class="columns large-8 medium-8 small-6 main-content">
    <div class="container">
      <div class="row">
        <div class="large-6 medium-8 small-centered columns">
          <div class="brydge-dialog dialog-wrapper">
            <div class="dialog-header">
              <a href="/" class="logo"><img src="assets/brydge-blue.svg"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-8 small-centered columns">
          <div class="box">
            <section class="title">
              <h4>Request Sent</h4>
            </section>
            <section>
              Thank you for your interest in BRYDGE! We will be in touch shortly.
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns large-4 medium-4 small-6 sidebar-content">
    <div class="container">
      {{partial 'partials/public-sidebar'}}
    </div>
  </div>
</div>
