<div class="row">
  <div class="medium-6 small-centered columns">
    <div class="dialog-wrapper">
      <div class="page-dialog">
        <a href="/" class="logo"><img src="assets/brydge-blue.svg"></a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-6 small-centered columns">
    <div class="box">
      <section class="title">
        <h4>Thank you</h4>
      </section>
      <section>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis temporibus incidunt, cupiditate tempora, mollitia assumenda repellat porro, beatae quod non enim iste eligendi velit. Quam odio officia minus consequuntur suscipit.
      </section>
    </div>
  </div>
</div>
