<div class="row mb50">
  <div class="columns medium-4 medium-centered">
    <div class="container">
      <a href="/" class="logo"><img src="https://storage.googleapis.com/brydge-assets/brydge-blue.svg"></a>
    </div>
  </div>
</div>
<div class="row mb50">
  <div class="columns text-center">
    <h1 class="mb20"><strong>Done, we've unsubscribed you from that list.</strong></h1>
    <p>
      <big>
      That's usually where we announce new products, features, and other exciting things. So if you want back in, just check the relevant box on your <a href="https://brydge.com/settings">Settings</a> page.
      </big>
    </p>
  </div>
</div>
<div class="row">
  <div class="columns text-center">
    <ul class="no-bullet unsubscribe-menu">
      <li><a href="https://brydge.com">Home</a></li>
      <li><a href="https://www.facebook.com/brydgedotcom" target="_blank">Brydge on Facebook</a></li>
      <li><a href="https://medium.com/brydgedotcom" target="_blank">Brydge on Medium</a></li>
    </ul>
  </div>
</div>
