{{partial "partials/header-white"}}

<div class="main-content">
    <div class="container">
      <div class="row">
        <div class="large-8 medium-8 small-centered columns">
            <h2 class="text-center">
              Thanks for signing up. Now we just need to confirm your email. Check you inbox and follow the link to your profile!
            </h2>
        </div>
      </div>
    </div>
  </div>

<footer>
  {{search-box}}
</footer>
