<div class="row">
  <div class="columns medium-5 sidebar">
  </div>

  <div class="columns medium-7">
    {{#each model as |item|}}
      {{ask-card-pending item=item}}
    {{/each}}
    {{#brydge-scroller model=model onClick="load"}}
      {{#if isLoading}}
        <div class="loader">Loading...</div>
      {{/if}}
    {{/brydge-scroller}}
  </div>
</div>
