<div class="row">
  <div class="columns medium-7">
    {{#each model as |item|}}
      { id: {{item.id}}, title: {{item.title}}, image: {{item.image}} }<br>
    {{/each}}
  </div>
  <div class="columns medium-5">
  </div>
</div>
