<h1>Testing</h1>
<button class="button"{{action "test"}}>Test</button>


{{test-component clicked="click" value="Submit"}}

{{spinning-button clicked="click" value="Connect" class="button large connected expanded"}}


