<h1>Testing</h1>
<div class="row">
	<div class="columns medium-6">
		{{#each experiences as |item|}}
			<div>{{timestamp item.from}} - {{item.company}} {{item.currentCompany}}</div>
		{{/each}}
		
	</div>
</div>
