<div class="row">
  <div class="columns medium-5 sidebar">
    <a data-open="industry-picker">Industry Picker</a>

  </div>

  <div class="columns medium-7">
  </div>

  {{industry-picker industries=model.categories selected=favorite submit="submit"}}
</div>
