<div class="row">
  <div class="columns medium-5 sidebar">

  </div>

  <div class="columns medium-7">
    <div class="header">
      <span class="badge badge-large success">9</span>
      <span class="badge badge-large success">99</span>
      <span class="badge badge-large success">999</span>
    </div>
  </div>


</div>
