<div class="row">
  <div class="columns medium-5 sidebar">
  </div>

  <div class="columns medium-7">
    <button class="button"{{action "load" "messages"}}>Load</button>
    <ul>
    {{#each messages as |item|}}
      <li>{{item.id}}: {{item.content}}</li>
    {{/each}}
    </ul>
  <hr>



  </div>

</div>
