<div class="row">
  <div class="columns medium-5 sidebar">
  </div>

  <div class="columns medium-7">
    <button class="button" {{action "load"}}>Load</button>
    <div>
    {{#each model as |item|}}
      <div class="test">
        {{item.id}}, {{item.content}}, {{item.answer}}
      </div>
    {{/each}}
    </div>
  </div>
</div>
