<div class="row">
  <div class="columns medium-5 sidebar">
  </div>

  <div class="columns medium-7">
    <button class="button"{{action "load"}}>Load</button>
    <ul>
    {{#each messages as |item|}}
      <li>{{item.content}}</li>
    {{/each}}
    </ul>
  <hr>

  <ul>
  {{#each xxx as |item|}}
    <li>{{item.content}}</li>
  {{/each}}
  </ul>


  </div>

</div>
