<h1>Testing</h1>
{{input value=txt}}
<button class="button" {{action "add" }}>Add</button>
<ul>
	{{#each items as |item|}}
	<li>{{term-date-format item.updatedAt 'MM/DD/YYYY'}}: {{item.content}}</li>
	{{/each}}
</ul>