<div class="row">
  <div class="columns medium-5 sidebar">
    <a data-open="video-teaser">Use the Industry Picker</a>

  </div>

  <div class="columns medium-7">

    {{modal-player name="video-teaser" videoid="Y1yOKql2xc0"}}

  </div>


</div>
