<div class="row">
  <div class="columns medium-5 sidebar">
  </div>

  <div class="columns medium-7">
    {{dialog-box name="delete" title="Delete Post" content="Are you sure you want to delete this post?" submit="deletePost"}}
  </div>

  <button class="button" data-open="dialog-box-delete" {{action "select"}}>Open</button>
</div>
