<div class="row">
  <div class="columns medium-5 sidebar">
  </div>

  <div class="columns medium-7">
    <form action="" class="brydge-form">
      {{input-date-picker selected=date value=date}}
    </form>
  </div>
</div>
