<div class="row text-justify">
  <div class="columns medium-5 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto iusto reprehenderit accusantium dolores vel enim pariatur sit laboriosam quia hic, officia fugiat amet doloremque, delectus dolore, assumenda sunt perferendis quis.
  </div>

  <div class="columns medium-7">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut, eius similique ratione velit, saepe consectetur, animi consequuntur perferendis et nulla. Facilis reprehenderit, animi. Mollitia accusamus dolores tenetur pariatur accusantium!
    <div class="row">
      <div class="column medium-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti praesentium consectetur qui magni debitis vitae id, perspiciatis, quia voluptates voluptatem unde illum est soluta esse beatae fuga dignissimos, numquam cupiditate!
      </div>
      <div class="column medium-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti praesentium consectetur qui magni debitis vitae id, perspiciatis, quia voluptates voluptatem unde illum est soluta esse beatae fuga dignissimos, numquam cupiditate!
      </div>
    </div>
  </div>


</div>
<div class="row">
  <div class="columns">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quibusdam fuga, laudantium voluptate recusandae incidunt, possimus dolorem nemo ipsam magnam ullam at ipsa. Sapiente fugit nemo voluptatum sint explicabo. Quia.
  </div>
</div>
